<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/work-order/production-plan" routerLinkActive="active">{{ 'return' | i18n }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/work-order" routerLinkActive="active">{{
        'breadcrumb.work-order' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-steps nzType="navigation" [nzCurrent]="stepIndex">
  <nz-step nzTitle="{{ 'steps.production-plan.new.info' | i18n }}"> </nz-step>
  <nz-step nzTitle="{{ 'steps.production-plan.new.order-line' | i18n }}"> </nz-step>
  <nz-step nzTitle="{{ 'steps.production-plan.new.bom' | i18n }}"> </nz-step>
  <nz-step nzTitle="{{ 'steps.production-plan.new.confirm' | i18n }}"> </nz-step>
</nz-steps>

<div class="steps-content" *ngIf="stepIndex === 0">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="8">
          {{ 'production-plan.number' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
          <input appFkey variable="production-plan" nz-input [(ngModel)]="currentProductionPlan.number"
            (blur)="productionPlanNumberOnBlur($event)" required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="8">
          {{ 'description' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
          <input nz-input [(ngModel)]="currentProductionPlan.description" required />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</div>

<!-- Show the order line that is valid for new production plan-->
<div class="steps-content" *ngIf="stepIndex === 1">
  <nz-spin [nzSpinning]="isSearchingOrder" [nzSize]="'large'">

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'order.number' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input [(ngModel)]="filterOrderNumber" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'item.name' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input [(ngModel)]="filterItemName" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <button nz-button (click)="findMatchedOrderLines()">
            {{ 'search' | i18n }}
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button (click)="clearMatchedOrderLines()">
            {{ 'clear' | i18n }}
          </button>
        </nz-form-item>
      </div>
    </div>
  
    <div class="search-result-list">
      <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #basicTable [nzData]="validOrderLines">
        <thead>
  
          <th></th>
          <!--

          <th [nzSelections]="listOfOrderLineTableSelection" [(nzChecked)]="orderLineTableChecked"
            [nzIndeterminate]="orderLineTableIndeterminate" (nzCheckedChange)="onOrderLineTableAllChecked($event)"
              [nzDisabled]="validOrderLines.length === 0"></th>

          -->
          <th *ngFor="let column of listOfOrderLineTableColumns" [nzShowSort]="column.showSort"
            [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn"
            [nzShowFilter]="column.showFilter">
            {{ column.name | i18n }}
          </th>
  
  
        </thead>
        <tbody>
          <tr *ngFor="let orderLine of basicTable.data">
            <td [nzChecked]="setOfOrderLineTableCheckedId.has(orderLine.id!)"
              (nzCheckedChange)="onOrderLineTableItemChecked(orderLine.id!, $event)"></td>
  
            <td>{{ orderLine.orderNumber }}</td>
            <td>{{ orderLine.number }}</td>
            <td>{{ orderLine.item?.name }}</td>
            <td>{{ orderLine.expectedQuantity }}</td>
            <td>{{ orderLine.openQuantity }}</td>
            <td>{{ orderLine.inprocessQuantity }}</td>
            <td>{{ orderLine.shippedQuantity }}</td>
            <td>{{ orderLine.productionPlanInprocessQuantity }}</td>
            <td>{{ orderLine.productionPlanProducedQuantity }}</td>
            <td>{{ orderLine.inventoryStatus?.description }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </nz-spin>
</div>
<!-- Show the production plan list and allow the user to input
    1. BOM
    2. production quantity
    We will allow the user to 
    1. add item without order line
    2. remove any existing line from the current plan
-->

<div *ngIf="stepIndex === 2" class="small-card">
  <div class="search-result-list">
    <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #nestedTable [nzData]="currentProductionPlan.productionPlanLines"
      [nzShowPagination]="false">
      <thead>

        <tr>
          <th nzShowExpand></th>
          <th>
            {{ 'order.number' | i18n }}
          </th>
          <th>
            {{ 'order.line.number' | i18n }}
          </th>
          <th>
            {{ 'item' | i18n }}
          </th>
          <th>
            {{ 'order.line.expectedQuantity' | i18n }}
          </th>
          <th>
            {{ 'order.line.openQuantity' | i18n }}
          </th>
          <th>
            {{ 'order.line.inprocessQuantity' | i18n }}
          </th>
          <th>
            {{ 'order.line.shippedQuantity' | i18n }}
          </th>
          <th>
            {{ 'inventory.status' | i18n }}
          </th>
          <th nzWidth="200px">
            {{ 'bill-of-material.number' | i18n }}
          </th>
          <th>
            {{ 'production-plan.line.expectedQuantity' | i18n }}
          </th>
          <th>
            {{ 'action' | i18n }}
          </th>
        </tr>

      </thead>

      <tbody>
        <ng-container *ngFor="let productionPlanLine of nestedTable.data; let recordIndex = index">

          <tr>

            <td nzShowExpand [(nzExpand)]="mapOfExpandedBOMId[recordIndex]" [nzDisabled]="productionPlanLine.billOfMaterial === null">
            </td>

            <td>{{ productionPlanLine.orderLine?.orderNumber }}</td>
            <td>{{ productionPlanLine.orderLine?.number }}</td>
            <td>
              <!-- If this is created from order line, then we won't allow the user to change
            the item 
      -->
              <span *ngIf="productionPlanLine.orderLine !== null">{{ productionPlanLine.item?.name }}</span>

              <!-- If we create a production plan line without an order line, then we allow the
          user to select a item -->
              <div *ngIf="productionPlanLine.orderLine === null">
                <nz-input-group nzCompact>
                  <nz-select nzShowSearch nzAllowClear [(ngModel)]="productionPlanLine.itemId"
                    (ngModelChange)="itemNameSelected($event, productionPlanLine)" style="width: 200px;">
                    <nz-option *ngFor="let item of listOfValidBomItem" [nzLabel]="item.name" [nzValue]="item.id">
                    </nz-option>
                  </nz-select>
                </nz-input-group>
              </div>
            </td>
            <td>{{ productionPlanLine.orderLine?.expectedQuantity }}</td>
            <td>{{ productionPlanLine.orderLine?.openQuantity }}</td>
            <td>{{ productionPlanLine.orderLine?.inprocessQuantity }}</td>
            <td>{{ productionPlanLine.orderLine?.shippedQuantity }}</td>
            <td>
              <!-- If we create the production plan from order line, then
                we force the user to only use the inventory status from the order line
                Otherwise, we allow the user to select a valid inventory status
              -->
              <span *ngIf="productionPlanLine.orderLine !== null">
                {{ productionPlanLine.orderLine?.inventoryStatus?.description }}
              </span>

              <span *ngIf="productionPlanLine.orderLine === null">

                <nz-form-item nzFlex>

                  <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
                    nzErrorTip="{{ 'error.form.field.required' | i18n }}">
                    <nz-select nz-input [ngModel]="productionPlanLine.inventoryStatus?.name"
                      (ngModelChange)="inventoryStatusChange($event, productionPlanLine)" style="width: 250px">
                      <nz-option *ngFor="let inventoryStatus of availableInventoryStatuses"
                        [nzLabel]="inventoryStatus.description"
                        [nzValue]="inventoryStatus.name">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </span>

            </td>
            <td nzWidth="200px">
              <nz-form-item *ngIf="productionPlanLine.item != null">
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
                  nzErrorTip="{{ 'error.form.field.required' | i18n }}">
                  <nz-select nz-input [(ngModel)]="selectedBOM[productionPlanLine.item!.name]"
                    (ngModelChange)="selectedBOMChange($event, productionPlanLine)" style="width: 200px">
                    <nz-option *ngFor="let billOfMaterial of this.mapOfAvailableBillOfMaterial[productionPlanLine.item!.name]"
                      [nzLabel]="billOfMaterial.number!" [nzValue]="billOfMaterial.number!">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </td>
            <td>
              <nz-form-item>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                  <input nz-input [(ngModel)]="productionPlanLine.expectedQuantity" />
                </nz-form-control>
              </nz-form-item>
            </td>
            <td></td>
          </tr>

          <tr [nzExpand]="mapOfExpandedBOMId[recordIndex]">


            <nz-tabset>

              <nz-tab nzTitle=" {{ 'bill-of-material.line' | i18n }}">
                <nz-table [nzScroll]="{ x: 'true', y: 'true' }" 
                [nzData]="productionPlanLine.billOfMaterial == null ? [] : productionPlanLine.billOfMaterial!.billOfMaterialLines"
                  nzSize="middle" [nzShowPagination]="false">
                  <thead>
                    <th>
                      {{ 'bill-of-material.line.number' | i18n }}
                    </th>
                    <th>
                      {{ 'item' | i18n }}
                    </th>
                    <th>
                      {{ 'item.description' | i18n }}
                    </th>
                    <th>
                      {{ 'bill-of-material.line.expectedQuantity' | i18n }}
                    </th>
                    <th>
                      {{ 'inventory.status' | i18n }}
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let billOfMaterialLine of productionPlanLine.billOfMaterial?.billOfMaterialLines">
                      <td>{{ billOfMaterialLine.number }}</td>
                      <td>{{ billOfMaterialLine.item?.name }}</td>
                      <td>{{ billOfMaterialLine.item?.description }}</td>
                      <td>{{ billOfMaterialLine.expectedQuantity }}</td>
                      <td>{{ billOfMaterialLine.inventoryStatus?.name }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-tab>
              <nz-tab nzTitle=" {{ 'work-order-instruction-template' | i18n }}">
                <nz-table [nzScroll]="{ x: 'true', y: 'true' }" 
                [nzData]="productionPlanLine.billOfMaterial == null ? [] : productionPlanLine.billOfMaterial!.workOrderInstructionTemplates"
                  nzSize="middle" [nzShowPagination]="false">
                  <thead>
                    <th>
                      id
                    </th>
                    <th>
                      {{ 'work-order-instruction-template.sequence' | i18n }}
                    </th>
                    <th>
                      {{ 'work-order-instruction-template.instruction' | i18n }}
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let workOrderInstructionTemplate of productionPlanLine.billOfMaterial?.workOrderInstructionTemplates">
                      <td>{{ workOrderInstructionTemplate.id }}</td>
                      <td>{{ workOrderInstructionTemplate.sequence }}</td>
                      <td>{{ workOrderInstructionTemplate.instruction }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-tab>

            </nz-tabset>


          </tr>
        </ng-container>
    </tbody>

    </nz-table>
<!--
    <div nz-row nzType="flex" nzJustify="start" style="padding: 10px;">
      <button nz-button nzType="primary" (click)="addEmptyProductionLine()">
        {{ 'add' | i18n }}
      </button>
    </div>

-->
  </div>


</div>
<!-- Show the result for confirm -->
<div *ngIf="stepIndex === 3">

  <nz-spin [nzSpinning]="isConfirming" [nzSize]="'large'">
    <nz-descriptions nzTitle="{{'production-plan' | i18n}}" nzBordered>
      <nz-descriptions-item nzTitle="{{'production-plan.number' | i18n}}">
        {{ currentProductionPlan.number}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'production-plan.description' | i18n}}">
        {{ currentProductionPlan.description}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'production-plan.expectedQuantity' | i18n}}">
        {{ currentProductionPlan.expectedQuantity}}
      </nz-descriptions-item>
    </nz-descriptions>

  <!--
    Show the result for confirm
  -->

    <div class="search-result-list">

      <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #resultTable [nzData]="currentProductionPlan.productionPlanLines">
        <thead>

          <tr>
            <th>
              {{ 'order.number' | i18n }}
            </th>
            <th>
              {{ 'order.line.number' | i18n }}
            </th>
            <th>
              {{ 'item' | i18n }}
            </th>
            <th>
              {{ 'order.line.expectedQuantity' | i18n }}
            </th>
            <th>
              {{ 'order.line.openQuantity' | i18n }}
            </th>
            <th>
              {{ 'order.line.inprocessQuantity' | i18n }}
            </th>
            <th>
              {{ 'order.line.shippedQuantity' | i18n }}
            </th>
            <th>
              {{ 'inventory.status' | i18n }}
            </th>
            <th>
              {{ 'bill-of-material.number' | i18n }}
            </th>
            <th>
              {{ 'production-plan.line.expectedQuantity' | i18n }}
            </th>
          </tr>

        </thead>

        <tbody>
          <tr *ngFor="let productionPlanLine of resultTable.data">

            <td>{{ productionPlanLine.orderLine?.orderNumber }}</td>
            <td>{{ productionPlanLine.orderLine?.number }}</td>
            <td> {{ productionPlanLine.item?.name }}

            </td>
            <td>{{ productionPlanLine.orderLine?.expectedQuantity }}</td>
            <td>{{ productionPlanLine.orderLine?.openQuantity }}</td>
            <td>{{ productionPlanLine.orderLine?.inprocessQuantity }}</td>
            <td>{{ productionPlanLine.orderLine?.shippedQuantity }}</td>
            <td>
              {{ productionPlanLine.inventoryStatus?.description }}
            </td>
            <td>
              {{ productionPlanLine.billOfMaterial?.number}}
            </td>
            <td>
              {{ productionPlanLine.expectedQuantity}}
            </td>
          </tr>
        </tbody>

      </nz-table>
    </div>
  </nz-spin>

</div>

<div class="steps-action">
  <button nz-button nzType="default" (click)="previousStep()" *ngIf="stepIndex > 0"
    [disabled]="previousButtonDisabled()">
    <span>{{ 'steps.previous' | i18n }}</span>
  </button>
  <nz-divider nzType="vertical" *ngIf="canbeSkipped(stepIndex)"></nz-divider>
  <a (click)="skipToNextStep()" *ngIf="canbeSkipped(stepIndex)">
    <span>{{ 'steps.skip' | i18n }}</span>
  </a>
  <nz-divider nzType="vertical" *ngIf="stepIndex < 3"></nz-divider>
  <button nz-button nzType="default" (click)="nextStep()" *ngIf="stepIndex < 3" [disabled]="nextButtonDisabled()">
    <span>{{ 'steps.next' | i18n }}</span>
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button nz-button nzType="primary" (click)="confirmProductionPlanComplete()" *ngIf="stepIndex === 3">
    <span> {{ 'confirm' | i18n }}</span>
  </button>
</div>