<page-header [title]="'page.production-line.header.title' | translate"> </page-header>


<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table #rowSelectionTable nzShowSizeChanger nzShowPagination [nzData]="productionLineKanbanInformationList">
    <thead>
      <tr>

        <th *ngFor="let column of listOfColumns" [nzShowSort]="column.showSort" [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn"
          [nzShowFilter]="column.showFilter">
          {{ column.name | translate }}
        </th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td>{{ data.productionLineName }}</td>
        <td>{{ data.workOrderNumber }}</td>
        <td>{{ data.productionLineModal }}</td>
        <td>{{ data.targetProduction }}</td>
        <td>{{ data.actualProduction }}</td>
        <td>{{ data.targetTotalProduction }}</td>
        <td>{{ data.actualTotalProduction }}</td>
        <td>{{ data.productionStatus }}</td>
        <td>{{ data.shift }}</td>
        <td>{{ data.yieldRate }}</td>





      </tr>
    </tbody>
  </nz-table>


</div>