<page-header *ngIf="!fromMenu" [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnTpl"></page-header>
<page-header *ngIf="fromMenu"></page-header>

<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'description.field.breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'menu.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'menu.main.util' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/util/file-upload" routerLinkActive="active">{{
        'menu.main.util.file-upload' | translate
      }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<ng-template #returnTpl>
  <a (click)="back()">
    {{ 'description.field.link.return' | translate }}
  </a>
</ng-template>

<ng-container>
  <nz-card>
    <form nz-form [formGroup]="loadFileForm">
      <nz-form-item>
        <nz-form-label for="fileType" [nzSpan]="3" nzRequired="true">
          {{'description.field.label.file-upload.filetype' | translate}}
        </nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select nzPlaceHolder="{{'description.field.placeholder.file-upload.filetype' | translate}}" name="Type"
            formControlName="fileTypeSelector" (ngModelChange)="selectedFileTypeChanged($event)"
            [nzDisabled]="!fromMenu">
            <nz-option *ngFor="let fileType of allowedFileTypes" [nzLabel]="fileType.label" [nzValue]="fileType.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-upload [nzAction]="fileUploadUrl" [nzDisabled]="fileUploadDisabled">
          <button nz-button><i nz-icon nzType="upload"></i><span>
              {{'description.field.button.file-upload' | translate}}
            </span></button>
        </nz-upload>
      </nz-form-item>
    </form>
  </nz-card>
</ng-container>
