<page-header title="{{'system-controlled-number' |  i18n}}" > </page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
  <!-- Form to query the result  -->
  <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form"> 

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="3" [nzXs]="3" nzFor="variable">
            {{ 'variable' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input name="variable" id="variable" formControlName="variable">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()"  >
          {{ 'search' | i18n }}
        </button>
        <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
      </div>
    </div>
  </form> 
 
 
  
  <div class="search-result-list"> 
    
      <!--
    <div nz-row nzType="flex" nzJustify="start" style="padding-left: 25px;">
        <app-util-table-column-selection [tableColumnsConfiguration]="customColumns" (myModelChange)="columnChoosingChanged()"></app-util-table-column-selection>
      </div>
    -->
    <st #st [data]="systemControlledNumbers" [columns]="columns" [footer]="tableFoot">
    </st>
  
  </div>
 
</nz-spin>
<ng-template #tableFoot>

  @if(searchResult != '') {

    <div nz-row nzType="flex" nzJustify="start">
      {{searchResult}}
    </div>
  }
  <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly">
    
    <button nz-button nzType="primary" routerLink="/util/system-controlled-number/maintenance" routerLinkActive="active">
      {{ 'add' | i18n }}
    </button>
  </div>
</ng-template>



 