<page-header></page-header>




<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">

  <div *ngIf="lightMESConfiguration == null">

    <nz-result nzStatus="warning" [nzIcon]="'info-circle'" nzTitle="{{'light MES Configuration is not setup' | i18n}}"> 
      <div nz-result-extra>
        please go to <a routerLink="/work-order/light-mes-configuration" routerLinkActive="active">Light MES Configuration</a> page to setup the configuration
      </div>
    </nz-result>
  </div>


  <nz-card  *ngIf="lightMESConfiguration != null" >
    <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let machine of machines"  >
      <nz-card [nzTitle]="titleTemplate" [nzBodyStyle]="getBodyStyle(machine)">
           
         <div *ngFor="let machineStatistics of machine.machineStatistics">
            <p style="font-size: 15px;">{{machineStatistics.itemName}}</p>
            <p>{{machineStatistics.producedQuantity}} / {{machineStatistics.shiftEstimationQuantity}} ({{machineStatistics.achievementRate | percent: '1.0-2'}})</p>
          </div>
          <p>last hour pulse count: {{machine.pulseCount}}</p>
          <p>last hour cycle time: {{machine.cycleTime}}</p>
          <ng-template #titleTemplate>
            <strong>{{machine.machineNo}}</strong>
          </ng-template>
      </nz-card>
    </div> 
  </nz-card>
</nz-spin>