<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/work-order/work-order" routerLinkActive="active"
    [queryParams]="{ number: currentWorkOrder?.number }">{{ 'return' | translate }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/work-order" routerLinkActive="active">{{
        'breadcrumb.work-order' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>


<div nz-row style="padding: 10px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="2" [nzSize]="'small'" (nzIndexChange)="onStepsIndexChange($event)">
      <nz-step nzTitle="{{ 'steps.work-order-complete.info.title' | translate }}"
        nzDescription="{{ 'steps.work-order-complete.info.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.work-order-complete.user-kpi.title' | translate }}"
        nzDescription="{{ 'steps.work-order-complete.user-kpi.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.work-order-complete.confirm.title' | translate }}"
        nzDescription="{{ 'steps.work-order-complete.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>

<!-- Show the work order information -->
<nz-card nzTitle="{{ 'work-order' | translate}}" *ngIf="workOrderCompleteTransaction !== undefined">

  <nz-descriptions nzBordered>
    <nz-descriptions-item nzTitle="{{ 'work-order.number' | translate}}">
      {{ workOrderCompleteTransaction.workOrder.number}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'item-name' | translate}}">
      {{ workOrderCompleteTransaction.workOrder.item?.name}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'item.description' | translate}}">
      {{ workOrderCompleteTransaction.workOrder.item?.description}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'work-order.expected-quantity' | translate}}">
      {{ workOrderCompleteTransaction.workOrder?.expectedQuantity}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'work-order.produced-quantity' | translate}}">
      {{ workOrderCompleteTransaction.workOrder?.producedQuantity}}</nz-descriptions-item>
  </nz-descriptions>
</nz-card>


<!-- Table to show work order  lines-->

<nz-card nzTitle="{{ 'work-order.line' | translate}}" *ngIf="workOrderCompleteTransaction !== undefined">
  <div class="search-result-list">
    <nz-table [nzData]="workOrderCompleteTransaction?.workOrderLineCompleteTransactions" nzShowPagination="false"
      nzBordered="true" #workOrderLineTable>

      <thead>
        <th>
          {{ 'work-order.line.number' | translate }}</th>
        <th>
          {{ 'item' | translate }}</th>
        <th>
          {{ 'item.description' | translate }}</th>
        <th>
          {{ 'work-order.line.expectedQuantity' | translate }}</th>
        <th>
          {{ 'work-order.line.openQuantity' | translate }}</th>
        <th>
          {{ 'work-order.line.inprocessQuantity' | translate }}</th>
        <th>
          {{ 'work-order.line.deliveredQuantity' | translate }}</th>
        <th>
          {{ 'work-order.line.consumedQuantity' | translate }}</th>
        <th>
          {{ 'inventory.status' | translate }}</th>
        <th>
          {{ 'work-order.line.override-consumed-quantity' | translate }}</th>
        <th>
          {{ 'work-order.line.scrappedQuantity' | translate }}</th>
        <th>
          {{ 'work-order.line.returnMaterialRequest' | translate }}</th>

      </thead>
      <tbody>

        <tr *ngFor="let data of workOrderLineTable.data">
          <td>{{ data.workOrderLine.number }}</td>
          <td>{{ data.workOrderLine.item.name }}</td>
          <td>{{ data.workOrderLine.item.description }}</td>
          <td>{{ data.workOrderLine.expectedQuantity }}</td>
          <td>{{ data.workOrderLine.openQuantity }}</td>
          <td>{{ data.workOrderLine.inprocessQuantity }}</td>
          <td>{{ data.workOrderLine.deliveredQuantity }}</td>
          <td>{{ data.workOrderLine.consumedQuantity }}</td>
          <td>{{ data.workOrderLine.inventoryStatus.name }}</td>
          <td>
            {{ data.adjustedConsumedQuantity }}

          </td>
          <td>{{data.scrappedQuantity}}
          </td>
          <td>
            <ul *ngIf="data.returnMaterialRequests.length > 0">
              <li *ngFor="let returnMaterialRequest of data.returnMaterialRequests">

                <a nz-popover nzPopoverTitle="{{returnMaterialRequest.lpn}}"
                  [nzPopoverContent]="returnMaterialRequestDetails">{{returnMaterialRequest.lpn}}</a>

                <ng-template #returnMaterialRequestDetails>


                  <nz-descriptions nzBordered="true" nzSize="small">
                    <nz-descriptions-item nzTitle="{{'lpn' | translate}}">{{returnMaterialRequest.lpn}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="{{'item' | translate}}">{{data.workOrderLine.item?.name}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="{{'item.description' | translate}}">
                      {{data.workOrderLine.item?.description}}</nz-descriptions-item>

                    <nz-descriptions-item nzTitle="{{'quantity' | translate}}">
                      {{ returnMaterialRequest.quantity | translate}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="{{'inventory-status' | translate}}">
                      {{'INVENTORY-STATUS-' + returnMaterialRequest.inventoryStatus?.name | translate}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="{{'item-package-type' | translate}}">
                      {{returnMaterialRequest.itemPackageType?.name}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="{{'location' | translate}}">{{returnMaterialRequest.location}}
                    </nz-descriptions-item>

                  </nz-descriptions>
                </ng-template>
              </li>

            </ul>
          </td>

        </tr>
      </tbody>

    </nz-table>
  </div>

</nz-card>

<!-- Table to show work order  kpi-->
<nz-card nzTitle="{{ 'work-order.kpi' | translate}}" *ngIf="workOrderCompleteTransaction !== undefined">
  <div class="search-result-list">
    <nz-table [nzData]="kpis" nzShowPagination="false" nzBordered="true" #kpiTable>

      <thead>
        <tr>
          <th>{{ 'username' | translate }}</th>
          <th>{{ 'working-team' | translate }}</th>
          <th>{{ 'amount' | translate }}</th>
          <th>{{ 'KPIMeasure' | translate }}</th>
          <th>{{ 'original-amount' | translate }}</th>
          <th>{{ 'original-KPIMeasure' | translate }}</th>
          <th>{{ 'changed' | translate }}?</th>
        </tr>

      </thead>
      <tbody>

        <tr *ngFor="let data of kpiTable.data">
          <td>{{ data.username }}</td>
          <td>{{ data.workingTeamName }}</td>
          <td>{{ data.amount }}</td>
          <td>{{ 'KPI-MEASUREMENT-' +data.kpiMeasurement | translate }}</td>
          <td>{{ data.originalAmount }}</td>
          <td>{{ 'KPI-MEASUREMENT-' +data.originalKpiMeasurement| translate  }}</td>
          <td><span style="color: red;" *ngIf=" data.changed">{{ data.changed + "" | translate }}</span><span
              *ngIf="!data.changed">{{ data.changed + "" | translate }}</span></td>

        </tr>
      </tbody>

    </nz-table>
  </div>
</nz-card>
<div nz-row style="padding-top: 10px;">


  <button nz-button nzType="primary" (click)="confirmWorkOrderComplete()" [nzLoading]="savingInProcess">
    {{ 'confirm' | translate }}
  </button>
</div>
