<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/inventory/inventory-adjust" routerLinkActive="active">{{
    'description.field.link.return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'description.field.breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/inventory/inventory-adjust" routerLinkActive="active">{{
        'description.field.breadcrumb.inventory-adjust' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<ng-container>
  <nz-card [nzActions]="[actionConfirm]">
  </nz-card>
</ng-container>


<ng-template #actionConfirm>
  <a nz-button nzType="primary" routerLink="/inventory/inventory-quantity-change/confirm"
    [queryParams]="{by : previousApplication}" routerLinkActive="active" (click)="saveCurrentInventory()">
    {{ 'description.steps.next' | translate }} :
    {{ 'description.steps.confirm.title' | translate }}</a>
</ng-template>
