<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/inventory/item" routerLinkActive="active">{{ 'return' | translate }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/inventory/item" routerLinkActive="active">{{
        'inventory' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'item' | translate }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-steps nzType="navigation" [nzCurrent]="stepIndex" style="padding: 15px">
  <nz-step nzTitle="{{ 'steps.item.info' | translate }}"> </nz-step>
  <nz-step nzTitle="{{ 'steps.item.package-type.info' | translate }}"> </nz-step>
  <nz-step nzTitle="{{ 'steps.item.confirm' | translate }}"> </nz-step>
</nz-steps>

<!-- Show basic item information -->
<div class="small-card" *ngIf="stepIndex === 0">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'item.name' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input [(ngModel)]="currentItem.name" required />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'item.description' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input [(ngModel)]="currentItem.description" required />
        </nz-form-control>
      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'item-family' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <nz-select nzAllowClear (ngModelChange)="itemFamilySelected($event)" style="width: 200px;">

            <nz-option *ngFor="let validItemFamily of validItemFamilies" [nzValue]="validItemFamily.id"
              [nzLabel]="validItemFamily.description">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'trackingVolumeFlag' | translate }}
          </nz-form-label>
          <label nz-checkbox [(ngModel)]="currentItem.trackingVolumeFlag"></label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'trackingLotNumberFlag' | translate }}
          </nz-form-label>
          <label nz-checkbox [(ngModel)]="currentItem.trackingLotNumberFlag"></label>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'allowCartonization' | translate }}
          </nz-form-label>
          <label nz-checkbox [(ngModel)]="currentItem.allowCartonization"></label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'trackingManufactureDateFlag' | translate }}
          </nz-form-label>
          <label nz-checkbox [(ngModel)]="currentItem.trackingManufactureDateFlag"></label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'shelfLifeDays' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input [(ngModel)]="currentItem.shelfLifeDays" required />
        </nz-form-control>
      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'trackingExpirationDateFlag' | translate }}
          </nz-form-label>
          <label nz-checkbox [(ngModel)]="currentItem.trackingExpirationDateFlag"></label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'allowAllocationByLPN' | translate }}
          </nz-form-label>
          <label nz-checkbox [(ngModel)]="currentItem.allowAllocationByLPN"></label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'allocationRoundUpStrategyType' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <nz-select nzAllowClear (ngModelChange)="allocationRoundUpStrategyTypeChanged($event)" style="width: 200px;">
            <nz-option *ngFor="let allocationRoundUpStrategyType of allocationRoundUpStrategyTypes | keys"
              nzValue="{{ allocationRoundUpStrategyType.key }}"
              nzLabel="{{ 'ALLOCATION-ROUND-UP-STRATEGY-TYPE-' + allocationRoundUpStrategyType.key | translate }}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'allocationRoundUpStrategyValue' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <nz-input-number [(ngModel)]="currentItem.allocationRoundUpStrategyValue" [nzStep]="0.01">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>

    </div>

  </div>



  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'unit-cost' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-number [(ngModel)]="currentItem.unitCost" [nzStep]="0.01">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
</div>

<!-- Maintain package type -->
<div *ngIf="stepIndex === 1" class="small-card">

  <div class="search-result-list">
    <nz-table #nestedTable [nzData]="currentItem.itemPackageTypes" [nzShowPagination]="false">
      <thead>

        <tr>
          <th nzShowExpand></th>
          <th>
            {{ 'name' | translate }}
          </th>
          <th>
            {{ 'description' | translate }}
          </th>
          <th>
            {{ 'action' | translate }}
          </th>
        </tr>

      </thead>

      <tbody>
        <ng-container *ngFor="let data of nestedTable.data; let recordIndex = index">

          <tr>

            <td nzShowExpand [(nzExpand)]="mapOfExpandedItemPackageTypes[recordIndex]"
              [nzDisabled]="data.itemUnitOfMeasures?.size === 0">
            </td>

            <td>

              <input nz-input [(ngModel)]="data.name" required /> </td>
            <td>

              <input nz-input [(ngModel)]="data.description" required /> </td>

            <td>
              <button nz-button
                (click)="openAddingItemUnitOfMeasureModal(data, tplItemUOMModalTitle, tplItemUOMModalContent)">
                {{ 'add' | translate }}{{'unit-of-measure' | translate}}
              </button>
              <nz-divider nzType="nz-divider.vertical"></nz-divider>

              <button nz-button (click)="removeItemPackageType(recordIndex)">
                {{ 'remove' | translate }}
              </button>
            </td>

          </tr>

          <tr [nzExpand]="mapOfExpandedItemPackageTypes[recordIndex]">
            <td colspan="1"></td>
            <td colspan="2">

              <nz-tabset>

                <nz-tab nzTitle=" {{ 'unit-of-measure' | translate }}">
                  <nz-table [nzData]="data.itemUnitOfMeasures" nzSize="middle" [nzShowPagination]="false">
                    <thead>
                      <th>{{'unit-of-measure' | translate}}</th>
                      <th>{{'quantity' | translate}}</th>
                      <th>{{'weight' | translate}}</th>
                      <th>{{'length' | translate}}</th>
                      <th>{{'width' | translate}}</th>
                      <th>{{'height' | translate}}</th>
                      <th>{{'action' | translate}}</th>
                    </thead>
      <tbody>
        <tr *ngFor="let itemUnitOfMeasure of data.itemUnitOfMeasures">
          <td>{{ itemUnitOfMeasure.unitOfMeasure?.name }}</td>
          <td>{{ itemUnitOfMeasure.quantity }}</td>
          <td>{{ itemUnitOfMeasure.weight }}</td>
          <td>{{ itemUnitOfMeasure.length }}</td>
          <td>{{ itemUnitOfMeasure.width }}</td>
          <td>{{ itemUnitOfMeasure.height }}</td>

          <td>
            <button nz-button (click)="removeItemUnitOfMeasure(data, itemUnitOfMeasure)">
              {{ 'remove' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    </nz-tab>

    </nz-tabset>

    </td>
    </tr>
    </ng-container>
    </tbody>

    </nz-table>

    <div nz-row nzType="flex" nzJustify="start" style="padding: 10px;">
      <button nz-button nzType="primary" (click)="addItemPackageType()">
        {{ 'add' | translate }}
      </button>
    </div>
  </div>
</div>

<!-- Confirm the change -->
<div class="small-card" *ngIf="stepIndex === 2">
  <nz-card>
    <nz-descriptions nzBordered="true">
      <nz-descriptions-item nzTitle="{{ 'name' | translate}}">{{currentItem.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'description' | translate}}">{{currentItem.description}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'item-family' | translate}}">{{currentItem.itemFamily?.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'trackingVolumeFlag' | translate }}">
        {{currentItem.trackingVolumeFlag + '' | translate }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'trackingLotNumberFlag' | translate }}">
        {{currentItem.trackingLotNumberFlag + '' | translate }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'allowCartonization' | translate }}">
        {{currentItem.allowCartonization + '' | translate }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'trackingManufactureDateFlag' | translate }}">
        {{currentItem.trackingManufactureDateFlag + '' | translate }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'shelfLifeDays' | translate }}">{{currentItem.shelfLifeDays}}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="{{ 'trackingExpirationDateFlag' | translate }}">
        {{currentItem.trackingExpirationDateFlag + '' | translate }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'allowAllocationByLPN' | translate }}">
        {{currentItem.allowAllocationByLPN + '' | translate }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'allocationRoundUpStrategyType' | translate }}"><span
          *ngIf="currentItem.allocationRoundUpStrategyType != null">
          {{ 'ALLOCATION-ROUND-UP-STRATEGY-TYPE-' + currentItem.allocationRoundUpStrategyType | translate}}
        </span>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'allocationRoundUpStrategyValue' | translate }}">
        {{currentItem.allocationRoundUpStrategyValue}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'unit-cost' | translate }}">{{currentItem.unitCost}}
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
  <nz-card>

    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab *ngFor="let itemPackageType of currentItem.itemPackageTypes" [nzTitle]="itemPackageType.name">
        <nz-table #innerTable [nzData]="itemPackageType.itemUnitOfMeasures" nzSize="middle" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>{{'unit-of-measure' | translate}}</th>
              <th>{{'quantity' | translate}}</th>
              <th>{{'weight' | translate}}</th>
              <th>{{'length' | translate}}</th>
              <th>{{'width' | translate}}</th>
              <th>{{'height' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of innerTable.data">
              <td>{{ data.unitOfMeasure?.name }}</td>
              <td>{{ data.quantity }}</td>
              <td>{{ data.weight }}</td>
              <td>{{ data.length }}</td>
              <td>{{ data.width }}</td>
              <td>{{ data.height }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>

  </nz-card>

</div>

<div class="steps-action">
  <button nz-button nzType="default" (click)="previousStep()" *ngIf="stepIndex > 0">
    <span>{{ 'steps.previous' | translate }}</span>
  </button>
  <nz-divider nzType="vertical" *ngIf="stepIndex < 2"></nz-divider>
  <button nz-button nzType="default" (click)="nextStep()" *ngIf="stepIndex < 2">
    <span>{{ 'steps.next' | translate }}</span>
  </button>
  <nz-divider nzType="vertical" *ngIf="stepIndex === 2"></nz-divider>
  <button nz-button nzType="primary" (click)="confirmItem()" *ngIf="stepIndex === 2">
    <span> {{ 'confirm' | translate }}</span>
  </button>
</div>




<!-- Modal for adding item unit of measure -->
<ng-template #tplItemUOMModalTitle>
  <span>{{ 'unit-of-measure' | translate}}</span>
</ng-template>

<ng-template #tplItemUOMModalContent>
  <form nz-form [formGroup]="itemUOMForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemPackageType">
            {{ 'item-package-type-name' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemPackageType" name="itemPackageType" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="unitOfMeasure">
            {{ 'item-unit-of-measure.name' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <nz-select formControlName="unitOfMeasure" name="unitOfMeasure" style="width: 100px;">
                <nz-option *ngFor="let unitOfMeasure of availableUnitOfMeasures" [nzLabel]="unitOfMeasure.description"
                  [nzValue]="unitOfMeasure.name">
                </nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quantity">
            {{ 'quantity' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <nz-input-number [nzMin]="1" [nzStep]="1" formControlName="quantity" name="quantity"></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="weight">
            {{ 'weight' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <nz-input-number [nzStep]="0.01" formControlName="weight" name="weight"></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">


      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="length">
            {{ 'length' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <nz-input-number [nzStep]="0.01" formControlName="length" name="length"></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="width">
            {{ 'width' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <nz-input-number [nzStep]="0.01" formControlName="width" name="width"></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="height">
            {{ 'height' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <nz-input-number [nzStep]="0.01" formControlName="height" name="height"></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>


    </div>
  </form>
</ng-template>
