<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/work-order/work-order" routerLinkActive="active"
    [queryParams]="{ number: currentWorkOrder.number }">{{ 'return' | i18n }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/work-order" routerLinkActive="active">{{
        'breadcrumb.work-order' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>



<div nz-row style="padding: 10px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps nzType="navigation" [nzCurrent]="1" [nzSize]="'small'" (nzIndexChange)="onIndexChange($event)">
      <nz-step nzTitle="{{ 'steps.work-order-produce.produce.title' | i18n }}"
        nzDescription="{{ 'steps.work-order-produce.produce.description' | i18n }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.work-order-produce.by-product.title' | i18n }}"
        nzDescription="{{ 'steps.work-order-produce.by-product.description' | i18n }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.work-order-produce.user-kpi.title' | i18n }}"
        nzDescription="{{ 'steps.work-order-produce.user-kpi.description' | i18n }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.work-order-produce.confirm.title' | i18n }}"
        nzDescription="{{ 'steps.work-order-produce.confirm.description' | i18n }}">
      </nz-step>
    </nz-steps>
  </div>
</div>


<!-- Table to show inventory  -->

<div class="search-result-list">
  <nz-table [nzScroll]="{ x: 'true', y: 'true' }"
    [nzData]="workOrderProduceTransaction.workOrderByProductProduceTransactions!" [nzFooter]="inventoryTableFoot"
    nzShowPagination="false" #inventoryTable>
    <thead>
      <tr>
        <th>{{ 'lpn' | i18n }}</th>
        <th>{{ 'item' | i18n }}</th>
        <th>{{ 'item.description' | i18n }}</th>
        <th>{{ 'item.package-type' | i18n }}</th>
        <th>{{ 'location' | i18n }}</th>
        <th>{{ 'inventory.status' | i18n }}</th>
        <th>{{ 'work-order.by-product.expectedQuantity' | i18n }}</th>
        <th>{{ 'work-order.by-product.producedQuantity' | i18n }}</th>
        <th>{{ 'quantity' | i18n }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workOrderByProductProduceTransaction of inventoryTable.data; let i = index">
        <td>
          <div class="row">
            <input appFkey variable="lpn" style="width: 120px" type="text" [ngModel]="workOrderByProductProduceTransaction?.lpn"
              (blur)="lpnChanged($event, workOrderByProductProduceTransaction)" name="lpn-{{ i }}" id="lpn-{{ i }}" />
          </div>
        </td>
        <td>
          <nz-select style="width: 150px"
            [ngModel]="workOrderByProductProduceTransaction.workOrderByProduct?.item?.name"
            (ngModelChange)="itemChanged($event, workOrderByProductProduceTransaction)" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let workOrderByProduct of currentWorkOrder?.workOrderByProducts"
              [nzLabel]="workOrderByProduct.item!.name" [nzValue]="workOrderByProduct.item!.name"></nz-option>
          </nz-select>
        </td>
        <td>
          {{ workOrderByProductProduceTransaction.workOrderByProduct?.item?.description }}
        </td>
        <td>
          <nz-select style="width: 150px" [ngModel]="workOrderByProductProduceTransaction.itemPackageType?.name"
            (ngModelChange)="itemPackageTypeChanged($event, workOrderByProductProduceTransaction)" nzShowSearch
            nzAllowClear>
            <nz-option
              *ngFor="let itemPackageType of workOrderByProductProduceTransaction.workOrderByProduct?.item?.itemPackageTypes"
              [nzLabel]="itemPackageType.name!" [nzValue]="itemPackageType.name!"></nz-option>
          </nz-select>
        </td>
        <td> </td>
        <td>
          <nz-select style="width: 150px" [ngModel]="workOrderByProductProduceTransaction.inventoryStatus?.id"
            (ngModelChange)="inventoryStatusChanged($event, workOrderByProductProduceTransaction)" nzShowSearch
            nzAllowClear>
            <nz-option *ngFor="let inventoryStatus of validInventoryStatuses"
              [nzLabel]="inventoryStatus.description" [nzValue]="inventoryStatus?.id">
            </nz-option>
          </nz-select>
        </td>
        <td>{{ workOrderByProductProduceTransaction.workOrderByProduct?.expectedQuantity }}</td>
        <td>{{ workOrderByProductProduceTransaction.workOrderByProduct?.producedQuantity }}</td>
        <td><input type="text" [(ngModel)]="workOrderByProductProduceTransaction.quantity" style="width: 120px" name="result-{{ i }}" /></td>
        
        <td>
          <button nz-button nzDanger (click)="removeByProductInventory(i)">
            {{ 'remove' | i18n }}
          </button></td>
      </tr>
    </tbody>
  </nz-table>
</div>

<ng-template #inventoryTableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <nz-layout>
      <nz-sider>
        <button nz-button nzType="primary" (click)="addExtraInventory()">
          {{ 'add' | i18n }}
        </button>
      </nz-sider>
      <nz-content>
        <a nz-button nzType="link" (click)="addKPIInfo()">
          {{ 'steps.work-order-produce.user-kpi.title' | i18n }}</a>
        <button nz-button nzType="primary" routerLink="/work-order/work-order/produce/confirm" routerLinkActive="active"
          [queryParams]="{ id: currentWorkOrder.id }" (click)="saveCurrentWorkOrderResults()">
          {{ 'confirm' | i18n }}
        </button>
      </nz-content>
    </nz-layout>
  </div>
</ng-template>