<page-header title="{{'carrier' |  i18n}}" >
</page-header>


<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="12">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="name" [nzSm]="6" [nzXs]="14">
          {{ 'name' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" id="name" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </div> 
  </div> 

  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
    </div>
  </div>
</form>


<div class="search-result-list">
   
    
    <st #st [data]="listOfCarriers"  [columns]="columns" [expand]="expand"  expandAccordion>
 
      <!--   Service -->
      <ng-template #expand let-item let-index="index" >
        
        <nz-tabset >
          <nz-tab nzTitle=" {{ 'service' | i18n }}">
            <nz-table   #innerTable [nzData]="item.carrierServiceLevels" nzSize="middle"
              [nzShowPagination]="false" #serviceTable>
              <thead>
                <th>
                  {{ 'name' | i18n }}
                </th>
                <th>
                  {{ 'description' | i18n }}
                </th>
                <th>
                  {{ 'service' | i18n }}
                </th> 
              </thead>
              <tbody>
                <tr *ngFor="let service of serviceTable.data">
                  <td>{{ service.name }}</td> 
                  <td>{{ service.description }}</td> 
                  <td> 
                    {{ 'CARRIER-SERVICE-LEVEL-TYPE-' + service.type | i18n}}
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab> 
          
        </nz-tabset>
      </ng-template>


      <!--   action colummn  --> 
      <ng-template st-row="actionColumnTitle" type="title" let-c>
        {{ 'action' | i18n }}
      </ng-template>
      <ng-template st-row="actionColumn" let-item let-index="index"> 
        
        <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary">
          {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu> 
 
            <li nz-menu-item >
              <a routerLink="/transportation/carrier-maintenance" routerLinkActive="active"
                [queryParams]="{id : item.id}">
                {{ 'modify' | i18n }}</a> 
            </li>
            
            <li nz-menu-item>
                <a  (click)="disableCarrier(item.id)">{{ 'disable' | i18n }}</a>
              </li> 
            <li nz-menu-item>
                <a  (click)="removeCarrier(item.id)">{{ 'remove' | i18n }}</a>
              </li> 
          </ul>
        </nz-dropdown-menu>
      </ng-template> 
    </st>
    
    @if(searchResult != '') {

      <div nz-row nzType="flex" nzJustify="start">
        {{searchResult}}
      </div>
    }
  <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly"> 
    <a nz-button nzType="primary" routerLink="/transportation/carrier-maintenance" routerLinkActive="active">
      {{'add' | i18n}}
    </a>
 
  </div>
</div>

</nz-spin>

 