<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>

<ng-template #returnLink>
  <a routerLink="/work-order/work-order" routerLinkActive="active" [queryParams]="{number: workOrder.number}">{{
    'return' | i18n }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/work-order/work-order" routerLinkActive="active">{{
        'breadcrumb.work-order' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>



<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">

  <nz-steps nzType="navigation" [nzCurrent]="stepIndex">
    <nz-step nzTitle="{{ 'steps.work-order.assign-production-line.production-line' | i18n }}"> </nz-step>
    <nz-step nzTitle="{{ 'steps.work-order.assign-production-line.quantity' | i18n }}"> </nz-step>
    <nz-step nzTitle="{{ 'steps.confirm' | i18n }}"> </nz-step>
  </nz-steps>

  <nz-card>
    @if(workOrder != null) {

      <nz-descriptions nzTitle="{{ 'work-order' | i18n}}" nzBordered>
        <nz-descriptions-item nzTitle="{{ 'work-order.number' | i18n}}">{{workOrder.number}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="{{'item' | i18n}}">{{workOrder.item?.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="{{'work-order.expected-quantity' | i18n}}">{{workOrder.expectedQuantity}}
        </nz-descriptions-item>
      </nz-descriptions>
    }
  </nz-card>


  <!-- Step 1: basic information 
  1. BOM number / description
  2. BOM item information
  -->
  <div class="steps-content" *ngIf="stepIndex === 0">

    <div nz-row style="padding: 10px">
      <div nz-col nzSpan="12" nzOffset="6">
        <nz-transfer [nzDataSource]="productionLineList" nzShowSearch [nzFilterOption]="transferListFilterOption"
          (nzSearchChange)="transferListSearch($event)" (nzSelectChange)="transferListSelect($event)"
          (nzChange)="transferListChange($event)" [nzListStyle]="{ 'width.px': 350, 'height.px': 400 }"
          [nzTitles]="[ unassignedProductionLineText, assignedProductionLineText]">
        </nz-transfer>
      </div>
    </div>
  </div>



  <div class="small-card" *ngIf="stepIndex === 1">

    <div class="search-result-list">
      <nz-table [nzScroll]="{ x: 'true', y: 'true' }" [nzData]="currentProductionLineAssignments" nzSize="middle"
        [nzShowPagination]="false">
        <thead>
          <th>
            {{ 'production-line' | i18n }}
          </th>
          <th>{{"mould" | i18n}}</th>
          <th>
            {{ 'quantity' | i18n }}
          </th>

          <th>
            {{ 'production-line.assignment.duration' | i18n }}
          </th>


        </thead>
        <tbody>
          <tr *ngFor="let productionLineAssignment of currentProductionLineAssignments">
            <td>{{ productionLineAssignment.productionLine.name }}</td>

            <td>
              <nz-input-group nzSize="large">
                <nz-select style="width: 200px;" [ngModel]="productionLineAssignment.mould?.name"
                  (ngModelChange)="mouldChanged($event, productionLineAssignment)"
                  [nzDisabled]="productionLineAssignment.id !== undefined">
                  <nz-option *ngFor="let mould of availableMoulds" [nzLabel]="mould.description" [nzValue]="mould.name">
                  </nz-option>
                </nz-select>
              </nz-input-group>
            </td>

            <td>
              <!-- Allow the user to change the quantity of an existing work order line-->
              <nz-input-group nzCompact>
                <input nz-input [(ngModel)]="productionLineAssignment.quantity" style="width: 50%;"
                  [disabled]="productionLineAssignment.id !== undefined" />
              </nz-input-group>
            </td>

            <td>
              <!-- Allow the user to change the quantity of an existing work order line-->
              <nz-range-picker [ngModel]="productionLineAssignment.dateRange"
                (ngModelChange)="onDateRangeChange($event, productionLineAssignment)"
                [nzDisabled]="productionLineAssignment.id !== undefined"></nz-range-picker>

            </td>


          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>


  <div class="small-card" *ngIf="stepIndex === 2">

    <div class="search-result-list">
      <nz-table [nzScroll]="{ x: 'true', y: 'true' }" [nzData]="currentProductionLineAssignments" nzSize="middle"
        [nzShowPagination]="false">
        <thead>


          <th [nzAlign]="'center'">
            {{ 'production-line' | i18n }}
          </th>
          <th [nzAlign]="'center'">{{"mould" | i18n}}</th>
          <th [nzAlign]="'center'">
            {{ 'quantity' | i18n }}
          </th>
          <th [nzAlign]="'center'">
            {{ 'production-line.assignment.duration' | i18n }}
          </th>

        </thead>
        <tbody>
          <tr *ngFor="let productionLineAssignment of currentProductionLineAssignments">
            <td [nzAlign]="'center'">{{ productionLineAssignment.productionLine.name }}</td>
            <td [nzAlign]="'center'">{{ productionLineAssignment.mould?.name }}</td>
            <td [nzAlign]="'center'">{{ productionLineAssignment.quantity }}</td>
            <td [nzAlign]="'center'">
              {{ productionLineAssignment.startTime | date : 'shortDate' : 'en-US' }} -
              {{ productionLineAssignment.endTime | date : 'shortDate' : 'en-US'}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div class="steps-action" style="padding-top: 20px;">
    <button nz-button nzType="default" (click)="previousStep()" *ngIf="stepIndex > 0">
      <span>{{ 'steps.previous' | i18n }}</span>
    </button>
    <nz-divider nzType="vertical" *ngIf="stepIndex < 2"></nz-divider>
    <button nz-button nzType="default" (click)="nextStep()" *ngIf="stepIndex < 2">
      <span>{{ 'steps.next' | i18n }}</span>
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="confirm()" *ngIf="stepIndex === 2">
      <span> {{ 'confirm' | i18n }}</span>
    </button>
  </div>
</nz-spin>