@import '@delon/theme/index';

:host ::ng-deep {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: radial-gradient(circle at 50% 12%, #fff 0, #f4f7fc 38%, #eef2f8 100%);
  }

  .langs {
    width: 100%;
    height: 40px;
    line-height: 44px;
    text-align: right;

    .anticon {
      cursor: pointer;
      margin-top: 24px;
      margin-right: 24px;
      font-size: 14px;
      vertical-align: top;
    }
  }

  .wrap {
    flex: 1;
    padding: 44px 0 24px;
  }

  .ant-form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .top {
    text-align: center;
  }

  .header {
    height: 44px;
    line-height: 44px;

    a {
      text-decoration: none;
    }
  }

  .logo {
    height: 44px;
    margin-right: 16px;
  }

  .title {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', sans-serif;
    font-size: 28px;
    font-weight: 650;
    color: #182235;
    vertical-align: middle;
  }

  .desc {
    margin-top: 12px;
    margin-bottom: 26px;
    font-size: @font-size-base;
    color: @text-color-secondary;
  }

  @media (min-width: @screen-md-min) {
    .container {
      background-image: none;
    }

    .wrap {
      padding: 44px 0 24px;
    }
  }
}

[data-theme='dark'] {
  :host ::ng-deep {
    .container {
      background: #141414;
    }

    .title {
      color: fade(@white, 85%);
    }

    .desc {
      color: fade(@white, 45%);
    }

    @media (min-width: @screen-md-min) {
      .container {
        background-image: none;
      }
    }
  }
}

[data-theme='compact'] {
  :host ::ng-deep {
    .ant-form-item {
      margin-bottom: 16px;
    }
  }
}
