<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">CWMS</span>
      </div>
      <div class="desc">powered by NG-ALAIN & NG-ZORRO</div>
    </div>
    <router-outlet></router-outlet>
    <!--

    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2017 <a href="//github.com/cipchk" target="_blank">卡色</a>出品
    </global-footer>
    -->
    <global-footer>
      Copyright 
      <i class="anticon-copyright"></i> 2019
      <a href="//github.com/garyzhangscm" target="_blank">Gary Zhang</a>
    </global-footer>
  </div>
</div>
<layout-theme-btn></layout-theme-btn>
