<page-header></page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="receiptNumber" [nzSpan]="6">
          {{ 'receipt.number' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input name="number" id="number" formControlName="number" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" >
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="status">
          {{ 'status' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          
          <nz-select  nzMode="multiple" formControlName="statusList" name="statusList">
            <nz-option
              *ngFor="let status of receiptStatusList | keys"
              [nzValue]="status.key"
              nzLabel="{{ 'RECEIPT-STATUS-' + status.key | i18n}}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="supplier">
          {{ 'supplier' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | i18n }}">
          <nz-input-group nzSize="large"  >
            <input nz-input formControlName="supplier" id="supplier" name="supplier"
              [nzAutocomplete]="supplierAutoCompleteTpl" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <ng-template #searchIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <nz-autocomplete #supplierAutoCompleteTpl>
        <nz-auto-option *ngFor="let supplier of validSuppliers" [nzLabel]="supplier.description" [nzValue]="supplier.name">
          {{ supplier.description }}
        </nz-auto-option>
      </nz-autocomplete>
    </div>

  </div>
  
  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="12" >
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="checkInDateTimeRanger">
          {{ 'check-in-time-range' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-range-picker [nzShowTime]="{ nzHideDisabledOptions: true }" nzFormat="yyyy-MM-dd HH:mm:ss"
            formControlName="checkInDateTimeRanger" name="checkInDateTimeRanger">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12" >
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="checkInDate">
          {{ 'check-in-date' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-date-picker formControlName="checkInDate" name="checkInDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #rowSelectionTable nzShowSizeChanger nzShowPagination
    [nzData]="listOfAllReceipts" [nzFooter]="tableFoot">
    <thead>
      <tr>
        <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)" nzWidth="60px"></th>
        <th nzWidth="60px"></th>
        <th *ngFor="let column of listOfColumns" [nzShowSort]="column.showSort" [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn"
          [nzShowFilter]="column.showFilter">
          {{ column.name | i18n }}
        </th>

        <th>{{ 'action' | i18n }}</th>
      </tr>
    </thead>
    <tbody>
      
      <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data">
        <tr>

          <td [nzChecked]="setOfCheckedId.has(data.id!)" (nzCheckedChange)="onItemChecked(data.id!, $event)"></td>
          <td [nzExpand]="expandSet.has(data.id!)" (nzExpandChange)="onExpandChange(data, $event)"></td>

          <td><a routerLink="/inbound/receipt-maintenance" routerLinkActive="active"
              [queryParams]="{receiptNumber : data.number}">
              {{ data.number }}</a></td>
          <td>
            <nz-skeleton-element 
            *ngIf="data.clientId && data.client == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element> 
          {{ data.client?.name }}</td>
          <td>
            
                <nz-skeleton-element 
                *ngIf="data.supplierId && data.supplier == null"
                nzType="input"
                [nzActive]="true"
                [nzSize]="'small'"
                style="width:75px"
              ></nz-skeleton-element> 
            {{ data.supplier?.name }}</td>
          <td>
              <nz-skeleton-element 
              *ngIf="data.supplierId && data.supplier == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ data.supplier?.description }}</td>
          <td>{{ 'RECEIPT-STATUS-' + data.receiptStatus | i18n}} </td>
          <td>{{ data.totalLineCount }}</td>
          <td>{{ data.totalItemCount }}</td>
          <td>{{ data.totalExpectedQuantity }}</td>
          <td>{{ data.totalReceivedQuantity }}</td>
          <td>
            
              
            <button *ngIf="data.receiptStatus !== receiptStatus.CLOSED"
                nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary">
              {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu> 
                  <li nz-menu-item *ngIf="data.receiptStatus === receiptStatus.OPEN">                  
                    
                    <a   nz-type="primary" (click)="checkInReceipt(data)"
                    >
                    {{ 'receipt.check-in' | i18n }}</a>
                  </li>
                  <li nz-menu-item *ngIf="data.receiptStatus !== receiptStatus.CLOSED">                   
                    
                    <a   nz-type="primary" (click)="closeReceipt(data)"
                    >
                    {{ 'complete' | i18n }}</a>
                  </li> 
                  
                </ul>
              </nz-dropdown-menu>
              
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.id!)">
          <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" >
            <nz-tab nzTitle="{{'receipt.line' | i18n}}">
              
              <st #st [data]="data.receiptLines"  [columns]="receiptLineTableColumns"   [scroll]="{ x: '1315px' }">
                
                <ng-template st-row="itemNameColumn" let-item let-index="index"> 

                  <nz-skeleton-element 
                      *ngIf="item.itemId && item.item == null"
                      nzType="input"
                      [nzActive]="true"
                      [nzSize]="'small'"
                      style="width:75px"
                    ></nz-skeleton-element> 
                   {{ item.item?.name }} 

                </ng-template>
                <ng-template st-row="itemDescriptionColumn" let-item let-index="index">
                  
                  <nz-skeleton-element 
                      *ngIf="item.itemId && item.item == null"
                      nzType="input"
                      [nzActive]="true"
                      [nzSize]="'small'"
                      style="width:75px"
                    ></nz-skeleton-element> 
                   {{ item.item?.description }} 

                </ng-template>
              </st> 
          </nz-tab>  
        </nz-tabset>


        </tr>
      </ng-template>
    </tbody>
  </nz-table>
  <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;">
    <button nz-button nzDanger (click)="removeSelectedReceipts()">
      {{ 'delete' | i18n }}
    </button>
    <button nz-button nzType="primary" routerLink="/inbound/receipt-maintenance" routerLinkActive="active">
      {{ 'add' | i18n }}
    </button>
  </div>
</div>

<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
    {{searchResult}}
  </div>
</ng-template>
</nz-spin>