<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/auth/user" routerLinkActive="active">{{
    'return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.auth' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/auth/user" routerLinkActive="active">{{
        'breadcrumb.user' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<div nz-row style="padding: 10px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="2" [nzSize]="'default'" (nzIndexChange)="onStepsIndexChange($event)">
      <nz-step nzTitle="{{ 'steps.basic-info.title' | translate }}"
        nzDescription="{{ 'steps.role.basic-info.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.role.assign-roles.title' | translate }}"
        nzDescription="{{ 'steps.role.assign-roles.description' | translate }}">
      </nz-step>

      <nz-step nzTitle="{{ 'steps.confirm.title' | translate }}"
        nzDescription="{{ 'steps.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>


<nz-card nzTitle="{{ 'steps.basic-info.title' | translate }}">
  <nz-descriptions nzBordered="true">
    <nz-descriptions-item nzTitle="{{ 'user.username' | translate}}">{{currentUser.username}}
    </nz-descriptions-item>
    <nz-descriptions-item nzSpan=2 nzTitle="{{ 'user.password' | translate}}">
      ******
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="{{ 'firstname' | translate}}">{{currentUser.firstname}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'lastname' | translate}}">{{currentUser.lastname}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'email' | translate}}">{{currentUser.email}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'enabled' | translate}}">{{currentUser.enabled}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'locked' | translate}}">{{currentUser.locked}}
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<nz-card nzTitle="{{ 'steps.role.assign-roles.title' | translate }}" [nzActions]="[cardFoot]">
  <nz-table #roleTable [nzData]="currentUser.roles">
    <thead>
      <tr>
        <th
            *ngFor="let column of listOfRoleTableColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"        
            [nzShowFilter]="column.showFilter"
          >
            {{ column.name | translate }}
          </th> 

          
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of roleTable.data">

        <td>
          {{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.enabled + '' | translate}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #cardFoot>
  <div nz-row nzType="flex" nzJustify="center" style='padding-left: 20px;'>
    <button nz-button nzType="primary" (click)="confirm()">
      {{ 'steps.confirm.title' | translate }}
    </button>
  </div>
</ng-template>
