<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>

<ng-template #returnLink>
  <a routerLink="/common/reason-code" routerLinkActive="active">{{ 'return' | i18n }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/common/reason-code" routerLinkActive="active">{{
        'reason-code' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-spin [nzSpinning]="isSpinning">

<nz-steps nzType="navigation" [nzCurrent]="stepIndex">
  <nz-step nzTitle="{{ 'steps.mould.info' | i18n }}"> </nz-step>
  <nz-step nzTitle="{{ 'steps.confirm' | i18n }}"> </nz-step>
</nz-steps>


<!-- Step 1: basic information  
  -->



<div class="small-card" *ngIf="stepIndex === 0" style="padding-top: 20px;">


    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
            <nz-form-label [nzSpan]="6">
            {{ 'name' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">

            <input type="text" nz-input [(ngModel)]="currentReasonCode.name" />

            </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
            <nz-form-label [nzSpan]="6">
            {{ 'description' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">

            <input type="text" nz-input [(ngModel)]="currentReasonCode.description" />

            </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
              <nz-form-label [nzSpan]="6">
              {{ 'type' | i18n }}
              </nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
                <nz-select   nz-input [(ngModel)]="currentReasonCode.type" 
                    style="width: 250px"  >
                 
      
                    @for (reasonCodeType of reasonCodeTypes; track reasonCodeType) {
      
                      <nz-option 
                          nzLabel="{{ 'REASON-CODE-TYPE-' + reasonCodeType | i18n }}" [nzValue]="reasonCodeType">
                      </nz-option>
                    }
                    
                </nz-select>
  
              </nz-form-control>
          </nz-form-item>
        </div>
    </div>
</div>

    <div class="small-card" *ngIf="stepIndex === 1" style="padding-top: 20px;">
    <nz-card>

        <nz-descriptions nzTitle="{{ 'reason-code' | i18n}}" nzBordered>
            <nz-descriptions-item nzTitle="{{ 'name' | i18n}}">
                {{currentReasonCode.name}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="{{ 'description' | i18n}}">
                {{currentReasonCode.description}}</nz-descriptions-item> 
            <nz-descriptions-item nzTitle="{{ 'type' | i18n}}">
                {{ 'REASON-CODE-TYPE-' + currentReasonCode.type | i18n }}</nz-descriptions-item>
        </nz-descriptions>

    </nz-card>

    </div>

    <div class="steps-action" style="padding-top: 20px;">
    <button nz-button nzType="default" (click)="previousStep()" *ngIf="stepIndex > 0">
        <span>{{ 'steps.previous' | i18n }}</span>
    </button>
    <nz-divider nzType="vertical" *ngIf="stepIndex < 1"></nz-divider>
    <button nz-button nzType="default" (click)="nextStep()" *ngIf="stepIndex < 1">
        <span>{{ 'steps.next' | i18n }}</span>
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="confirm()" *ngIf="stepIndex === 1">
        <span> {{ 'confirm' | i18n }}</span>
    </button>
    </div>
</nz-spin>