<page-header> </page-header>

<nz-tabset (nzSelectChange)="refreshData($event)">
  <nz-tab nzTitle="{{ 'description.field.label.integration.in.client' | translate }}">
    <app-integration-integration-data-client></app-integration-integration-data-client>
  </nz-tab>

  <nz-tab nzTitle="{{ 'description.field.label.integration.in.customer' | translate }}">
    Content of Tab Pane 1
  </nz-tab>

  <nz-tab nzTitle="{{ 'description.field.label.integration.in.supplier' | translate }}">
    Content of Tab Pane 1
  </nz-tab>

  <nz-tab nzTitle="{{ 'description.field.label.integration.in.order' | translate }}">
    Content of Tab Pane 1
  </nz-tab>

  <nz-tab nzTitle="{{ 'description.field.label.integration.in.receipt' | translate }}">
    Content of Tab Pane 1
  </nz-tab>

  <nz-tab nzTitle="{{ 'description.field.label.integration.in.receipt-confirm' | translate }}">
    Content of Tab Pane 1
  </nz-tab>

  <nz-tab nzTitle="{{ 'description.field.label.integration.in.order-confirm' | translate }}">
    Content of Tab Pane 1
  </nz-tab>

  <nz-tab nzTitle="{{ 'description.field.label.integration.in.inventory-adjust' | translate }}">
    Content of Tab Pane 1
  </nz-tab>

  <nz-tab nzTitle="{{ 'description.field.label.integration.in.inventory-status-change' | translate }}">
    Content of Tab Pane 1
  </nz-tab>

</nz-tabset>
