<page-header> </page-header>

<nz-tabset>
  <nz-tab nzTitle="{{ 'integration.in.client' | translate }}">
    <app-integration-integration-data-client></app-integration-integration-data-client>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.in.customer' | translate }}">
    <app-integration-integration-data-customer></app-integration-integration-data-customer>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.in.supplier' | translate }}">
    <app-integration-integration-data-supplier></app-integration-integration-data-supplier>
  </nz-tab>


  <nz-tab nzTitle="{{ 'integration.in.item' | translate }}">
    <app-integration-integration-data-item></app-integration-integration-data-item>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.in.item-family' | translate }}">
    <app-integration-integration-data-item-family></app-integration-integration-data-item-family>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.in.item-package-type' | translate }}">
    <app-integration-integration-data-item-package-type></app-integration-integration-data-item-package-type>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.in.item-unit-of-measure' | translate }}">
    <app-integration-integration-data-item-unit-of-measure></app-integration-integration-data-item-unit-of-measure>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.in.order' | translate }}">
    <app-integration-integration-data-order></app-integration-integration-data-order>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.in.receipt' | translate }}">
    <app-integration-integration-data-receipt></app-integration-integration-data-receipt>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.out.receipt-confirm' | translate }}">
    <app-integration-integration-data-receipt-confirm></app-integration-integration-data-receipt-confirm>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.out.order-confirm' | translate }}">
    <app-integration-integration-data-order-confirm></app-integration-integration-data-order-confirm>
  </nz-tab>


  <nz-tab nzTitle="{{ 'integration.out.work-order-confirm' | translate }}">
    <app-integration-integration-data-work-order-confirm></app-integration-integration-data-work-order-confirm>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.out.inventory-adjust' | translate }}">
    <app-integration-integration-data-inventory-adjust></app-integration-integration-data-inventory-adjust>
  </nz-tab>

  <nz-tab nzTitle="{{ 'integration.out.inventory-attribute-change' | translate }}">
    <app-integration-integration-data-inventory-attribute-change>
    </app-integration-integration-data-inventory-attribute-change>
  </nz-tab>

</nz-tabset>
