<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>

<ng-template #returnLink>
  <a routerLink="/qc/inspection" routerLinkActive="active">{{ 'return' | i18n }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/qc/inspection" routerLinkActive="active">{{
        'qc-inspection' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-spin [nzSpinning]="isSpinning">
<nz-steps nzType="navigation" [nzCurrent]="stepIndex">
  <nz-step nzTitle="{{ 'qc-inspection' | i18n }}"> </nz-step> 
  <nz-step nzTitle="{{ 'steps.confirm' | i18n }}"> </nz-step>
</nz-steps>


<!-- Step 1: basic information  
  -->


<div class="small-card" *ngIf="stepIndex === 0" style="padding-top: 20px;">

    <nz-card [nzTitle]="qcRequestTitle" >

      <!-- Show item sampling picture-->
      <div *ngIf="itemSampling">
        
        <nz-image-group [hidden]="isCollapse">
          <img *ngFor="let imageUrl of itemSampling.imageUrls.split(',')"
               nz-image width="100px" height="100px" [nzSrc]="getImageUrl(itemSampling!, imageUrl)" alt="" /> 
        </nz-image-group>
        <div nz-row>
          <div nz-col [nzSpan]="24" class="search-area">
          
            <a class="collapse" (click)="toggleCollapse()">
              {{ 'collapse' | i18n }}

              <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
            </a>
          </div>
        </div>
      </div>
       <!--  Overall QC result -->
        <ng-template #qcRequestTitle>
            <span>
                {{qcInspectionRequest?.number}} / ( {{'item' | i18n}} : {{qcInspectionRequest?.item?.name}} )
                
                <span *ngIf="qcInspectionRequest?.qcInspectionResult === qcInspectionResults.PENDING">
                    <i nz-icon [nzType]="'warning'" [nzTheme]="'twotone'" [nzTwotoneColor]="'yellow'" ></i></span>
                <span *ngIf="qcInspectionRequest?.qcInspectionResult === qcInspectionResults.PASS">
                    <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i></span>
                <span *ngIf="qcInspectionRequest?.qcInspectionResult === qcInspectionResults.FAIL">
                    <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"   [nzTwotoneColor]="'#eb2f96'"></i></span>
            </span>
          </ng-template>

          <!-- Card to show inventory to be QC-->
      <nz-card [nzTitle]="qcInventoryTitle" nzType="inner" [nzExtra]="showQCInventory"> 
        
        <div nz-row [nzGutter]="24"> 

          <div nz-col [nzSpan]="12">
            <nz-form-item nzFlex>
              <nz-form-label for="lpn" [nzSpan]="5">
                {{ 'lpn' | i18n }}
              </nz-form-label>
              <nz-form-control [nzSpan]="18">
                        
                <input nz-input   [(ngModel)]="inputLpn" (keyup.enter)="addLpn()" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <button nz-button (click)="addLpn()" [disabled]="inputLpn.length == 0">
              {{'add'|i18n}}
            </button>
          </div>
        </div>
    
        <st #st *ngIf="qcInspectionRequest !== undefined" [data]="qcInspectionRequest?.inventories"  [columns]="columns" [hidden]="!showQCInventoryFlag">
           </st>
        <ng-template #qcInventoryTitle>               
            <nz-badge *ngIf="qcInspectionRequest !== undefined" [nzCount]="qcInspectionRequest?.inventories?.length" nzShowZero>
              <a class="head-example">{{ 'qc-inspection-inventory' | i18n}}</a>
            </nz-badge> 
        </ng-template>
        <ng-template #showQCInventory>
          <a *ngIf="!showQCInventoryFlag" (click)="showQCInventoryFlag = !showQCInventoryFlag">{{'show' | i18n}}</a>
          <a *ngIf="showQCInventoryFlag" (click)="showQCInventoryFlag = !showQCInventoryFlag">{{'hide' | i18n}}</a>
        </ng-template>
      </nz-card>

        <nz-card nzType="inner" *ngFor="let qcInspectionRequestItem of qcInspectionRequest?.qcInspectionRequestItems" 
            [nzTitle]="qcInspectionRequestItem.qcRule.name" >
            <ul nz-list [nzDataSource]="qcInspectionRequestItem.qcInspectionRequestItemOptions" nzBordered nzSize="large"> 
                <nz-list-header>{{ 'result' | i18n}}: {{qcInspectionRequestItem.qcInspectionResult}}

                    <span *ngIf="qcInspectionRequestItem.qcInspectionResult === qcInspectionResults.PENDING">
                        <i nz-icon [nzType]="'warning'" [nzTheme]="'twotone'" [nzTwotoneColor]="'yellow'" ></i></span>
                    <span *ngIf="qcInspectionRequestItem.qcInspectionResult === qcInspectionResults.PASS">
                        <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i></span>
                    <span *ngIf="qcInspectionRequestItem.qcInspectionResult === qcInspectionResults.FAIL">
                        <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"   [nzTwotoneColor]="'#eb2f96'"></i></span>
                </nz-list-header>
                <li nz-list-item *ngFor="let qcInspectionRequestItemOption of qcInspectionRequestItem.qcInspectionRequestItemOptions" nzNoFlex>
                  <ul nz-list-item-actions>
                    <!--  Yes No QC rule item -->
                    <nz-list-item-action  *ngIf="qcInspectionRequestItemOption.qcRuleItem.qcRuleItemType === qcRuleItemTypes.YESNO">   
                        <nz-radio-group  [(ngModel)]="qcInspectionRequestItemOption.value"
                            (ngModelChange)="qcInspectionRequestItemOptionChanged(qcInspectionRequestItem, qcInspectionRequestItemOption)">
                            <label nz-radio nzValue="NOT_APPLY">{{'N/A' | i18n}}</label>
                            <label nz-radio nzValue="YES">{{'Yes' | i18n}}</label>
                            <label nz-radio nzValue="NO">{{'No' | i18n}}</label> 
                        </nz-radio-group>
                    </nz-list-item-action>
                    
                    <!--  item of number type -->
                    <nz-list-item-action  *ngIf="qcInspectionRequestItemOption.qcRuleItem.qcRuleItemType === qcRuleItemTypes.NUMBER"> 
                      <label nz-checkbox [ngModel]="notApplyQCInspectionRequestItemOptionSet.has(qcInspectionRequestItemOption.id)"
                      (ngModelChange)="notApplyQCInspectionRequestItemOptionChanged(qcInspectionRequestItem, qcInspectionRequestItemOption, $event)">{{'N/A' | i18n}}</label>
                      <nz-input-number [nzDisabled]="notApplyQCInspectionRequestItemOptionSet.has(qcInspectionRequestItemOption.id)"
                      [(ngModel)]="qcInspectionRequestItemOption.doubleValue" 
                        (ngModelChange)="qcInspectionRequestItemOptionChanged(qcInspectionRequestItem, qcInspectionRequestItemOption)"
                        style="width: 150px;"
                      ></nz-input-number>
                    </nz-list-item-action>
                    <!--  item of string type -->
                    <nz-list-item-action  *ngIf="qcInspectionRequestItemOption.qcRuleItem.qcRuleItemType === qcRuleItemTypes.STRING"> 
                      <label nz-checkbox [ngModel]="notApplyQCInspectionRequestItemOptionSet.has(qcInspectionRequestItemOption.id)"
                      (ngModelChange)="notApplyQCInspectionRequestItemOptionChanged(qcInspectionRequestItem, qcInspectionRequestItemOption, $event)">{{'N/A' | i18n}}</label>
                      <input nz-input  [disabled]="notApplyQCInspectionRequestItemOptionSet.has(qcInspectionRequestItemOption.id)"
                        [(ngModel)]="qcInspectionRequestItemOption.stringValue"  
                        (ngModelChange)="qcInspectionRequestItemOptionChanged(qcInspectionRequestItem, qcInspectionRequestItemOption)"
                        style="width: 350px;"
                      /> 
                    </nz-list-item-action>
                  </ul>
                  {{ qcInspectionRequestItemOption.qcRuleItem.checkPoint  }}
                </li> 
              </ul>
              
        </nz-card>

    </nz-card>
 
  
</div> 
 <!-- confirm -->
<div class="small-card" *ngIf="stepIndex === 1" style="padding-top: 20px;">
  <nz-card>

    
    <nz-card  [nzTitle]="qcRequestTitle" >
        <ng-template #qcRequestTitle>
            <span>
                {{qcInspectionRequest?.number}} 
                
                <span *ngIf="qcInspectionRequest?.qcInspectionResult === qcInspectionResults.PENDING">
                    <i nz-icon [nzType]="'warning'" [nzTheme]="'twotone'" [nzTwotoneColor]="'yellow'" ></i></span>
                <span *ngIf="qcInspectionRequest?.qcInspectionResult === qcInspectionResults.PASS">
                    <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i></span>
                <span *ngIf="qcInspectionRequest?.qcInspectionResult === qcInspectionResults.FAIL">
                    <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"   [nzTwotoneColor]="'#eb2f96'"></i></span>
            </span>
          </ng-template>
        <nz-card nzType="inner" *ngFor="let qcInspectionRequestItem of qcInspectionRequest?.qcInspectionRequestItems" 
            [nzTitle]="qcInspectionRequestItem.qcRule.name" >
            <ul nz-list [nzDataSource]="qcInspectionRequestItem.qcInspectionRequestItemOptions" nzBordered nzSize="large"> 
                <nz-list-header>{{ 'result' | i18n}}: {{qcInspectionRequestItem.qcInspectionResult}}

                    

                    <span *ngIf="qcInspectionRequestItem.qcInspectionResult === qcInspectionResults.PENDING">
                        <i nz-icon [nzType]="'warning'" [nzTheme]="'twotone'" [nzTwotoneColor]="'yellow'" ></i></span>
                    <span *ngIf="qcInspectionRequestItem.qcInspectionResult === qcInspectionResults.PASS">
                        <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i></span>
                    <span *ngIf="qcInspectionRequestItem.qcInspectionResult === qcInspectionResults.FAIL">
                        <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"   [nzTwotoneColor]="'#eb2f96'"></i></span>
                </nz-list-header>
                <li nz-list-item *ngFor="let qcInspectionRequestItemOption of qcInspectionRequestItem.qcInspectionRequestItemOptions" nzNoFlex>
                  <ul nz-list-item-actions>  
                    <nz-list-item-action >   
                          {{ qcInspectionRequestItemOption.qcInspectionResult  }} 
                          
                            <span *ngIf="qcInspectionRequestItemOption.qcInspectionResult === qcInspectionResults.PENDING">
                                <i nz-icon [nzType]="'warning'" [nzTheme]="'twotone'" [nzTwotoneColor]="'yellow'" ></i></span>
                            <span *ngIf="qcInspectionRequestItemOption.qcInspectionResult === qcInspectionResults.PASS">
                                <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i></span>
                            <span *ngIf="qcInspectionRequestItemOption.qcInspectionResult === qcInspectionResults.FAIL">
                                <i nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'"   [nzTwotoneColor]="'#eb2f96'"></i></span>
                    </nz-list-item-action>
                  </ul>
                  {{ qcInspectionRequestItemOption.qcRuleItem.checkPoint  }}   
                </li> 
              </ul>
              
        </nz-card>
        <nz-card nzType="inner" nzTitle="{{'inventory' | i18n}}">

          <st #st *ngIf="qcInspectionRequest !== undefined" [data]="qcInspectionRequest?.inventories"  [columns]="columns" >
          </st>
        </nz-card>

    </nz-card>
    
  </nz-card>

</div>

<div class="steps-action" style="padding-top: 20px;">
  <button nz-button nzType="default" (click)="previousStep()" *ngIf="stepIndex > 0">
    <span>{{ 'steps.previous' | i18n }}</span>
  </button>
  <nz-divider nzType="vertical" *ngIf="stepIndex < 1"></nz-divider>
  <button nz-button nzType="default" (click)="nextStep()" *ngIf="stepIndex < 1">
    <span>{{ 'steps.next' | i18n }}</span>
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button nz-button nzType="primary" (click)="confirm()" *ngIf="stepIndex === 1"
  
  >
    <span> {{ 'confirm' | i18n }}</span>
  </button>
</div>
</nz-spin>