<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/work-order/work-order" routerLinkActive="active"
    [queryParams]="{ number: currentWorkOrder?.number }">{{ 'return' | translate }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/work-order" routerLinkActive="active">{{
        'breadcrumb.work-order' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<div nz-row style="padding: 10px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps nzType="navigation" [nzCurrent]="0" [nzSize]="'small'" (nzIndexChange)="onIndexChange($event)"> 
      <nz-step nzTitle="{{ 'steps.work-order-produce.produce.title' | translate }}"
        nzDescription="{{ 'steps.work-order-produce.produce.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.work-order-produce.by-product.title' | translate }}"
        nzDescription="{{ 'steps.work-order-produce.by-product.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.work-order-produce.user-kpi.title' | translate }}"
        nzDescription="{{ 'steps.work-order-produce.user-kpi.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.work-order-produce.confirm.title' | translate }}"
        nzDescription="{{ 'steps.work-order-produce.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>

<nz-card>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label  [nzSpan]="4">
          {{ 'production-line' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select style="width: 150px" [ngModel]="workOrderProduceTransaction?.productionLine?.name"
            (ngModelChange)="productionLineChanged($event)" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let productionLineAssignment of currentWorkOrder?.productionLineAssignments"
              [nzLabel]="productionLineAssignment.productionLine.name" [nzValue]="productionLineAssignment.productionLine.name"></nz-option>
          </nz-select>

        </nz-form-control>
      </nz-form-item>
    </div>
    </div>
</nz-card>
<!-- Table to show inventory  -->
<div class="search-result-list">
  <nz-table 
  [nzScroll]="{ x: true, y: true }" [nzData]="workOrderProduceTransaction?.workOrderProducedInventories" [nzFooter]="inventoryTableFoot"
    nzShowPagination="false" #inventoryTable>
    <thead>
      <tr>
        <th>{{ 'lpn' | translate }}</th>
        <th>{{ 'item' | translate }}</th>
        <th>{{ 'item.description' | translate }}</th>
        <th>{{ 'item.package-type' | translate }}</th>
        <th>{{ 'location' | translate }}</th>
        <th>{{ 'inventory.status' | translate }}</th>
        <th>{{ 'work-order.expected-quantity' | translate }}</th>
        <th>{{ 'work-order.produced-quantity' | translate }}</th>
        <th>{{ 'quantity' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventory of inventoryTable.data; let i = index">
        <td>
          <div class="row">
            <input appFkey variable="lpn" type="text" [ngModel]="inventory?.lpn"
              (blur)="lpnChanged($event.target.value, inventory)" name="lpn-{{ i }}" id="lpn-{{ i }}" />
          </div>
        </td>
        <td>
          {{ currentWorkOrder.item?.name }}
        </td>
        <td>
          {{ currentWorkOrder.item?.description }}
        </td>
        <td>
          <nz-select style="width: 150px" [ngModel]="inventory.itemPackageType?.name"
            (ngModelChange)="itemPackageTypeChanged($event, inventory)" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let itemPackageType of currentWorkOrder.item?.itemPackageTypes"
              [nzLabel]="itemPackageType.name" [nzValue]="itemPackageType.name"></nz-option>
          </nz-select>
        </td>
        <td>{{ currentWorkOrder.productionLine?.outboundStageLocation?.name }}</td>
        <td>
          <nz-select style="width: 150px" [ngModel]="inventory.inventoryStatus?.id"
            (ngModelChange)="inventoryStatusChanged($event, inventory)" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let inventoryStatus of validInventoryStatuses"
              nzLabel="{{ 'INVENTORY-STATUS-' + inventoryStatus.name | translate }}" [nzValue]="inventoryStatus?.id">
            </nz-option>
          </nz-select>
        </td>
        <td>{{ currentWorkOrder?.expectedQuantity }}</td>
        <td>{{ currentWorkOrder?.producedQuantity }}</td>
        <td><input type="text" [(ngModel)]="inventory.quantity" name="result-{{ i }}" /></td>
      </tr>
    </tbody>
  </nz-table>
</div>

<ng-template #inventoryTableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <nz-layout>
      <nz-sider class="inner-nz-sider">
        <button nz-button nzType="primary" (click)="addExtraInventory()">
          {{ 'add' | translate }}
        </button></nz-sider>
      <nz-content class="inner-nz-content">
        <a nz-button nzType="link" (click)="produceByProduct()">
          {{ 'steps.work-order-produce.by-product.title' | translate }}</a>
        <button nz-button nzType="primary" routerLink="/work-order/work-order/produce/confirm" routerLinkActive="active"
          [queryParams]="{ id: currentWorkOrder?.id }" (click)="saveCurrentWorkOrderResults()">
          {{ 'confirm' | translate }}
        </button>
      </nz-content>


    </nz-layout>

  </div>
</ng-template>

<!-- Table to specify the consumed inventory  -->
<nz-card nzTitle="{{ 'work-order.line' | translate }}" [nzExtra]="workOrderLineActions"
  *ngIf="workOrderProduceTransaction != undefined">
  <div class="search-result-list" [hidden]="isCollapse">
    <nz-table 
    [nzScroll]="{ x: true, y: true }" [nzData]="workOrderProduceTransaction.workOrderLineConsumeTransactions" nzShowPagination="false"
      #workOrderLineTable>
      <thead>
        <tr>
          <th>{{ 'work-order.line.number' | translate }}</th>
          <th>{{ 'item' | translate }}</th>
          <th>{{ 'item.description' | translate }}</th>
          <th>{{ 'work-order.line.expectedQuantity' | translate }}</th>
          <th>{{ 'work-order.line.inprocessQuantity' | translate }}</th>
          <th>{{ 'work-order.line.consumedQuantity' | translate }}</th>
          <th>{{ 'work-order.line.consumingQuantity' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workOrderLineConsumeTransaction of workOrderLineTable.data; let i = index">
          <td>{{ workOrderLineConsumeTransaction?.workOrderLine?.number }}</td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.item?.name }}
          </td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.item?.description }}
          </td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.expectedQuantity }}
          </td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.inprocessQuantity }}
          </td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.consumedQuantity }}
          </td>
          <td>
            <input type="text" [(ngModel)]="workOrderLineConsumeTransaction.consumedQuantity" name="result-{{ i }}" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
<ng-template #workOrderLineActions>
  <span>
    {{ 'work-order-produce-transaction.consume-by-bom-quantity' | translate }}

    <span *ngIf="findMatchedBOM">(
      <a nz-popover nzPopoverTitle="BOM"
        [nzPopoverContent]="bomDetails">{{ workOrderProduceTransaction.matchedBillOfMaterial?.number }}</a>
      )
    </span>
  </span>
  <nz-radio-group [(ngModel)]="consumeByBomQuantity" (ngModelChange)="onConsumeByBomQuantityChanged($event)"
    nzName="radiogroup">
    <label nz-radio nzValue="true">{{ 'yes' | translate }}</label>
    <label nz-radio nzValue="false">{{ 'no' | translate }}</label>
  </nz-radio-group>
</ng-template>

<ng-template #bomDetails>
  <nz-table 
  [nzScroll]="{ x: true, y: true }" #bomDetailTable [nzData]="workOrderProduceTransaction.matchedBillOfMaterial.billOfMaterialLines"
    nzSize="middle" [nzShowPagination]="false" nzBordered>
    <thead>
      <th>
        {{ 'bill-of-material.line.number' | translate }}</th>
      <th>
        {{ 'item' | translate }}</th>
      <th>
        {{ 'item.description' | translate }}</th>
      <th>
        {{ 'bill-of-material.line.expectedQuantity' | translate }}</th>
      <th>
        {{ 'inventory.status' | translate }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let billOfMaterialLine of bomDetailTable.data">
        <td>{{ billOfMaterialLine.number }}</td>
        <td>{{ billOfMaterialLine.item?.name }}</td>
        <td>{{ billOfMaterialLine.item?.description }}</td>
        <td>{{ billOfMaterialLine.expectedQuantity }}</td>
        <td>{{ billOfMaterialLine.inventoryStatus?.name }}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-template>
