<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/warehouse-layout/warehouse" routerLinkActive="active">{{
    'description.field.link.return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'description.field.breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.warehouse-layout' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/warehouse-layout/warehouse" routerLinkActive="active">{{
        'description.field.breadcrumb.warehouse' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<div nz-row style="padding: 50px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="1" [nzSize]="'default'">
      <nz-step nzTitle="{{ 'description.steps.warehouse-maintenance.basic-info.title' | translate }}"
        nzDescription="{{ 'description.steps.warehouse-maintenance.basic-info.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'description.steps.warehouse-maintenance.confirm.title' | translate }}"
        nzDescription="{{ 'description.steps.warehouse-maintenance.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>

<form nz-form>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseId">
          {{ 'warehouse.id' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input [(ngModel)]="currentWarehouse.id" id="warehouseId" name="id" disabled />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseName">
          {{ 'warehouse.name' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseName.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.name" id="warehouseName" name="name" required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseSize">
          {{ 'warehouse.size' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseSize.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.size" id="warehouseSize" name="size" required />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseAddressCountry">
          {{ 'warehouse.address.country' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseAddress.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.addressCountry" id="warehouseAddressCountry"
            name="addressCountry" required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseAddressState">
          {{ 'warehouse.address.state' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseAddress.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.addressState" id="warehouseAddressState" name="addressState"
            required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseAddressCounty">
          {{ 'warehouse.address.county' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseAddress.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.addressCounty" id="warehouseAddresscounty" name="addressCounty"
            required />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseAddressCity">
          {{ 'warehouse.address.city' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseAddress.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.addressCity" id="warehouseAddressCity" name="addressCity"
            required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseAddressDistrict">
          {{ 'address.district' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseAddress.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.addressDistrict" id="warehouseAddressDistrict"
            name="addressDistrict" required />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseAddressLine1">
          {{ 'warehouse.address.line1' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseAddress.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.addressLine1" id="warehouseAddressLine1" name="addressLine1"
            required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseAddressLine2">
          {{ 'warehouse.address.line2' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseAddress.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.addressLine2" id="warehouseAddressLine2" name="addressLine2"
            required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warehouseAddressPostcode">
          {{ 'warehouse.address.postcode' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.warehouseAddress.required' | translate }}">
          <input nz-input [(ngModel)]="currentWarehouse.addressPostcode" id="warehouseAddressPostcode"
            name="addressPostcode" required />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<div nz-row nzType="flex" nzJustify="center">
  <button nz-button nzType="primary" (click)="goToConfirmPage()">
    {{ 'description.steps.next' | translate }} :
    {{ 'description.steps.warehouse-maintenance.confirm.title' | translate }}
  </button>
</div>
