<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/warehouse-layout/warehouse" routerLinkActive="active">{{
    'return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.warehouse-layout' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/warehouse-layout/warehouse" routerLinkActive="active">{{
        'breadcrumb.warehouse' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<div nz-row style="padding: 50px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="1" [nzSize]="'default'">
      <nz-step nzTitle="{{ 'steps.warehouse-maintenance.basic-info.title' | translate }}"
        nzDescription="{{ 'steps.warehouse-maintenance.basic-info.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.warehouse-maintenance.confirm.title' | translate }}"
        nzDescription="{{ 'steps.warehouse-maintenance.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>

<form nz-form [formGroup]="warehouseForm">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          id
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="warehouseId" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'name' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'size' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input type="number" formControlName="size" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'country' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="addressCountry" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'state' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="addressState" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'county' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="addressCounty" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'city' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="addressCity" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'district' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="addressDistrict" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'address.line1' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="addressLine1" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'address.line2' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="addressLine2" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ 'postcode' | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
          nzErrorTip="{{ 'error.form.field.required' | translate }}">
          <input nz-input formControlName="addressPostcode" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<div nz-row nzType="flex" nzJustify="center">
  <button nz-button nzType="primary" (click)="goToConfirmPage()">
    {{ 'steps.next' | translate }} :
    {{ 'steps.warehouse-maintenance.confirm.title' | translate }}
  </button>
</div>
