<page-header [title]="'menu.main.qc.qc-rule-configuration' | i18n"> </page-header>

<nz-spin [nzSpinning]="isSpinning">
<!-- Form to query the result  -->
<!--
  
-->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24"> 
    
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="supplier" [nzSpan]="6">
          {{ 'supplier' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          
          <nz-select name="supplier" id="supplier" formControlName="supplier">
            <nz-option *ngFor="let supplier of validSuppliers"
            [nzLabel]="supplier.description" [nzValue]="supplier.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    
    <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="itemFamily" [nzSpan]="6">
            {{ 'item-family' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            
            <nz-select name="itemFamily" id="itemFamily" formControlName="itemFamily">
              <nz-option *ngFor="let itemFamily of validItemFamilies"
              [nzLabel]="itemFamily.description" [nzValue]="itemFamily.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  <div nz-row [nzGutter]="24"> 
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="inventoryStatus" [nzSpan]="6">
            {{ 'inventory-status' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            
            <nz-select name="inventoryStatus" id="inventoryStatus" formControlName="inventoryStatus">
              <nz-option *ngFor="let inventoryStatus of validInventoryStatus"
              [nzLabel]="inventoryStatus.description" [nzValue]="inventoryStatus.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">
          {{ 'item' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="12" >

            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input nz-input name="item" id="item" formControlName="item" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <app-inventory-item-query-popup (recordSelected)="processItemQueryResult($event)">
                </app-inventory-item-query-popup>
              </ng-template>

        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
    </div>
  </div>
</form>

<div class="search-result-list">
  
      <!--
    <div nz-row nzType="flex" nzJustify="start" style="padding-left: 25px;">
      <app-util-table-column-selection [tableColumnsConfiguration]="customColumns" (myModelChange)="columnChoosingChanged()"></app-util-table-column-selection>
    </div>
  -->
    
    <st #st [data]="listOfAllQCRuleConfiguration"  [columns]="columns"  [scroll]="{ x: '1450px'}"
        [expand]="expand"   expandAccordion>
      
      <!--   qc rule details  -->
      <ng-template #expand let-item let-index="index" >
        
        <nz-tabset  >
          <nz-tab *ngFor="let qcRule of item.qcRules" [nzTitle]="qcRule.name!">
            <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #innerTable [nzData]="qcRule.qcRuleItems" nzSize="middle"
              [nzShowPagination]="false" #qcRuleItemTable>
              <thead>
                <th>
                  {{ 'qcRule.checkPoint' | i18n }}
                </th>
                <th>
                  {{ 'qcRule.qcRuleItemType' | i18n }}
                </th>
                <th>
                  {{ 'qcRule.qcRuleItemComparator' | i18n }}
                </th>
                <th>
                  {{ 'qcRule.expectedValue' | i18n }}
                </th> 
                
              </thead>
              <tbody>
                <tr *ngFor="let qcRuleItem of qcRuleItemTable.data">
                  <td>{{ qcRuleItem.checkPoint }}</td>
                  <td>{{ 'QC-RULE-ITEM-TYPE-' + qcRuleItem.qcRuleItemType | i18n }}</td>
                  <td>{{ 'QC-RULE-ITEM-COMPARATOR-' + qcRuleItem.qcRuleItemComparator  | i18n}}</td>
                  <td>{{ qcRuleItem.expectedValue }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
      </ng-template>

      <!--   action colummn  --> 
      <ng-template st-row="actionColumnTitle" type="title" let-c>
        {{ 'action' | i18n }}
      </ng-template>
      <ng-template st-row="actionColumn" let-item let-index="index"> 
        
        <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary">
          {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu> 

            <li nz-menu-item >
              <a  (click)="modifyQCRuleConfiguration(item)">{{ 'modify' | i18n }}</a>
            </li>
            <li nz-menu-item>
              <a  (click)="removeQCRuleConfiguration(item)">{{ 'remove' | i18n }}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-template>
    </st>
    @if(searchResult != '') {
  
      <div nz-row nzType="flex" nzJustify="start">
        {{searchResult}}
      </div>
    }
    <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly"> 
        <button nz-button nzType="primary" routerLink="/qc/qc-rule-configuration/maintenance" routerLinkActive="active">
          {{ 'add' | i18n }}
        </button>
    </div>
</div>
</nz-spin>