<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a (click)="return()" routerLinkActive="active">{{
    'return' | i18n
    }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.auth' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/auth/role" routerLinkActive="active">{{
        'breadcrumb.role' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
  <nz-card nzTitle="{{'assign-permission' | i18n }} - {{ currentRole?.name }}" [nzActions]="[cardFoot]">
        <nz-tree [nzData]="rolePermissions"   nzBlockNode nzVirtualHeight="500px"
          [nzCheckedKeys]="defaultCheckedKeys"
          nzCheckable
          ></nz-tree>
    
  </nz-card>
  <ng-template #cardFoot>
    <div nz-row nzType="flex" nzJustify="center" >
      <button nz-button nzType="primary" (click)="assignPermission()">
        {{ 'confirm' | i18n }}
      </button>
    </div> 
  </ng-template>
</nz-spin>