<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/common/unit-of-measure" routerLinkActive="active">{{
    'return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.common' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/common/unit-of-measure" routerLinkActive="active">{{
        'breadcrumb.unit-of-measure' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<div nz-row style="padding: 50px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="0" [nzSize]="'default'">
      <nz-step nzTitle="{{ 'steps.basic-info.title' | translate }}"
        nzDescription="{{ 'steps.unit-of-measure.basic-info.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.confirm.title' | translate }}"
        nzDescription="{{ 'steps.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>

<nz-card [nzActions]="[cardFoot]">
  <form nz-form>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">
            {{ 'name' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <input nz-input [(ngModel)]="currentUnitOfMeasure.name" id="name" name="name" required />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">
            {{ 'description' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <input nz-input [(ngModel)]="currentUnitOfMeasure.description" id="description" name="description"
              required />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>

</nz-card>

<ng-template #cardFoot>
  <div nz-row nzType="flex" nzJustify="center">
    <button nz-button nzType="primary" (click)="goToConfirmPage()">
      {{ 'steps.next' | translate }} :
      {{ 'steps.confirm.title' | translate }}
    </button>
  </div>
</ng-template>
