<page-header title="{{'inventory-mix-restriction' |  i18n}}" > </page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
  <!-- Form to query the result  -->
  <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" *ngIf="threePartyLogisticsFlag">
        <nz-form-item nzFlex>
          <nz-form-label for="client" [nzSpan]="6">
            {{ 'client' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="client">
              <nz-option *ngFor="let client of availableClients" [nzLabel]="client.name" [nzValue]="client"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
       
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
            <nz-form-label for="location_group_type" [nzSpan]="8">
                {{ 'location-group-type' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
                <nz-select formControlName="locationGroupType">
                <nz-option *ngFor="let locationGroupType of locationGroupTypes" [nzLabel]="locationGroupType.description"
                    [nzValue]="locationGroupType.id"></nz-option>
                </nz-select>
            </nz-form-control>
            </nz-form-item>
        </div>
    
        <div nz-col [nzSpan]="8">
            <nz-form-item nzFlex>
            <nz-form-label for="location_group" [nzSm]="6" [nzXs]="6">
                {{ 'location-group' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="18">
                <nz-select formControlName="locationGroup">
                <nz-option *ngFor="let locationGroup of locationGroups" [nzLabel]="locationGroup.description!"
                    [nzValue]="locationGroup.id"></nz-option>
                </nz-select>
            </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        
        <div nz-col [nzSpan]="8"  >
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="location">
                {{ 'location' | i18n }}
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-input-group nzSearch [nzAddOnAfter]="locationSuffixIconButton">
                  <input nz-input formControlName="location" id="location" name="location" />
                </nz-input-group>
                <ng-template #locationSuffixIconButton>
                  <app-warehouse-layout-location-query-popup (recordSelected)="processLocationQueryResult($event)">
                  </app-warehouse-layout-location-query-popup>
                </ng-template>
              </nz-form-control>
    
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
          {{ 'search' | i18n }}
        </button>
        <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
        
      </div>
    </div>
  </form>

  <!-- Table to Display the result  -->
  <div class="search-result-list">
    
    <st #st [data]="inventoryMixRestrictionList" [columns]="columns" [footer]="tableFoot"  
    [expand]="expand"  expandAccordion>
    
    
        <!--   action colummn  -->  
        <ng-template st-row="actionColumn" let-item let-index="index"> 
            <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary">
                {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>  
                  <li nz-menu-item >
                    <a routerLink="/inventory/mix-restriction/maintenance" routerLinkActive="active"
                    [queryParams]="{id: item.id}">{{ 'modify' | i18n }}</a>
                  </li>
                  <li nz-menu-item>
                    <a  (click)="removeInventoryMixRestriction(item)">{{ 'remove' | i18n }}</a>
                  </li>
                </ul>
              </nz-dropdown-menu>            
        </ng-template>

        <!--   lines -->
        <ng-template #expand let-item let-index="index" >
          
            <nz-tabset>
              <nz-tab nzTitle="{{'line' | i18n}}">
                
              <nz-table   nzShowPagination [nzData]="item!.lines"
                  #lineTable>
              <thead>
                  <tr> 
                    <th nzWidth="350px">
                      {{ 'type' | i18n }}
                    </th>
                    <th>
                      {{ 'attribute' | i18n }}
                    </th>   
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of lineTable.data">   
                      <td> {{ data.type | i18n}} </td> 
                      <td> {{ 'INVENTORY_ATTRIBUTE-' + data.attribute | i18n}} </td>  
                  </tr>
              </tbody>
              </nz-table>
                
              </nz-tab>
            </nz-tabset>
        </ng-template>

          
        <ng-template #tableFoot>

          @if(searchResult != '') {

            <div nz-row nzType="flex" nzJustify="start">
              {{searchResult}}
            </div>
          }
                
          <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;"> 
        
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" routerLink="/inventory/mix-restriction/maintenance" routerLinkActive="active">
              {{ 'add' | i18n }}
            </button> 
          </div>
        </ng-template>
       
    </st>
  </div>
</nz-spin>