<page-header></page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="itemName" [nzSm]="3" [nzXs]="3">
          {{'item' | translate}}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">

          <nz-input-group nzSearch [nzAddOnAfter]="lookupDrawerOpener">
            <input nz-input name="itemName" id="itemName" formControlName="itemName" />
          </nz-input-group>
          <ng-template #lookupDrawerOpener>
            <button nz-button nzType="primary" nzSearch (click)="openLookupDrawer()"><i nz-icon
                nzType="search"></i></button>
          </ng-template>

        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="itemFamilyName" [nzSm]="3" [nzXs]="3">
          {{'item-family' | translate}}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="itemFamilyName" id="itemFamilyName" formControlName="itemFamilyName" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="inventoryStatus" [nzSm]="3" [nzXs]="3">
          {{'inventory.status' | translate}}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select name="inventoryStatus" id="inventoryStatus" formControlName="inventoryStatus">
            <nz-option *ngFor="let inventoryStatus of availableInventoryStatuses"
              [nzLabel]="inventoryStatus.description" [nzValue]="inventoryStatus.name">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">{{'search' | translate}}</button>
      <button nz-button (click)="resetForm()">{{'clear' | translate}}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfAllPutawayConfiguration"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzFooter]="tableFoot">
    <thead >
      <tr>
        <th
            [nzSelections]="listOfSelection"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
            nzWidth="60px"
          ></th>
        <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"        
            [nzShowFilter]="column.showFilter"
          >
            {{ column.name | translate }}
          </th> 

          
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        
        <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzDisabled]="data.disabled"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
 
        <td>{{ data.sequence }}</td>
        <td><a nz-tooltip nzTooltipTitle="{{ data.item?.description}}">{{ data.item?.name}}</a></td>
        <td><a nz-tooltip nzTooltipTitle="{{ data.itemFamily?.description}}">{{ data.itemFamily?.name}}</a></td>
        <td><a nz-tooltip nzTooltipTitle="{{ data.inventoryStatus?.description}}">{{ data.inventoryStatus?.name}}</a>
        </td>
        <td><a nz-tooltip nzTooltipTitle="{{ data.location?.description}}">{{ data.location?.name}}</a></td>
        <td><a nz-tooltip nzTooltipTitle="{{ data.locationGroup?.description}}">{{ data.locationGroup?.name}}</a>
        </td>
        <td><a nz-tooltip
            nzTooltipTitle="{{ data.locationGroupType?.description}}">{{ data.locationGroupType?.name}}</a></td>
        <td> {{ data.strategies}} </td>

      </tr>
    </tbody>
  </nz-table>
  <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;">
    <a nz-button nzType="primary" routerLink="/inbound/putaway-configuration-maintenance" routerLinkActive="active">
      {{'add' | translate}}
    </a>

    <button nz-button nzType="danger" (click)="removeSelectedPutawayConfigurations()">{{'delete' | translate}}</button>
  </div>
</div>


<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
    {{searchResult}}
  </div>
</ng-template>

<nz-drawer [nzClosable]="true" [nzVisible]="lookupDrawerVisible" nzPlacement="right"
  nzTitle="{{ 'description.drawer.title.lookup' | translate }}" nzWidth="50%" (nzOnClose)="lookupDrawerclosed()">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input [(ngModel)]='lookupCriteria' />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="lookup()"><i nz-icon nzType="search"></i></button>
  </ng-template>


  <nz-table #itemTable nzShowSizeChanger [nzData]="listOfAllItems"
    (nzCurrentPageDataChange)="currentItemPageDataChange($event)">
    <thead (nzSortChange)="sortItem($event)" nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="id">ID</th>
        <th nzShowSort nzSortKey="item">
          {{'item' | translate}}</th>
        <th>
          {{'description' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of itemTable.data">

        <td>{{ data.id }}</td>
        <td><a (click)="lookupSelect(data.name)"> {{ data.name}}</a> </td>
        <td> {{ data.description}} </td>

      </tr>
    </tbody>
  </nz-table>
</nz-drawer>
