
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">


<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    

    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="integrationDateTimeRanger">
          {{ 'integration.date-time' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-range-picker [nzShowTime]="{ nzHideDisabledOptions: true }" nzFormat="yyyy-MM-dd HH:mm:ss"
            formControlName="integrationDateTimeRanger" name="integrationDateTimeRanger">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="integrationDate">
          {{ 'integration.date' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-date-picker formControlName="integrationDate" name="integrationDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="status">
          {{ 'integration.status' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          
          <nz-select  nzMode="multiple" formControlName="statusList" name="statusList">
            @for (status of integrationStatusListKeys; track status) {
            
              <nz-option 
                [nzValue]="status"
                nzLabel="{{ 'INTEGRATION-STATUS-' + status | i18n}}"
              ></nz-option>
            
            }  
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="id">
          {{ 'id' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="6">
          
          <input nz-input name="id" id="id" formControlName="id"> 
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
      <a class="collapse" (click)="toggleCollapse()">
        {{ 'collapse' | i18n }}

        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table 
  [nzScroll]="{ x: '150vw' }"  #rowSelectionTable nzShowSizeChanger nzShowPagination [nzData]="listOfAllIntegrationSupplierData"
    [nzFooter]="tableFoot">
    <thead  >
      <tr>
        
        @for (column of listOfColumns; track column) {
            
          <th 
            [nzShowSort]="column.showSort"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"        
            [nzShowFilter]="column.showFilter"
          >
            {{ column.name | i18n }}
          </th> 
            
        } 
          <th nzEllipsis>{{ 'integration.errorMessage' | i18n }}</th>
          <th nzRight>{{ 'action' | i18n }}</th>

     
      </tr>
    </thead>
    <tbody>
      @for (data of rowSelectionTable.data; track data) {
      
        <tr >
          <td>{{ data.id }}</td>
  
          <td>{{ data.name }}</td>
          <td nzEllipsis><a>
            <span nz-tooltip nzTooltipTitle="{{ data.description }}">{{ data.description }}</span>
            </a> </td>
          <td>{{ data.contactorFirstname }}</td>
          <td>{{ data.contactorLastname }}</td>
          <td>{{ data.addressCountry }}</td>
          <td>{{ data.addressState }}</td>
          <td>{{ data.addressCounty }}</td>
          <td>{{ data.addressCity }}</td>
          <td>{{ data.addressDistrict }}</td>
          <td nzEllipsis><a>
            <span nz-tooltip nzTooltipTitle="{{ data.addressLine1 }}">{{ data.addressLine1 }}</span>
            </a> </td>
          <td nzEllipsis><a>
            <span nz-tooltip nzTooltipTitle="{{ data.addressLine2 }}">{{ data.addressLine2 }}</span>
            </a> </td>
          <td>{{ data.addressPostcode }}</td>
  
          <td>{{ 'INTEGRATION-STATUS-' + data.status | i18n}}</td>
          
          <td>
            {{data.createdTime  | date:'short'}} 
          </td>
          <td>
            {{data.lastModifiedTime | date:'short'}} 
          </td>
          <td nzEllipsis>
            <a>
              <span nz-tooltip nzTooltipTitle="{{ data.errorMessage }}">{{ data.errorMessage }}</span>
            </a>
          </td>
          <td nzRight>
            <button nz-button (click)="resendIntegration(data.id!)">{{ 'resend' | i18n }}</button>
          </td>
        </tr>
      
      }  

    </tbody>
  </nz-table>
</div>

<ng-template #tableFoot>
  <!--


  <div nz-row nzType="flex" nzJustify="start">
    <button nz-button
      (click)="openAddIntegrationDataModal(tplIntegrationDataModalTitle, tplIntegrationDataModalContent )">
      {{ 'add' | i18n }}
    </button>
  </div>
  -->
  @if(searchResult != '') {

    <div nz-row nzType="flex" nzJustify="start">
      {{searchResult}}
    </div>
  }
</ng-template>



<!-- Modal for inventory movement-->
<ng-template #tplIntegrationDataModalTitle>
  <span>{{ 'page.modal.add.header.title' | i18n}}</span>
</ng-template>
<ng-template #tplIntegrationDataModalContent>
  <form nz-form [formGroup]="integrationDataForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">
            {{ 'name' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">
            {{ 'description' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="description" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstname">
            {{ 'contactor.firstname' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="contactor.firstname" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'contactor.lastname' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="contactor.lastname" />

          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'address.country' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="addressCountry" />

          </nz-form-control>
        </nz-form-item>
      </div>


      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'address.state' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="addressState" />

          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'address.county' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="addressCounty" />

          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'address.city' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="addressCity" />

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'address.district' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="addressDistrict" />

          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'address.line1' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="addressLine1" />

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'address.line2' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="addressLine2" />

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'address.postcode' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="addressPostcode" />

          </nz-form-control>
        </nz-form-item>
      </div>

    </div>


  </form>
</ng-template>

</nz-spin>