<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>

<ng-template #returnLink>
  <a routerLink="/auth/department" routerLinkActive="active">{{ 'return' | i18n }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/auth/department" routerLinkActive="active">{{
        'department' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-spin [nzSpinning]="isSpinning">
<nz-steps nzType="navigation" [nzCurrent]="stepIndex">
  <nz-step nzTitle="{{ 'steps.basic-info.title' | i18n }}"> </nz-step> 
  <nz-step nzTitle="{{ 'steps.confirm' | i18n }}"> </nz-step>
</nz-steps>


<!-- Step 1: basic information  
  -->


@if(stepIndex === 0) {

  <div class="small-card" style="padding-top: 20px;">


    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">
            {{ 'name' | i18n }}
          </nz-form-label>
          
          <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
              <nz-input-group>
                  <input nz-input [(ngModel)]="currentDepartment.name" [disabled]="!newDepartment"/>
              </nz-input-group>
          </nz-form-control>  
        </nz-form-item>
      </div>
      
      <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="6">
              {{ 'description' | i18n }}
            </nz-form-label>
            
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
                <nz-input-group>
                    <input nz-input [(ngModel)]="currentDepartment.description" />
                </nz-input-group>
            </nz-form-control>  
          </nz-form-item>
        </div>
    </div>
    
  </div>
}


 <!-- confirm -->
 @if(stepIndex === 1) {

  <div class="small-card" style="padding-top: 20px;">
    <nz-card>
      <nz-descriptions nzTitle="{{ 'department' | i18n}}" nzBordered>
          <nz-descriptions-item nzTitle="{{ 'name' | i18n}}">
            {{currentDepartment.name}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="{{ 'description' | i18n}}">
              {{currentDepartment.description}}</nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </div>
 }


<div class="steps-action" style="padding-top: 20px;">
  @if(stepIndex > 0) {

    <button nz-button nzType="default" (click)="previousStep()" >
      <span>{{ 'steps.previous' | i18n }}</span>
    </button>
  }
  @if(stepIndex < 1) {
    <nz-divider nzType="vertical" ></nz-divider>
    <button nz-button nzType="default" (click)="nextStep()" >
      <span>{{ 'steps.next' | i18n }}</span>
    </button>
  }
    
  @if(stepIndex === 1) {
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="confirm()"  >
      <span> {{ 'confirm' | i18n }}</span>
    </button>
  }
</div>
</nz-spin>