<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/transportation/trailer" routerLinkActive="active" [queryParams]="{number: currentTrailer?.number}">{{ 'return' | i18n
    }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/transportation/trailer" routerLinkActive="active">{{ 'trailer' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'trailer.maintenance' | i18n }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">

<nz-steps nzType="navigation" [nzCurrent]="stepIndex" nzStatus="wait" style="padding: 15px">
  <nz-step nzTitle="{{ 'steps.basic-info.title' | i18n }}"> </nz-step>
  <nz-step nzTitle="{{ 'steps.confirm' | i18n }}"> </nz-step>
</nz-steps>

<!-- Show basic item information -->
<div class="small-card" *ngIf="stepIndex === 0 ">  
    <nz-card nzTitle="{{'current-appointment' | i18n}}">
        <div *ngIf="currentAppointment != null">
            <nz-descriptions nzBordered>
                <nz-descriptions-item nzTitle="{{ 'number' | i18n}}">
                {{currentAppointment?.number}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="{{ 'description' | i18n}}">
                {{currentAppointment?.description}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="{{ 'type' | i18n}}">
                    <span *ngIf="currentAppointment?.type != null">
                        {{'TRAILER-APPOINTMENT-TYPE-' + currentAppointment?.type | i18n}} </span>
                </nz-descriptions-item>
          </nz-descriptions>

        </div>
        <div *ngIf="currentAppointment == null">
            There's no current appointment, <a (click)="showAddAppointmentModal(tplAddAppointmentModalTitle, tplAddAppointmentModalContent)">add</a> one

        </div>
    </nz-card>   
</div>



<!-- Confirm the change -->
<div class="small-card" *ngIf="stepIndex === 1">
  <nz-card>
    <nz-descriptions nzBordered="true">

      <nz-descriptions-item nzTitle="{{ 'number' | i18n }}">{{ currentAppointment?.number }}
      </nz-descriptions-item>
      

       
    </nz-descriptions>
  </nz-card>
</div>


<div class="steps-action" *ngIf="stepIndex === 0">
  <button nz-button nzType="default" (click)="nextStep()"  >
    <span>{{ 'steps.next' | i18n }}</span>
  </button>
</div>

<div class="steps-action" *ngIf="stepIndex === 1">

  <button nz-button nzType="default" (click)="previousStep()">
    <span>{{ 'steps.previous' | i18n }}</span>
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button nz-button nzType="primary" (click)="confirm()">
    <span> {{ 'confirm' | i18n }}</span>
  </button>
</div>

</nz-spin>



<!-- Modal for creating receipt line -->
<ng-template #tplAddAppointmentModalTitle>
    <span>{{ 'add-appointment' | i18n}}</span>
  </ng-template>
  <ng-template #tplAddAppointmentModalContent>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="number">
            {{ 'number' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
            <nz-input-group nzSize="large">
              <input appFkey variable="trailer-appointment-number"  nz-input [(ngModel)]="currentAppointment!.number" id="number" name="number" 
              (nextNumberAvailableEvent)="currentAppointmentNumberChanged($event)"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="description">
            {{ 'description' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
            <nz-input-group nzSize="large">
              <input  nz-input [(ngModel)]="currentAppointment!.description" id="description" name="description" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> 
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="type">
            {{ 'type' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
            <nz-input-group nzSize="large" >
                <nz-select  [(ngModel)]="currentAppointment!.type" style="width: 250px" >
                        <nz-option
                          *ngFor="let type of trailerAppointmentTypes  | keys"
                          [nzValue]="type.key"
                          nzLabel="{{ 'TRAILER-APPOINTMENT-TYPE-' + type.key | i18n}}"
                        ></nz-option>
                      </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </ng-template>