<page-header title="{{'customer' |  i18n}}" >
</page-header>


<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="12">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="name" [nzSm]="6" [nzXs]="14">
          {{ 'name' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" id="name" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </div> 
  </div> 

  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table [nzScroll]="{ x: '150vw' }" #rowSelectionTable nzShowSizeChanger [nzData]="listOfAllCustomers"
    [nzFooter]="tableFoot">
    <thead>
      <tr>
        <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)" nzWidth="60px"></th>
        <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections" [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn" [nzShowFilter]="column.showFilter">
          {{ column.name | i18n }}
        </th>
        <th nzRight nzWidth="120px">{{'action' | i18n}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.id!)" (nzCheckedChange)="onItemChecked(data.id!, $event)"></td>
        <td> 
              {{ data.name }} 
        </td>
        <td> {{ data.description }} 
        </td>
        <td> {{ data.listPickEnabledFlag }} 
        </td>
        <td> {{ data.contactorFirstname }} 
        </td>
        <td> {{ data.contactorLastname }} 
        </td>
        <td> {{ data.addressCountry }} 
        </td>
        <td> {{ data.addressState }} 
        </td>
        <td> {{ data.addressCounty }} 
        </td>
        <td> {{ data.addressCity }} 
        </td>
        <td> {{ data.addressDistrict }} 
        </td>
        <td> {{ data.addressLine1 }} 
        </td>
        <td> {{ data.addressLine2 }} 
        </td>
        <td> {{ data.addressPostcode }} 
        </td>
        
        <td> {{ data.customerIsTarget }} 
        </td>
        <td> {{ data.customerIsWalmart }} 
        </td>
        <td> {{ data.allowPrintShippingCartonLabel }} 
        </td>
        <td> {{ data.allowPrintShippingCartonLabelWithPalletLabel }} 
        </td>
        <td> {{ data.allowPrintShippingCartonLabelWithPalletLabelWhenShort }} 
        </td>
        <td> {{ data.maxPalletSize }} 
        </td>
        <td> {{ data.maxPalletHeight }} 
        </td>
        <td nzRight> 
          <a routerLinkActive="active"
          (click)="setupSessionCustomer(data.id!)">
            {{'modify' | i18n}}
          </a>
          
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
</nz-spin>


<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start" *ngIf="!displayOnly">  
    <a nz-button nzType="primary" routerLink="/common/customer-maintenance" routerLinkActive="active"
      (click)="clearSessionCustomer()">
      {{'add' | i18n}}
    </a>

    <button nz-button nzDanger (click)="removeSelectedCustomers()">{{'delete' | i18n}}</button>
  </div>
</ng-template>