<page-header></page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <!-- Form to query the result  -->
    <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form"> 
  
      <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
              <nz-form-item nzFlex>
                <nz-form-label [nzSpan]="6" nzFor="number">
                  {{ 'number' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="18">
                  <input nz-input name="number" id="number" formControlName="number">
                </nz-form-control>
              </nz-form-item>
          </div> 
        
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
          <button nz-button [nzType]="'primary'" (click)="search()"  >
            {{ 'search' | i18n }}
          </button>
          <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
        </div>
      </div>
    </form> 
   
   
    
    <div class="search-result-list"> 
      <div nz-row nzType="flex" nzJustify="start" style="padding-left: 25px;">
        <app-util-table-column-selection [myModel]="customColumns" (myModelChange)="columnChoosingChanged()"></app-util-table-column-selection>
      </div>
      
      <st #st [data]="trailerContainers" [columns]="columns" [footer]="tableFoot"    
      > 
       
  
      
        <!--   action colummn  --> 
        <ng-template st-row="actionColumnTitle" type="title" let-c>
          {{ 'action' | i18n }}
        </ng-template>
        <ng-template st-row="actionColumn" let-item let-index="index"> 
          
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary" 
              [disabled]="item.number==''"
          >
            {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu> 
              <li nz-menu-item  >
                
                <a routerLink="/common/trailer-container/maintenance"
                [queryParams]="{id : item.id}" routerLinkActive="active">
                    {{ 'modify' | i18n }}</a>
                    
              </li>
              <li nz-menu-item  >
                <a  (click)="removeContainer(item)">{{ 'remove' | i18n }}</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-template>
   
      </st>
    
    </div>
   
  </nz-spin>
  
<ng-template #tableFoot>

    <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
      {{searchResult}}
    </div>
    
    <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;">
      
      <button nz-button nzType="primary" routerLink="/common/trailer-container/maintenance" routerLinkActive="active">
          {{ 'add' | i18n }}
        </button>
    </div>
  </ng-template>
  