<page-header> </page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="client" [nzSm]="3" [nzXs]="3">
          {{ 'client' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select nzMode="tags" formControlName="taggedClients">
            <nz-option *ngFor="let client of clients" [nzLabel]="client.label" [nzValue]="client.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="item-family" [nzSm]="3" [nzXs]="3">
          {{ 'item-family' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select nzMode="tags" formControlName="taggedItemFamilies">
            <nz-option *ngFor="let itemFamily of itemFamilies" [nzLabel]="itemFamily.label" [nzValue]="itemFamily.value">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
    
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="3" [nzXs]="3" nzFor="name">
          {{ 'name' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input name="name" id="name" formControlName="itemName">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'search' | translate }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | translate }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table [nzScroll]="{ x: scrollX }"  nzShowPagination [nzData]="items" [nzFooter]="tableFoot" #nestedTable>
    <thead  >
      <tr><th nzWidth="40px"></th>

        <th
            *ngFor="let column of listOfColumns"
            [nzShowSort]="column.showSort"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"        
            [nzShowFilter]="column.showFilter"
            [nzWidth]="column.width"
          >
            {{ column.name | translate }}
          </th> 
            
 
        <th nzRight nzWidth="260px">{{'action' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <!--<tr *ngFor="let data of rowSelectionTable.data">-->
        <tr><td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          <td><img
            nz-image
            width="40px"
            height="40px"
            [nzSrc]="data.thumbnailUrl"
            nzFallback="../../resource/assets/images/image_missing.png"
            alt="" (click)="openImageViewer(data, tplUploadImagesModalTitle, tplUploadImagesModalContent)"
          /></td>
          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.client?.name}}</td>
          <td>{{ data.itemFamily?.description }}</td>
          <td>{{ data.unitCost }}</td>
          <td>{{ data.allowAllocationByLPN + '' | translate}}</td>
          <td><span *ngIf="data.allocationRoundUpStrategyType != null">
              {{ 'ALLOCATION-ROUND-UP-STRATEGY-TYPE-' + data.allocationRoundUpStrategyType | translate}}
            </span></td>
          <td>{{ data.allocationRoundUpStrategyValue }}</td>
          <td>{{ data.trackingVolumeFlag  + '' | translate}}</td>
          <td>{{ data.trackingLotNumberFlag  + '' | translate}}</td>
          <td>{{ data.trackingManufactureDateFlag  + '' | translate}}</td>
          <td>{{ data.shelfLifeDays }}</td>
          <td>{{ data.trackingExpirationDateFlag  + '' | translate}}</td>
          <td nzRight>

            <button nz-button nzType="primary" routerLink="/inventory/item/maintenance" routerLinkActive="active"
              [queryParams]="{id : data.id}">
              {{ 'modify' | translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="danger" (click)='removeItem(data)'>
              {{ 'delete' | translate }}
            </button>

          </td>
        </tr>
        <tr  [nzExpand]="expandSet.has(data.id)" *ngIf="data.itemPackageTypes?.length > 0"
          (nzExpandChange)="showItemPackageType(data)"> 
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
              <nz-tab *ngFor="let itemPackageType of data.itemPackageTypes" [nzTitle]="itemPackageType.name">
                <nz-table #innerTable [nzData]="itemPackageType.itemUnitOfMeasures" nzSize="middle"
                  [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th>{{'unit-of-measure' | translate}}</th>
                      <th>{{'quantity' | translate}}</th>
                      <th>{{'weight' | translate}}</th>
                      <th>{{'length' | translate}}</th>
                      <th>{{'width' | translate}}</th>
                      <th>{{'height' | translate}}</th>
                    </tr>
                  </thead>
    <tbody>
      <tr *ngFor="let data of innerTable.data">
        <td>{{ data.unitOfMeasure?.name }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.weight }}</td>
        <td>{{ data.length }}</td>
        <td>{{ data.width }}</td>
        <td>{{ data.height }}</td>
      </tr>
    </tbody>
  </nz-table>
  </nz-tab>
  </nz-tabset>

 
  </tr>
  </ng-template>
  </tbody>
  </nz-table>

  <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;">
    <button nz-button nzType="primary" routerLink="/util/file-upload/items" routerLinkActive="active">
      {{ 'file-upload' | translate }}
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" routerLink="/inventory/item/maintenance" routerLinkActive="active">
      {{ 'add' | translate }}
    </button>
  </div>
</div>

<ng-template #tableFoot>

  <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
    {{searchResult}}
  </div>
</ng-template>




<!-- Modal for upload images -->
<ng-template #tplUploadImagesModalTitle>
  <span>{{ 'item.image.upload' | translate}}</span>
</ng-template>
<ng-template #tplUploadImagesModalContent>

  
  
  <form nz-form [formGroup]="loadFileForm">
    <div nz-row [nzGutter]="24" style="margin-bottom: 10px">
      <div nz-col [nzSpan]="24" nzOffset="8">
        <img nz-image width="200px" height="200px"
        [nzSrc]="uploadingImageItem?.thumbnailUrl" [nzFallback]="fallbackImage" alt="" />
        </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label   [nzSm]="6" [nzXs]="6" nzRequired="true">
            {{ 'item.image.upload.url' | translate }}
          </nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="18">
        <nz-form-item>
          <nz-upload [nzAction]="imageUploadDestination" 
          (nzChange)="handleChange($event)">
            <button nz-button>
              <i nz-icon nzType="upload"></i>
              {{ 'file-upload' | translate }}
            </button>
          </nz-upload>
        </nz-form-item>
      </div>
      </div>
      </form>

</ng-template>