<page-header [title]="'page.warehouse.header.title' | translate" [action]="addWarehouseActionTpl"> </page-header>
<ng-template #addWarehouseActionTpl>
  <a routerLink="/warehouse-layout/warehouse-maintenance" routerLinkActive="active">
    {{ 'add' | translate }}
  </a>
</ng-template>

<ng-container *ngFor="let warehouse of warehouses">
  <nz-card nzTitle="{{ '#' + warehouse.id + '-' + warehouse.name }}" [nzActions]="[actionEdit, actionDelete]">
    <nz-descriptions nzBordered>
      <nz-descriptions-item nzTitle="{{ 'warehouse.id' | translate }}">{{ warehouse.id }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'warehouse.name' | translate }}">{{ warehouse.name }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'warehouse.size' | translate }}">{{ warehouse.size }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="{{ 'warehouse.address.country' | translate }}">
        {{ warehouse.addressCountry }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'warehouse.address.state' | translate }}">
        {{ warehouse.addressState }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'warehouse.address.county' | translate }}">
        {{ warehouse.addressCounty }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'warehouse.address.city' | translate }}">
        {{ warehouse.addressCity }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'warehouse.address.line1' | translate }}">
        {{ warehouse.addressLine1 }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'warehouse.address.line2' | translate }}">
        {{ warehouse.addressLine2 }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'warehouse.address.postcode' | translate }}">
        {{ warehouse.addressPostcode }}
      </nz-descriptions-item>

    </nz-descriptions>
  </nz-card>

  <ng-template #actionEdit>
    <a routerLink="/warehouse-layout/warehouse-maintenance/{{warehouse.id}}" routerLinkActive="active">
      <i nz-icon nzType="edit"></i>
    </a>
  </ng-template>
  <ng-template #actionDelete>
    <i nz-icon nzType="delete" (click)="removeWarehouse(warehouse)"></i>
  </ng-template>
</ng-container>
