<page-header [title]="'page.warehouse.header.title' | translate" [action]="addWarehouseActionTpl"> </page-header>
<ng-template #addWarehouseActionTpl>
  <a routerLink="/warehouse-layout/warehouse-maintenance" routerLinkActive="active">
    {{ 'description.field.button.add' | translate }}
  </a>
</ng-template>

<ng-container *ngFor="let warehouse of warehouses">
  <nz-card nzTitle="{{ '#' + warehouse.id + '-' + warehouse.name }}" [nzActions]="[actionEdit, actionDelete]">
    <nz-descriptions nzBordered>
      <nz-descriptions-item nzTitle="{{ 'description.field.label.warehouse.id' | translate }}">{{ warehouse.id }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'description.field.label.warehouse.name' | translate }}">{{ warehouse.name }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'description.field.label.warehouse.size' | translate }}">{{ warehouse.size }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'description.field.label.warehouse.address' | translate }}" nzSpan="3">
        {{ warehouse.address }}
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>

  <ng-template #actionEdit>
    <a routerLink="/warehouse-layout/warehouse-maintenance/{{warehouse.id}}" routerLinkActive="active">
      <!--<i nz-icon nzType="edit" (click)="changeWarehouse(warehouse)"></i>-->
      <i nz-icon nzType="edit"></i>
    </a>
  </ng-template>
  <ng-template #actionDelete>
    <i nz-icon nzType="delete" (click)="removeWarehouse(warehouse)"></i>
  </ng-template>
</ng-container>
