<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a (click)="return()" routerLinkActive="active">{{
    'return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.auth' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/auth/working-team" routerLinkActive="active">{{
        'breadcrumb.working-team' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>


<nz-card [nzActions]="[cardFoot]" [nzTitle]="cardTitle">


  <div nz-row style="padding: 10px" *ngIf="newWorkingTeam">
    <div nz-col nzSpan="12" nzOffset="6">
      <nz-steps [nzCurrent]="1" [nzSize]="'default'" (nzIndexChange)="onStepsIndexChange($event)">
        <nz-step nzTitle="{{ 'steps.basic-info.title' | translate }}"
          nzDescription="{{ 'steps.working-team.basic-info.description' | translate }}">
        </nz-step>
        <nz-step nzTitle="{{ 'steps.role.assign-users.title' | translate }}"
          nzDescription="{{ 'steps.working-team.assign-users.description' | translate }}" [nzDisabled]="true">
        </nz-step>
        <nz-step nzTitle="{{ 'steps.confirm.title' | translate }}"
          nzDescription="{{ 'steps.confirm.description' | translate }}" [nzDisabled]="true">
        </nz-step>
      </nz-steps>
    </div>
  </div>

  <div nz-row style="padding: 10px">
    <div nz-col nzSpan="12" nzOffset="6">
      <nz-transfer [nzDataSource]="userList" nzShowSearch [nzFilterOption]="transferListFilterOption"
        (nzSearchChange)="transferListSearch($event)" (nzSelectChange)="transferListSelect($event)"
        (nzChange)="transferListChange($event)" [nzListStyle]="{ 'width.px': 350, 'height.px': 400 }"
        [nzTitles]="[ unassignedUserText, assignedUserText]">
      </nz-transfer>
    </div>
  </div>
</nz-card>


<ng-template #cardTitle>
  <h4>{{ 'working-team.name' | translate}} : {{ currentWorkingTeam?.name}}</h4>
</ng-template>
<ng-template #cardFoot>
  <div nz-row nzType="flex" nzJustify="center" *ngIf="!newWorkingTeam">
    <button nz-button nzType="primary" (click)="assignUser()" [nzLoading]="processingUser">
      {{ 'confirm' | translate }}
    </button>
  </div>
  <div nz-row nzType="flex" nzJustify="center" *ngIf="newWorkingTeam">
    <button nz-button nzType="primary" (click)="goToNextPage()">
      {{ 'steps.next' | translate }} :
      {{ 'steps.confirm.title' | translate }}
    </button>
  </div>
</ng-template>
