<page-header [title]="'page.location-group.header.title' | translate">
</page-header>
<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="location_group_type" [nzSm]="3" [nzXs]="3">
          {{'description.field.label.locationgrouptype' | translate}}
        </nz-form-label>
        <nz-select nzMode="tags" nzPlaceHolder="{{'description.field.placeholder.locationgrouptype' | translate}}"
          formControlName="taggedLocationGroupTypes">
          <nz-option *ngFor="let locationGroupType of locationGroupTypes" [nzLabel]="locationGroupType.label"
            [nzValue]="locationGroupType.value"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'"
        (click)="search()">{{'description.field.button.search' | translate}}</button>
      <button nz-button (click)="resetForm()">{{'description.field.button.clear' | translate}}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfAllLocationGroups"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzFooter]="tableFoot">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th nzShowSort nzSortKey="id">{{'description.field.table.header.locationgroup.id' | translate}}</th>
        <th nzShowSort nzSortKey="name" nzShowFilter [nzFilters]="filtersByName"
          (nzFilterChange)="filter($event, selectedFiltersByDescription, selectedFiltersByLocationGroupType)">
          {{'description.field.table.header.locationgroup.name' | translate}}</th>
        <th nzShowFilter [nzFilters]="filtersByDescription"
          (nzFilterChange)="filter(selectedFiltersByName, $event, selectedFiltersByLocationGroupType)">
          {{'description.field.table.header.locationgroup.description' | translate}}</th>
        <th nzShowSort nzSortKey="locationGroupType" nzShowFilter [nzFilters]="filtersByLocationGroupType"
          (nzFilterChange)="filter(selectedFiltersByName, selectedFiltersByDescription, $event)">
          {{'description.field.table.header.locationgroup.locationGroupType' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>

        <td>{{ data.id }}</td>
        <td>
          <div class="editable-cell" *ngIf="editId !== data.id|| editCol != 'name'; else editNameTpl">
            <div class="editable-cell-value-wrap" (click)="startEdit(data.id, 'name', $event)">
              {{ data.name }}
            </div>
          </div>
          <ng-template #editNameTpl>
            <!--
            <input type="text" nz-input [(ngModel)]="data.name" (blur)="changeLocationGroup(data)" />
          -->
            <input type="text" nz-input [ngModel]="data.name" (blur)="changeLocationGroup(data, $event)" />
          </ng-template>
        </td>
        <td>
          <div class="editable-cell" *ngIf="editId !== data.id || editCol != 'description'; else editDescTpl">
            <div class="editable-cell-value-wrap" (click)="startEdit(data.id, 'description', $event)">
              {{ data.description }}
            </div>
          </div>
          <ng-template #editDescTpl>
            <!--
              
            <input type="text" nz-input [(ngModel)]="data.description" (blur)="changeLocationGroup(data)" />
            -->
            <input type="text" nz-input [ngModel]="data.description" (blur)="changeLocationGroup(data, $event)" />
          </ng-template>
        </td>
        <td>

          <a nz-dropdown [nzDropdownMenu]="locationGroupTypesMenu">
            {{ data.locationGroupType.description }}
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #locationGroupTypesMenu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item *ngFor="let locationGroupType of locationGroupTypes"
                (click)="changeLocationGroupType(data, locationGroupType.value)">
                {{locationGroupType.label}}
              </li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>


<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <a nz-button nzType="primary" routerLink="/warehouse-layout/location-group-maintenance" routerLinkActive="active">
      {{'description.field.button.add' | translate}}
    </a>

    <button nz-button nzType="danger"
      (click)="removeSelectedLocationGroups()">{{'description.field.button.delete' | translate}}</button>
  </div>
</ng-template>
