<page-header> </page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
  <!-- Form to query the result  -->
  <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" [hidden]="isCollapse" *ngIf="threePartyLogisticsFlag">
        <nz-form-item nzFlex>
          <nz-form-label for="client" [nzSpan]="6">
            {{ 'client' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="client">
              <nz-option *ngFor="let client of availableClients" [nzLabel]="client.name" [nzValue]="client"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      
    <div nz-col [nzSpan]="8" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label for="location_group" [nzSpan]="6">
          {{ 'location-group' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select   formControlName="locationGroups" nzAllowClear >
            <nz-option *ngFor="let locationGroup of locationGroups" [nzLabel]="locationGroup.description!"
              [nzValue]="locationGroup.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

      <div nz-col [nzSpan]="8" [hidden]="isCollapse">
        <nz-form-item nzFlex>
          <nz-form-label for="item-family" [nzSpan]="6">
            {{ 'item-family' | i18n }}
          </nz-form-label>

          <nz-form-control [nzSpan]="18">
            <nz-select nzMode="tags" formControlName="taggedItemFamilies">
              <nz-option *ngFor="let itemFamily of itemFamilies" [nzLabel]="itemFamily.label"
                [nzValue]="itemFamily.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" [hidden]="isCollapse">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="name">
            {{ 'item' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="14">

            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input nz-input name="itemName" id="itemName" formControlName="itemName" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <app-inventory-item-query-popup (recordSelected)="processItemQueryResult($event)">
              </app-inventory-item-query-popup>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8" [hidden]="isCollapse">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="location">
            {{ 'location' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSearch [nzAddOnAfter]="locationSuffixIconButton">
              <input nz-input formControlName="location" id="location" name="location" />
            </nz-input-group>
            <ng-template #locationSuffixIconButton>
              <app-warehouse-layout-location-query-popup (recordSelected)="processQueryLocationQueryResult($event)">
              </app-warehouse-layout-location-query-popup>
            </ng-template>
          </nz-form-control>

        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8" [hidden]="isCollapse">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="lpn">
            {{ 'lpn' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="lpn" id="lpn" formControlName="lpn" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">
            {{ 'inventory-status' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">

              
              <nz-select formControlName="inventoryStatus" nzAllowClear >
            
              <nz-option *ngFor="let inventoryStatus of validInventoryStatuses"
                  [nzLabel]="inventoryStatus.description"
                  [nzValue]="inventoryStatus.id">
              </nz-option>
          </nz-select>
          

          </nz-form-control>
        </nz-form-item>
      </div>
    
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
          {{ 'search' | i18n }}
        </button>
        <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
        <a class="collapse" (click)="toggleCollapse()">
          {{ 'collapse' | i18n }}

          <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
        </a>
      </div>
    </div>
  </form>

  <!-- Table to Display the result  -->
  <div class="search-result-list">
    <nz-table [nzScroll]="{ x: '2200px'}" #rowSelectionTable nzShowSizeChanger nzShowPagination
      [nzData]="inventories" [nzFooter]="tableFoot" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
      <thead>
        <tr>
          
          <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)" nzWidth="60px"></th>
          
          <th *ngIf="threePartyLogisticsFlag">{{'client' | i18n}}</th>
          
          <th *ngFor="let column of listOfColumns" [nzShowSort]="column.showSort" [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn"
            [nzShowFilter]="column.showFilter">
            {{ column.name | i18n }}
          </th>


          <th nzWidth="360px" nzRight>{{ 'action' | i18n }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">

          <td [nzChecked]="setOfCheckedId.has(data.id!)" (nzCheckedChange)="onItemChecked(data.id!, $event)"></td>
          <td>{{ data.lpn }}</td>
          <td *ngIf="threePartyLogisticsFlag">{{ data.client?.name }}</td>
          <td>
            <a nz-tooltip nzTooltipTitle="{{ data.item?.description }}">{{ data.item?.name }}</a>
          </td>
          <td>
            <a nz-popover nzPopoverTitle="{{ 'itemPackageTypeDetails' | i18n}}"
              [nzPopoverContent]="itemPackageTypeDetails">{{ data.itemPackageType?.name }}</a>
          </td>
          <td>
            <nz-skeleton-element 
              *ngIf="data.locationId && data.location == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ data.location?.name }}</td>
          <td> 
              {{ data.displayQuantity }}  
              <nz-skeleton-element 
              *ngIf="data.itemPackageType?.displayItemUnitOfMeasure?.unitOfMeasureId 
                  && data.itemPackageType?.displayItemUnitOfMeasure?.unitOfMeasure == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element>  
              <a nz-dropdown [nzDropdownMenu]="unitOfMeasureList">
                {{data.itemPackageType?.displayItemUnitOfMeasure?.unitOfMeasure?.name}}<span nz-icon nzType="down"></span>
              </a>
              <nz-dropdown-menu #unitOfMeasureList="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item *ngFor="let itemUnitOfMeasure of data.itemPackageType?.itemUnitOfMeasures" 
                  (click)="changeDisplayItemUnitOfMeasure(data, itemUnitOfMeasure)">
                    {{ itemUnitOfMeasure.unitOfMeasure?.name }}
                  </li> 
                </ul>
              </nz-dropdown-menu> 
          </td>
          <td>
            <a nz-tooltip [nzTooltipTitle]="data.inventoryStatus!.description">{{
              data.inventoryStatus!.description}}</a>
          </td>

          <td>{{ data.color }}</td>
          <td>{{ data.productSize }}</td>
          <td>{{ data.style }}</td>
          <td>
            <span *ngIf="data.lockedForAdjust === false">{{ (data.lockedForAdjust + '') | i18n }}</span>
            <span *ngIf="data.lockedForAdjust === true"><a routerLink="/inventory/inventory-adjustment-request"
                routerLinkActive="active" [queryParams]="{inventoryId : data.id!}">{{ (data.lockedForAdjust + '') | i18n
                }}</a></span>
          </td>
          <td>            
            <nz-skeleton-element 
              *ngIf="data.pickId && data.pick == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ data.pick?.number }}</td>
          <td>
            <nz-skeleton-element 
              *ngIf="data.allocatedByPickId && data.allocatedByPick == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ data.allocatedByPick?.number }}</td>
          <td>
            <ol *ngIf="data.inventoryMovements!.length > 0">
              <li *ngFor="let movement of data.inventoryMovements">
                
                <span>
                  <nz-skeleton-element 
                    *ngIf="movement.locationId && movement.location == null"
                    nzType="input"
                    [nzActive]="true"
                    [nzSize]="'small'"
                    style="width:75px"
                  ></nz-skeleton-element> 
                  {{ movement.location.name}}</span>
              </li>
            </ol>
          </td>
          <td nzRight nzWidth="360px" >
            <button nz-button nz-dropdown [nzDropdownMenu]="actions" [nzLoading]="mapOfInprocessInventoryId[data.id!]"
              *ngIf="data.lockedForAdjust === false">{{ 'action' | i18n }}<i nz-icon nzType="down"></i></button>
            <nz-dropdown-menu #actions="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <a routerLink="/inventory/inventory-quantity-change" routerLinkActive="active"
                    [queryParams]="{id : data.id!, by : 'inventory'}">
                    {{ 'adjustInventory' | i18n }}</a>
                </li>
                <li nz-menu-item>
                  <a routerLink="/inventory/inventory-attribute-change" routerLinkActive="active"
                    [queryParams]="{id : data.id!}">
                    {{ 'inventory.attributeChange' | i18n }}</a>
                </li>
                <li nz-menu-item>
                  <a (click)="openMoveInventoryModal(data, tplInventoryMoveModalTitle, tplInventoryMoveModalContent)">
                    {{ 'moveInventory' | i18n }}</a>
                </li>
                <li nz-menu-item><a
                    (click)="openRemoveInventoryModal(data, tplInventoryRemovalModalTitle, tplInventoryRemovalModalContent )"
                    nzDanger>{{ 'removeInventory' | i18n }}</a></li>

              </ul>
            </nz-dropdown-menu>
            <nz-divider nzType="vertical"></nz-divider>
            <cwms-common-print-button style='padding-left: 20px;' (print)="printLPNReport($event, data)"
              (preview)="previewLPNReport(data)">
            </cwms-common-print-button>


          </td>
          <ng-template #itemPackageTypeDetails>
            <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #itemPackageTypeDetailTable
              [nzData]="data.itemPackageType!.itemUnitOfMeasures!" nzSize="middle" [nzShowPagination]="false"
              nzBordered>
              <thead>
                <tr>
                  <th>{{ 'unitOfMeasure' | i18n}}</th>
                  <th>{{ 'quantity' | i18n }}</th>
                  <th>{{ 'weight' | i18n }}</th>
                  <th>{{ 'length' | i18n }}</th>
                  <th>{{ 'width' | i18n }}</th>
                  <th>{{ 'height' | i18n }}</th>
                </tr>
              </thead>
      <tbody>
        <tr *ngFor="let itemUnitOfMeasure of itemPackageTypeDetailTable.data">
          <td>
            <nz-skeleton-element 
              *ngIf="itemUnitOfMeasure.unitOfMeasureId && itemUnitOfMeasure.unitOfMeasure == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ itemUnitOfMeasure.unitOfMeasure?.name }}</td>
          <td>{{ itemUnitOfMeasure.quantity }} </td>
          <td>{{ itemUnitOfMeasure.weight }}</td>
          <td>{{ itemUnitOfMeasure.length }}</td>
          <td>{{ itemUnitOfMeasure.width }}</td>
          <td>{{ itemUnitOfMeasure.height }}</td>
        </tr>
      </tbody>
    </nz-table>
    </ng-template>
    </tr>
    </tbody>
    </nz-table>
  </div>
 

  <ng-template #tableFoot>

    <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
      {{searchResult}}
    </div>
    <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;"> 
    
      <button nz-button nzDanger (click)="removeSelectedInventory()">{{'delete' | i18n}}</button>
      
      <nz-divider nzType="vertical"></nz-divider> 
      <button nz-button [nzType]="'primary'"  (click)="openBatchMoveInventoryModal(tplInventoryMoveModalTitle, tplInventoryMoveModalContent)">
        {{'moveInventory' | i18n}}</button>
        
      <nz-divider nzType="vertical"></nz-divider> 
      <button  nz-button nzType="primary" routerLink="/util/file-upload/inventory" routerLinkActive="active">
        {{ 'file-upload' | i18n }}
      </button> 
    </div>
  </ng-template>
</nz-spin>

<!-- Modal for inventory remove warning -->
<ng-template #tplInventoryRemovalModalTitle>
  <span>{{ 'page.modal.delete.header.title' | i18n}}</span>
</ng-template>
<ng-template #tplInventoryRemovalModalContent>
  <nz-descriptions nzBordered>
    <nz-descriptions-item nzTitle="{{ 'lpn' | i18n }}">
      {{ inventoryToBeRemoved.lpn }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'item' | i18n }}">
      {{ inventoryToBeRemoved.item?.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'location' | i18n }}">
      {{ inventoryToBeRemoved.location?.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'quantity' | i18n }}">
      {{ inventoryToBeRemoved.quantity }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'inventory.status' | i18n }}" nzSpan="2">
      {{ inventoryToBeRemoved.inventoryStatus?.name }}</nz-descriptions-item>
    <!--

    <nz-descriptions-item nzTitle="{{ 'inventory.adjustment.reason' | i18n }}" nzSpan="3">
      <div>
        <nz-select style="width: 320px;" [(ngModel)]="inventoryRemovalReason" nzShowSearch nzAllowClear
          nzDropdownMatchSelectWidth="true">
          <nz-option *ngFor="let reason of listOfReasons" [nzLabel]="reason.description" [nzValue]="reason.id">
          </nz-option>
        </nz-select>
      </div>
    </nz-descriptions-item>

      -->
    <nz-descriptions-item nzTitle="{{'document-number' | i18n}}">

      <input nz-input [(ngModel)]="documentNumber" style="width: 250px;" />
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'comment' | i18n}}">

      <input nz-input [(ngModel)]="comment" style="width: 250px;" />
    </nz-descriptions-item>
  </nz-descriptions>
</ng-template>



<!-- Modal for inventory movement-->
<ng-template #tplInventoryMoveModalTitle>
  <span>{{ 'move' | i18n}}</span>
</ng-template>
<ng-template #tplInventoryMoveModalContent>
  <form nz-form [formGroup]="inventoryMovementForm">
    <div nz-row [nzGutter]="24" *ngIf="!batchMovement">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lpn">
            {{ 'lpn' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="lpn" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemNumber">
            {{ 'item' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemNumber" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemDescription">
            {{ 'item.description' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemDescription" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24"  *ngIf="!batchMovement">

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'inventory.status' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="inventoryStatus" />

          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="itemPackageType">
            {{ 'item.package-type' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">

            <input nz-input formControlName="itemPackageType" />

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quantity">
            {{ 'quantity' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="quantity" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24" >


      <div nz-col [nzSpan]="8" *ngIf="!batchMovement">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="locationName">
            {{ 'location' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">

            <nz-input-group nzSearch [nzAddOnAfter]="locationSuffixIconButton">
              <input nz-input formControlName="locationName" id="locationName" name="locationName" required />
            </nz-input-group>
            <ng-template #locationSuffixIconButton>
              <app-warehouse-layout-location-query-popup (recordSelected)="processLocationValueQueryResult($event)">
              </app-warehouse-layout-location-query-popup>
            </ng-template>

          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="destinationLocation">
            {{ 'unpick.destination-location' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input nz-input formControlName="destinationLocation" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <app-warehouse-layout-location-query-popup (recordSelected)="processLocationQueryResult($event)">
              </app-warehouse-layout-location-query-popup>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox formControlName="immediateMove">
              <span>{{ 'unpick.immediately-putaway' | i18n}}</span>
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
  </form>
</ng-template>