<page-header [title]="'page.work-order.header.title' | translate"> </page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="number" [nzSm]="3" [nzXs]="3">
          {{ 'work-order.number' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="number" id="number" formControlName="number" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="item" [nzSm]="3" [nzXs]="3">
          {{ 'item' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="item" id="item" formControlName="item" />
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'search' | translate }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | translate }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table #nestedTable nzShowSizeChanger nzShowPagination [nzData]="listOfAllWorkOrder" [nzFooter]="tableFoot">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th nzShowExpand></th>
        <th nzShowSort nzSortKey="number">
          {{ 'work-order.number' | translate }}
        </th>
        <th nzShowSort nzSortKey="status">
          {{ 'status' | translate }}
        </th>
        <th>
          {{ 'item' | translate }}
        </th>
        <th>
          {{ 'work-order.expected-quantity' | translate }}
        </th>
        <th>
          {{ 'work-order.produced-quantity' | translate }}
        </th>

        <th>
          {{ 'work-order.totalLineExpectedQuantity' | translate }}</th>
        <th>
          {{ 'work-order.totalLineOpenQuantity' | translate }}</th>
        <th>
          {{ 'work-order.totalLineInprocessQuantity' | translate }}</th>
        <th>
          {{ 'work-order.totalLineConsumedQuantity' | translate }}</th>

        <th>
          {{ 'production-line' | translate }}
        </th>
        <th>
          {{ 'work-order.assigned-user-count' | translate }}
        </th>
        <th>
          {{ 'action' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>

      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>

          <td nzShowExpand [(nzExpand)]="mapOfExpandedId[data.id]"></td>
          <td>{{ data.number }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.item?.name }}</td>
          <td>{{ data.expectedQuantity }}</td>
          <td>{{ data.producedQuantity }}</td>
          <td>{{ data.totalLineExpectedQuantity }}</td>
          <td>{{ data.totalLineOpenQuantity }}</td>
          <td>{{ data.totalLineInprocessQuantity }}</td>
          <td>{{ data.totalLineConsumedQuantity }}</td>
          <td>
            <a nz-dropdown [nzDropdownMenu]="productionLineMenu" [nzDisabled]="!isProductionLineChangable(data)">
              {{ data.productionLine?.name }}
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #productionLineMenu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item *ngFor="let productionLine of availableProductionLines"
                  (click)="changeProductionLine(data, productionLine.value)">
                  {{productionLine.label}}
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
          <td>{{ data.assignedUserCount }}</td>
          <td>
            <button nz-button nzType="primary" (click)="allocateWorkOrder(data)"
              [nzLoading]="mapOfAllocationInProcessId[data.id]" [disabled]="!isWorkOrderAllocatable(data)">
              {{ 'allocate' | translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>

            <button nz-button nzType="primary" (click)="completeWorkOrder(data)"
              [nzLoading]="mapOfAllocationInProcessId[data.id]" [disabled]="!isWorkOrderReadyForComplete(data)">
              {{ 'complete' | translate }}
            </button>
          </td>

        </tr>
        <tr [nzExpand]="mapOfExpandedId[data.id]" class="inner-table">

          <td colspan="3"></td>
          <td colspan="8">
            <nz-tabset>
              <nz-tab nzTitle=" {{ 'work-order.line' | translate }}">
                <nz-table [nzData]="data.workOrderLines" nzSize="middle" [nzShowPagination]="false">

                  <thead>
                    <th>
                      {{ 'work-order.line.number' | translate }}</th>
                    <th>
                      {{ 'item' | translate }}</th>
                    <th>
                      {{ 'item.description' | translate }}</th>
                    <th>
                      {{ 'work-order.line.expectedQuantity' | translate }}</th>
                    <th>
                      {{ 'work-order.line.openQuantity' | translate }}</th>
                    <th>
                      {{ 'work-order.line.inprocessQuantity' | translate }}</th>
                    <th>
                      {{ 'work-order.line.consumedQuantity' | translate }}</th>
                    <th>
                      {{ 'inventory.status' | translate }}</th>
                  </thead>
    <tbody>

      <tr *ngFor="let workOrderLine of data.workOrderLines">
        <td>{{ workOrderLine.number }}</td>
        <td>{{ workOrderLine.item.name }}</td>
        <td>{{ workOrderLine.item.description }}</td>
        <td>{{ workOrderLine.expectedQuantity }}</td>
        <td>{{ workOrderLine.openQuantity }}</td>
        <td>{{ workOrderLine.inprocessQuantity }}</td>
        <td>{{ workOrderLine.consumedQuantity }}</td>
        <td>{{ workOrderLine.inventoryStatus.name }}</td>
      </tr>
    </tbody>
  </nz-table>
  </nz-tab>
  <nz-tab nzTitle=" {{ 'work-order-instruction' | translate }}">
    <nz-table [nzData]="data.workOrderInstructions" nzSize="middle" [nzShowPagination]="false">

      <thead>
        <th>
          id</th>
        <th>
          {{ 'work-order-instruction.sequence' | translate }}</th>
        <th>
          {{ 'work-order-instruction.instruction' | translate }}</th>
      </thead>
      <tbody>

        <tr *ngFor="let workOrderInstruction of data.workOrderInstructions">
          <td>{{ workOrderInstruction.id }}</td>
          <td>{{ workOrderInstruction.sequence }}</td>
          <td>{{ workOrderInstruction.instruction }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle=" {{ 'work-order.assigned-users' | translate }}">
    <nz-table [nzData]="data.assignments" nzSize="middle" [nzShowPagination]="false">

      <thead>
        <th>
          {{ 'user.username' | translate }}</th>
        <th>
          {{ 'firstname' | translate }}</th>
        <th>
          {{ 'lastname' | translate }}</th>
      </thead>
      <tbody>

        <tr *ngFor="let assignment of data.assignments">
          <td>{{ assignment.user?.username }}</td>
          <td>{{ assignment.user?.firstname }}</td>
          <td>{{ assignment.user?.lastname }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>

  <nz-tab nzTitle=" {{ 'pick' | translate }}">
    <nz-table [nzData]="data.workOrderLines" nzSize="middle" [nzShowPagination]="false" [nzFooter]="pickTableFoot">

      <thead>
        <th>
          {{ 'pick.number' | translate }}</th>
        <th>
          {{ 'sourceLocation' | translate }}</th>
        <th>
          {{ 'destinationLocation' | translate }}</th>
        <th>
          {{ 'item' | translate }}</th>
        <th>
          {{ 'item.description' | translate }}</th>
        <th>
          {{ 'pick.quantity' | translate }}</th>
        <th>
          {{ 'pick.pickedQuantity' | translate }}</th>
      </thead>
      <tbody *ngFor="let workOrderLine of data.workOrderLines">

        <tr *ngFor="let pick of workOrderLine.picks">
          <td>{{ pick.number }}</td>
          <td>{{ pick.sourceLocation?.name }}</td>
          <td>{{ pick.destinationLocation?.name }}</td>
          <td>{{ pick.item?.name }}</td>
          <td>{{ pick.item?.description }}</td>
          <td>{{ pick.quantity }}</td>
          <td>{{ pick.pickedQuantity }}</td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #pickTableFoot>
      <div nz-row nzType="flex" nzJustify="start">
        <button nz-button nzType="primary" (click)="printPickSheets(data)"
          [nzLoading]="mapOfPrintingInProcessId[data.id]">
          {{ 'print' | translate }}
        </button>
        <button nz-button (click)="confirmPicks(data)">
          {{ 'confirm' | translate }}
        </button>
      </div>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle=" {{ 'short-allocation' | translate }}">
    <nz-table [nzData]="data.workOrderLines" nzSize="middle" [nzShowPagination]="false">

      <thead>
        <th>
          {{ 'item' | translate }}</th>
        <th>
          {{ 'item.description' | translate }}</th>
        <th>
          {{ 'pick.quantity' | translate }}</th>
      </thead>
      <tbody *ngFor="let workOrderLine of data.workOrderLines">

        <tr *ngFor="let shortAllocation of workOrderLine.shortAllocations">
          <td>{{ shortAllocation.item?.name }}</td>
          <td>{{ shortAllocation.item?.description }}</td>
          <td>{{ shortAllocation.quantity }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  </nz-tabset>
  </td>
  </tr>
  </ng-template>
  </tbody>
  </nz-table>
</div>

<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <button nz-button nzType="danger" (click)="removeSelectedWorkOrders()">
      {{ 'delete' | translate }}
    </button>
    <button nz-button nzType="primary" routerLink="/util/file-upload/locations" routerLinkActive="active">
      {{ 'file-upload' | translate }}
    </button>
  </div>
</ng-template>
