<page-header></page-header>

<nz-card *ngIf="tiktokSellerShopIntegrationConfiguration == null">
    <div *ngIf="tiktokSellerShopIntegrationAuthUrl != ''">
        Tiktok Seller Shop Integration is not setup yet, please click 
        <a [href]="tiktokSellerShopIntegrationAuthUrl" target="_blank" rel="noopener noreferrer">
            this link</a> 
            to allow CWMS to access your Tiktok Shop
    </div>
</nz-card>

<nz-card *ngIf="tiktokSellerShopIntegrationConfiguration != null"> 
    <span>Tiktok Seller Shop Integration is setup </span>
</nz-card>