<page-header [title]="'menu.main.inbound.inbound-receiving-configuration' | i18n"> </page-header>

<nz-spin [nzSpinning]="isSpinning">
<!-- Form to query the result  -->
<!--
  
-->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24"> 
    
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="supplier" [nzSpan]="6">
          {{ 'supplier' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          
          <nz-select name="supplier" id="supplier" formControlName="supplier">
            <nz-option *ngFor="let supplier of validSuppliers"
            [nzLabel]="supplier.description" [nzValue]="supplier.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">
          {{ 'item' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="12" >

            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input nz-input name="item" id="item" formControlName="item" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <app-inventory-item-query-popup (recordSelected)="processItemQueryResult($event)">
                </app-inventory-item-query-popup>
              </ng-template>

        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
    </div>
  </div>
</form>

<div class="search-result-list">
  
  <!--
    <div nz-row nzType="flex" nzJustify="start" style="padding-left: 25px;">
      <app-util-table-column-selection [tableColumnsConfiguration]="customColumns" (myModelChange)="columnChoosingChanged()"></app-util-table-column-selection>
    </div>
  -->
    
    <st #inboundReceivingConfigurationTable
     [data]="inboundReceivingConfigurations"  [columns]="inboundReceivingConfigurationTableColumns" 
     [scroll]="{ x: '1450px'}">
      
      <!--   action colummn  --> 
      <ng-template st-row="actionColumnTitle" type="title" let-c>
        {{ 'action' | i18n }}
      </ng-template>
      <ng-template st-row="actionColumn" let-item let-index="index"> 
        
        <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary">
          {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu> 

            <li nz-menu-item >
              <a  (click)="modifyInboundReceivingConfiguration(item)">{{ 'modify' | i18n }}</a>
            </li>
            <li nz-menu-item>
              <a  (click)="removeInboundReceivingConfiguration(item)">{{ 'remove' | i18n }}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-template>
    </st>
    <div nz-row nzType="flex" nzJustify="start"  style="padding: 15px;" *ngIf="searchResult != ''">
      {{searchResult}}
    </div>
    
    <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly"> 
        <button nz-button nzType="primary" routerLink="/inbound/inbound-receiving-configuration/maintenance" routerLinkActive="active">
          {{ 'add' | i18n }}
        </button>
    </div>
</div>
</nz-spin>