<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>

<ng-template #returnLink>
    <a routerLink="/outbound/order" routerLinkActive="active"
        [queryParams]="{number: currentOrder?.number}">{{
        'return' | i18n }}</a>
</ng-template>
<ng-template #breadcrumb>
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a routerLink="/outbound/order" routerLinkActive="active">{{
                'order' | i18n
                }}</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
    </nz-breadcrumb>
</ng-template>

<div *ngIf="!hualeiConfigurationSetup">
  <nz-result  nzStatus="info"  nzTitle="Hualei is not setup yet">
    <div nz-result-extra>
      <button nz-button nzType="primary" (click)="configureHualei()">{{'configure' | i18n}}</button>
    </div>
  </nz-result>
</div>
<div *ngIf="hualeiConfigurationSetup">

  <div style="background: #ECECEC;padding:15px;">
    <div nz-row nzJustify="end">
        <a class="collapse" (click)="toggleCollapse()">
            <span *ngIf="isAddressCollapse">{{ 'showAddress' | i18n }}</span>
            <span *ngIf="!isAddressCollapse">{{ 'hideAddress' | i18n }}</span>
  
            <i nz-icon [nzType]="isAddressCollapse ? 'down' : 'up'"></i>
          </a>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="currentOrder != null"  [hidden]="isAddressCollapse">
      <div nz-col [nzSpan]="12" >
        <nz-card nzTitle="{{'ship-from' | i18n}}">
            <address>   
              {{currentWarehouse.contactorFirstname }}  {{currentWarehouse.contactorLastname }}<br>
                {{currentWarehouse.addressLine1 }} <br>
                {{currentWarehouse.addressLine2 }} <br>
                {{currentWarehouse.addressCity }}, {{currentWarehouse.addressState }} {{currentWarehouse.addressPostcode }} <br> 
           </address> 
        </nz-card>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-card nzTitle="{{'ship-to' | i18n}}">
          <address>  
                {{currentOrder.shipToContactorFirstname }}  {{currentOrder.shipToContactorLastname }}  <br>
                {{currentOrder.shipToAddressLine1 }} <br>
                {{currentOrder.shipToAddressLine2 }} <br>
                {{currentOrder.shipToAddressCity }}, {{currentOrder.shipToAddressState }} {{currentOrder.shipToAddressPostcode }} <br> 
                </address>
        </nz-card>
      </div> 
    </div>
  </div>
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">

    <nz-card *ngIf="currentOrder != null">        
        <nz-card nzType="inner" nzTitle="{{ 'hualeiShipmentRequest' | i18n}}" [nzExtra]="refreshShipmentRequestTableTemplate">   
            <div class="search-result-list">             
                <st #shipmentRequestTable [data]="currentOrder.hualeiShipmentRequests!" 
                    [columns]="shipmentRequestColumns" ps="3">  
                    <ng-template st-row="requestTimeColumn" let-shipmentRequest >  
                      {{ shipmentRequest.createdTime | date:'short'}} 
                    </ng-template> 
                    <ng-template st-row="weightColumn" let-shipmentRequest >   
                      <span *ngIf="shipmentRequest.param.orderVolumeParam && shipmentRequest.param.orderVolumeParam.length > 0">
                        {{shipmentRequest.param.orderVolumeParam[0].volume_weight | number: '1.0-2'}} {{shipmentRequest.param.orderVolumeParam[0].weight_unit}} 

                      </span> 
                    </ng-template>  
                    <ng-template st-row="volumeColumn" let-shipmentRequest >   
                      <span *ngIf="shipmentRequest.param.orderVolumeParam && shipmentRequest.param.orderVolumeParam.length > 0">
                        {{shipmentRequest.param.orderVolumeParam[0].volume_length | number: '1.0-2'}} {{shipmentRequest.param.orderVolumeParam[0].length_unit}} X 
                        {{shipmentRequest.param.orderVolumeParam[0].volume_width | number: '1.0-2'}} {{shipmentRequest.param.orderVolumeParam[0].length_unit}} X 
                        {{shipmentRequest.param.orderVolumeParam[0].volume_height | number: '1.0-2'}} {{shipmentRequest.param.orderVolumeParam[0].length_unit}} 

                      </span> 
                    </ng-template>  
                    <ng-template st-row="productNameColumn" let-shipmentRequest > 
                      {{ getProductNameByProductId(shipmentRequest.param.product_id) }}
                  </ng-template>
                  <ng-template st-row="responseColumn" let-shipmentRequest > 
                    <ul *ngIf="shipmentRequest.shipmentResponse">
                      <li *ngIf="shipmentRequest.shipmentResponse.order_id != ''">{{'order_id' | i18n}} : 
                        <a *ngIf="shipmentRequest.shipmentResponse.shippingLabelUrl"
                          [href]="shipmentRequest.shipmentResponse.shippingLabelUrl" target="_blank" rel="noopener noreferrer">
              
                          {{shipmentRequest.shipmentResponse.order_id}}
                        </a>
                        <span *ngIf="!shipmentRequest.shipmentResponse.shippingLabelUrl" >
                          {{shipmentRequest.shipmentResponse.order_id}}
                        </span>
                      </li>
                      <li *ngIf="shipmentRequest.shipmentResponse.tracking_number != ''">
                        {{'trackingNumber' | i18n}} : 
                        <a *ngIf="shipmentRequest.shipmentResponse.trackingUrl"
                          [href]="shipmentRequest.shipmentResponse.trackingUrl" target="_blank" rel="noopener noreferrer">
                          {{shipmentRequest.shipmentResponse.tracking_number}}
                        </a>
                        <span *ngIf="!shipmentRequest.shipmentResponse.trackingUrl" >
                          {{shipmentRequest.shipmentResponse.tracking_number}}
                        </span>
                      </li>
                      <li >{{'reference' | i18n}} : {{shipmentRequest.shipmentResponse.reference_number}}</li> 
                      <li *ngIf="shipmentRequest.shipmentResponse.message != ''">{{'message' | i18n}} : {{ngDecode(shipmentRequest.shipmentResponse.message)}}</li> 
                    </ul>
                </ng-template>
                </st> 
            </div>
            <ng-template #refreshShipmentRequestTableTemplate>
              <a (click)="refreshShipmentRequestTable()">
                {{ 'refresh' | i18n }}
              </a>
            </ng-template>
        </nz-card>
        
        <nz-card  nzTitle="{{'parcel-package' | i18n}}">    
            
          <form nz-form [formGroup]="parcelForm">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="12">
                      {{ 'productId' | i18n }}
                    </nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback >  
                        <nz-select nzAllowClear
                            nz-input formControlName="productId" style="width: 250px"  >
                                <nz-option *ngFor="let product of hualeiProducts"
                                [nzLabel]="product.name" [nzValue]="product.productId">
                            </nz-option> 
                        </nz-select> 
                    </nz-form-control>
                  </nz-form-item>
                </div> 
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="12">
                      {{ 'item' | i18n }}
                    </nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback >  
                        <nz-select nzAllowClear   (ngModelChange)="itemChanged($event)"
                            nz-input formControlName="item" style="width: 250px"  >
                                <nz-option *ngFor="let orderLine of currentOrder.orderLines"
                                [nzLabel]="orderLine.item!.name" [nzValue]="orderLine.itemId">
                            </nz-option> 
                        </nz-select> 
                    </nz-form-control>
                  </nz-form-item>
                </div> 
                
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="12">
                      {{ 'caseQuantity' | i18n }}
                    </nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback >   
                      
                      <nz-input-number name="caseQuantity" id="caseQuantity" formControlName="caseQuantity"></nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                </div> 
                <div nz-col [nzSpan]="6">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="12">
                      {{ 'unit-cost' | i18n }}
                    </nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback >   
                      
                      <nz-input-number name="unitCost" id="unitCost" formControlName="unitCost"></nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                </div> 
            </div> 
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="5">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="12">
                      {{ 'length' | i18n }}
                    </nz-form-label>
                    <nz-form-control [nzSpan]="12" nzHasFeedback >  
                        <nz-input-number name="length" id="length" formControlName="length"></nz-input-number> in
                    </nz-form-control>
                  </nz-form-item>
                </div>
                
                <div nz-col [nzSpan]="5">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="12">
                        {{ 'width' | i18n }}
                      </nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback > 
                          <nz-input-number name="width" id="width" formControlName="width"></nz-input-number> in
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="5">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="12">
                        {{ 'height' | i18n }}
                      </nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback > 
                          <nz-input-number name="height" id="height" formControlName="height"></nz-input-number> in
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="5">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="12">
                        {{ 'weight' | i18n }}
                      </nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback > 
                          <nz-input-number name="weight" id="weight" formControlName="weight"></nz-input-number> lb
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="4">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="12">
                        {{ 'packageCount' | i18n }}
                      </nz-form-label>
                      <nz-form-control [nzSpan]="12" nzHasFeedback > 
                          <nz-input-number name="count" id="count" formControlName="packageCount"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
            </div> 
            <div nz-row nzJustify="center">
                
                <button nz-button nzType="primary" (click)="addPackage()">{{ 'confirm' | i18n }}</button>
            </div>
          </form>
        </nz-card>
    </nz-card>
</nz-spin>

</div>
