<page-header title="{{'pick' |  i18n}}" ></page-header>

<!-- Form to query the result  -->

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">



  <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="12">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="number" [nzSm]="6" [nzXs]="14">
            {{ 'pick.number' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="number" id="number" formControlName="number" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="orderNumber" [nzSm]="6" [nzXs]="14">
            {{ 'order.number' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="orderNumber" id="orderNumber" formControlName="orderNumber" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="itemNumber" [nzSm]="6" [nzXs]="14">
            {{ 'item' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="itemNumber" id="itemNumber" formControlName="itemNumber" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="12">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="sourceLocation" [nzSm]="6" [nzXs]="14">
            {{ 'sourceLocation' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="sourceLocation" id="sourceLocation" formControlName="sourceLocation" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="destinationLocation" [nzSm]="6" [nzXs]="14">
            {{ 'destinationLocation' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="destinationLocation" id="destinationLocation" formControlName="destinationLocation" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
  
          <label nz-checkbox formControlName="openPickOnly">
            <span> {{ 'openPickOnly' | i18n }}</span>
          </label>
  
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()">
          {{ 'search' | i18n }}
        </button>
        <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
      </div>
    </div>
  </form>

  <!-- Table to Display the result  -->
  <div class="search-result-list">

    <nz-table [nzScroll]="{ x: '100vw' }" nzShowSizeChanger nzShowPagination [nzData]="listOfAllPicks"
      [nzFooter]="tableFoot" #pickTable>
      <thead>
        <tr>


          <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)" nzWidth="60px"></th>
          <th *ngFor="let column of listOfColumns" [nzShowSort]="column.showSort" [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn"
            [nzShowFilter]="column.showFilter">
            {{ column.name | i18n }}
          </th>




          <th *ngIf="!displayOnly">
            {{ 'action' | i18n }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of pickTable.data">


          <td [nzChecked]="setOfCheckedId.has(data.id!)" (nzCheckedChange)="onItemChecked(data.id!, $event)"></td>

          <td>{{ data.number }}</td>
          <td>{{ 'PICK-TYPE-' + data.pickType | i18n}}</td>
          <td>{{ data.orderNumber }}</td>
          <td>
            <nz-skeleton-element 
              *ngIf="data.workOrderLineId && data.workOrderNumber == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
              {{ data.workOrderNumber }}</td>
          <td>
            <nz-skeleton-element 
              *ngIf="data.sourceLocationId && data.sourceLocation == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ data.sourceLocation?.name }}</td>
          <td>
            <nz-skeleton-element 
              *ngIf="data.destinationLocationId && data.destinationLocation == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ data.destinationLocation?.name }}</td>
          <td>
            <nz-skeleton-element 
              *ngIf="data.itemId && data.item == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ data.item?.name }}</td>
          <td>
            <nz-skeleton-element 
              *ngIf="data.itemId && data.item == null"
              nzType="input"
              [nzActive]="true"
              [nzSize]="'small'"
              style="width:75px"
            ></nz-skeleton-element> 
            {{ data.item?.description }}</td>
          <td>{{ data.quantity }}</td>
          <td>{{ data.pickedQuantity }}</td>
          <td *ngIf="!displayOnly"></td>
        </tr>

      </tbody>
    </nz-table>
    <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly">

      <button nz-button nz-dropdown [nzDropdownMenu]="cancelPickOption" nzDanger
      (click)="cancelSelectedPicks(false, false)" >
      {{ 'cancel' | i18n }} <i nz-icon nzType="down"></i></button>
      <nz-dropdown-menu #cancelPickOption="nzDropdownMenu">
        <ul nz-menu>         
          <li nz-menu-item>
            <a (click)="cancelSelectedPicks(false, false)">
              {{ 'cancel-pick' | i18n }}</a> 
          </li>
          <li nz-menu-item>
            <a (click)="cancelSelectedPicks(true, false)">
              {{ 'cancel-pick-error-location' | i18n }}</a> 
          </li>  
          <li nz-menu-item>
            <a (click)="cancelSelectedPicks(true, true)">
              {{ 'cancel-pick-error-location-generate-cycle-count' | i18n }}</a> 
          </li>
        </ul>
      </nz-dropdown-menu>  
      <button nz-button nzType="primary" (click)="confirmSelectedPicks()">
        {{ 'confirm' | i18n }}
      </button>
    </div>
  </div>
</nz-spin>

<ng-template #tableFoot>
  @if(searchResult != '') {

    <div nz-row nzType="flex" nzJustify="start">
      {{searchResult}}
    </div>
  }
</ng-template>