<page-header> </page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label for="client" [nzSm]="3" [nzXs]="3">
          {{ 'description.field.label.inventory-quantity-change-type' | translate }}
        </nz-form-label>
        <nz-select nzMode="tags" formControlName="inventoryQuantityChangeType">
          <nz-option *ngFor="let inventoryQuantityChangeType of inventoryQuantityChangeTypes | keyvalue"
            [nzLabel]="inventoryQuantityChangeType.value" [nzValue]="inventoryQuantityChangeType.key"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label for="client" [nzSm]="3" [nzXs]="3">
          {{ 'description.field.label.client' | translate }}
        </nz-form-label>
        <nz-select nzMode="tags" formControlName="taggedClients">
          <nz-option *ngFor="let client of clients" [nzLabel]="client.label" [nzValue]="client.value"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label for="item-family" [nzSm]="3" [nzXs]="3">
          {{ 'description.field.label.item-family' | translate }}
        </nz-form-label>
        <nz-select nzMode="tags" formControlName="taggedItemFamilies">
          <nz-option *ngFor="let itemFamily of itemFamilies" [nzLabel]="itemFamily.label" [nzValue]="itemFamily.value">
          </nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="itemName">
          {{ 'description.field.label.item' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="itemName" id="itemName" formControlName="itemName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="username">
          {{ 'description.field.label.username' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="username" id="username" formControlName="username" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="roleName">
          {{ 'description.field.label.role.name' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="roleName" id="roleName" formControlName="roleName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <label nz-checkbox formControlName="enabled">
          <span>
            {{ 'description.field.label.enabled' | translate }}</span>
        </label>
      </nz-form-item>
    </div>
  </div>



  <div nz-row [nzGutter]="24">
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
          {{ 'description.field.button.search' | translate }}
        </button>
        <button nz-button (click)="resetForm()">{{ 'description.field.button.clear' | translate }}</button>
        <a class="collapse" (click)="toggleCollapse()">
          {{ 'description.field.button.collapse' | translate }}

          <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
        </a>
      </div>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table #rowSelectionTable nzShowSizeChanger nzShowPagination [nzData]="listOfAllInventoryAdjustmentThresholds">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="id">{{ 'description.field.table.header.id' | translate }}</th>
        <th nzShowSort nzSortKey="item">
          {{ 'description.field.label.item' | translate }}
        </th>

        <th>
          {{ 'description.field.label.item-family' | translate }}
        </th>
        <th>
          {{ 'description.field.label.client' | translate }}
        </th>
        <th>{{ 'description.field.label.inventory-quantity-change-type' | translate }}</th>
        <th>{{ 'description.field.label.user' | translate }}</th>
        <th>{{ 'description.field.label.role.name' | translate }}</th>
        <th>{{ 'description.field.label.inventory-adjustment-threshold.quantity-threshold' | translate }}</th>
        <th>{{ 'description.field.label.inventory-adjustment-threshold.cost-threshold' | translate }}</th>
        <th>{{ 'description.field.label.enabled' | translate }}</th>
        <th>{{ 'description.field.label.action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.item?.name }}</td>
        <td>{{ data.itemFamily?.name }}</td>
        <td>{{ data.client?.name }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.user?.username }}</td>
        <td>{{ data.role?.name }}</td>
        <td>{{ data.quantityThreshold }}</td>
        <td>{{ data.costThreshold }}</td>
        <td>{{ data.enabled + ''| translate}}</td>

        <td>

        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
