<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/inventory/inventory" routerLinkActive="active">{{
    'return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/inventory/inventory" routerLinkActive="active">{{
        'breadcrumb.inventory' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<ng-container>
  <nz-card [nzActions]="[actionConfirm]">
    <nz-descriptions nzBordered>

      <nz-descriptions-item nzTitle="{{'lpn' | translate}}">
        {{currentInventory.lpn}}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="{{'location' | translate}}" nzSpan="2">
        {{currentInventory.location.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'item' | translate}}">
        {{currentInventory.item.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'item.description' | translate}}" nzSpan="2">
        {{currentInventory.item.description}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'item.package-type' | translate}}" nzSpan="3">
        <div *ngIf="currentInventory.itemPackageType.name !== originalInventoryItemPackageTypeName">
          <span>{{ 'originalValue' | translate}} :
            {{ originalInventoryItemPackageTypeName }}</span>
          <nz-divider nzType="vertical"></nz-divider>
          <span>{{ 'newValue' | translate}} :
            {{  currentInventory.itemPackageType.name }}</span>
        </div>
        <nz-card [nzTitle]="currentInventory.itemPackageType.name">
          <nz-table #itemPackageTypeDetailTable [nzData]="currentInventory.itemPackageType.itemUnitOfMeasures"
            nzSize="middle" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th>{{ 'unitOfMeasure' | translate}}</th>
                <th>{{ 'quantity' | translate }}</th>
                <th>{{ 'weight' | translate }}</th>
                <th>{{ 'length' | translate }}</th>
                <th>{{ 'width' | translate }}</th>
                <th>{{ 'height' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemUnitOfMeasure of itemPackageTypeDetailTable.data">
                <td>{{ itemUnitOfMeasure.unitOfMeasure.name }}</td>
                <td>{{ itemUnitOfMeasure.quantity }}</td>
                <td>{{ itemUnitOfMeasure.weight }}</td>
                <td>{{ itemUnitOfMeasure.length }}</td>
                <td>{{ itemUnitOfMeasure.width }}</td>
                <td>{{ itemUnitOfMeasure.height }}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-card>

      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'inventory.status' | translate}}">

        <div
          *ngIf="currentInventory !== undefined && currentInventory.inventoryStatus.name !== originalInventoryStatusName else inventoryStatusTpl">
          <span>{{ 'originalValue' | translate}} :
            {{ 'INVENTORY-STATUS-' + originalInventoryStatusName | translate}}</span>
          <nz-divider nzType="vertical"></nz-divider>
          <span>{{ 'newValue' | translate}} :
            {{ 'INVENTORY-STATUS-' + currentInventory.inventoryStatus.name | translate}}</span>
        </div>

      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'quantity' | translate}}">
        {{currentInventory.quantity}}

      </nz-descriptions-item>


      <ng-template #inventoryStatusTpl>
        {{currentInventory.inventoryStatus.name}}</ng-template>

    </nz-descriptions>
  </nz-card>
</ng-container>


<ng-template #actionConfirm>
  <a nz-button nzType="primary" (click)="saveCurrentInventory()">

    {{ 'steps.confirm.title' | translate }}</a>
</ng-template>
