<page-header></page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="orderNumber" [nzSm]="3" [nzXs]="3">
          {{ 'description.field.label.order.number' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="number" id="number" formControlName="number" />
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'description.field.button.search' | translate }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'description.field.button.clear' | translate }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">

  <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllOrders" [nzFooter]="tableFoot" #nestedTable>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>

        <th nzShowExpand></th>
        <th nzShowSort nzSortKey="id">{{ 'description.field.table.header.id' | translate }}</th>
        <th nzShowSort nzSortKey="number">
          {{ 'description.field.label.order.number' | translate }}
        </th>
        <th nzShowFilter [nzFilters]="filtersByShipToCustomer"
          (nzFilterChange)="filter($event, selectedFiltersByBillToCustomer)">
          {{ 'description.field.label.order.shipToCustomer' | translate }}
        </th>
        <th nzShowFilter [nzFilters]="filtersByBillToCustomer"
          (nzFilterChange)="filter(selectedFiltersByShipToCustomer, $event)">
          {{ 'description.field.label.order.billToCustomer' | translate }}
        </th>
        <th nzShowSort nzSortKey="totalItemCount">
          {{ 'description.field.label.order.totalItemCount' | translate }}
        </th>
        <th nzShowSort nzSortKey="totalOrderQuantity">
          {{ 'description.field.label.order.totalOrderQuantity' | translate }}
        </th>
        <th nzShowSort nzSortKey="totalShippedQuantity">
          {{ 'description.field.label.order.totalShippedQuantity' | translate }}
        </th>
        <th>
          {{ 'description.field.label.action' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>

          <td nzShowExpand [(nzExpand)]="mapOfExpandedId[data.id]"></td>
          <td>{{ data.id }}</td>
          <td>{{ data.number }}</td>
          <td>
            <div *ngIf="data.shipToCustomer != null">
              <a nz-tooltip [nzTooltipTitle]="shipToCustomerTooltipTpl">
                {{ data.shipToCustomer.name }}
              </a>
              <ng-template #shipToCustomerTooltipTpl>
                <div>
                  {{ data.shipToCustomer.contactorFirstname }} {{ data.shipToCustomer.contactorLastname }}
                </div>
                <div>
                  {{ data.shipToCustomer.addressLine1 }}
                </div>
                <div *ngIf="data.shipToCustomer.addressLine2 != null">
                  {{ data.shipToCustomer.addressLine2 }}
                </div>
                <div>
                  {{ data.shipToCustomer.addressCity }}, {{ data.shipToCustomer.addressState }}
                  {{ data.shipToCustomer.addressPostcode }}
                </div>
              </ng-template>
            </div>
            <div *ngIf="data.shipToCustomer === null">
              <a nz-tooltip [nzTooltipTitle]="shipToAddressTooltipTpl">
                {{ data.shipToContactorFirstname }} {{ data.shipToContactorLastname }}
              </a>
              <ng-template #shipToAddressTooltipTpl>
                <div>
                  {{ data.shipToAddressLine1 }}
                </div>
                <div *ngIf="data.shipToAddressLine2 != null">
                  {{ data.shipToAddressLine2 }}
                </div>
                <div>
                  {{ data.shipToAddressCity }}, {{ data.shipToAddressState }}
                  {{ data.shipToAddressPostcode }}
                </div>
              </ng-template>

            </div>
          </td>
          <td>
            <div *ngIf="data.billToCustomer != null">
              <a nz-tooltip [nzTooltipTitle]="billToCustomerTooltipTpl">
                {{ data.billToCustomer.name }}
              </a>
              <ng-template #billToCustomerTooltipTpl>
                <div>
                  {{ data.billToCustomer.contactorFirstname }} {{ data.billToCustomer.contactorLastname }}
                </div>
                <div>
                  {{ data.billToCustomer.addressLine1 }}
                </div>
                <div *ngIf="data.billToCustomer.addressLine2 != null">
                  {{ data.billToCustomer.addressLine2 }}
                </div>
                <div>
                  {{ data.billToCustomer.addressCity }}, {{ data.billToCustomer.addressState }}
                  {{ data.billToCustomer.addressPostcode }}
                </div>
              </ng-template>
            </div>
            <div *ngIf="data.billToCustomer === null">
              <a nz-tooltip [nzTooltipTitle]="billToAddressTooltipTpl">
                {{ data.billToContactorFirstname }} {{ data.billToContactorLastname }}
              </a>
              <ng-template #billToAddressTooltipTpl>
                <div>
                  {{ data.billToAddressLine1 }}
                </div>
                <div *ngIf="data.billToAddressLine2 != null">
                  {{ data.billToAddressLine2 }}
                </div>
                <div>
                  {{ data.billToAddressCity }}, {{ data.billToAddressState }}
                  {{ data.billToAddressPostcode }}
                </div>
              </ng-template>

            </div>
          </td>
          <td>{{ data.totalItemCount }}</td>
          <td>{{ data.totalOrderQuantity }}</td>
          <td>{{ data.totalShippedQuantity }}</td>
          <td></td>
        </tr>
        <tr [nzExpand]="mapOfExpandedId[data.id]">

          <td colspan="3"></td>
          <td colspan="5">
            <nz-table #innerTable [nzData]="data.orderLines" nzSize="middle" [nzShowPagination]="false">

              <thead>
                <th>
                  {{ 'description.field.label.order.line.number' | translate }}</th>
                <th>
                  {{ 'description.field.label.item' | translate }}</th>
                <th>
                  {{ 'description.field.label.order.line.expectedQuantity' | translate }}</th>
                <th>
                  {{ 'description.field.label.order.line.shippedQuantity' | translate }}</th>
                <th>
                  {{ 'description.field.label.inventoryStatus' | translate }}</th>
              </thead>
    <tbody>
      <tr *ngFor="let orderLine of data.orderLines">
        <td>{{ orderLine.number }}</td>
        <td>{{ orderLine.item.name }}</td>
        <td>{{ orderLine.expectedQuantity }}</td>
        <td>{{ orderLine.shippedQuantity }}</td>
        <td>{{ orderLine.inventoryStatus.name }}</td>
      </tr>

    </tbody>
  </nz-table>
  </td>
  </tr>
  </ng-template>
  </tbody>
  </nz-table>
</div>

<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <button nz-button nzType="danger" (click)="removeSelectedOrders()">
      {{ 'description.field.button.delete' | translate }}
    </button>
    <button nz-button nzType="primary" routerLink="/inbound/order-maintenance" routerLinkActive="active">
      {{ 'description.field.button.add' | translate }}
    </button>
  </div>
</ng-template>
