<page-header></page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
  <!-- Form to query the result  -->
  <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="number" [nzSpan]="8">
            {{ 'order.number' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input name="number" id="number" formControlName="number" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="orderStatus" [nzSpan]="8">
            {{ 'status' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select formControlName="orderStatus">
               <nz-option
                   *ngFor="let orderStatus of orderStatuses  | keys"
                    [nzValue]="orderStatus.key"
                    [nzLabel]="orderStatus.key"
                      ></nz-option>
               </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label for="orderCategory" [nzSpan]="8">
            {{ 'order.category' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select formControlName="orderCategory">
               <nz-option
                   *ngFor="let orderCategory of orderCategories  | keys"
                    [nzValue]="orderCategory.key"
                     nzLabel="{{ 'ORDER-CATEGORY-' + orderCategory.key |i18n}}"
                      ></nz-option>
               </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    
    <div nz-row [nzGutter]="24">
      
      <div nz-col [nzSpan]="8" >
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="customers">
            {{ 'customer' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select nzShowSearch nzAllowClear  formControlName="customer">
              <nz-option *ngFor="let customer of validCustomers" [nzLabel]="customer.name" [nzValue]="customer.id"></nz-option> 
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8" >
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="completeTimeRanger">
            {{ 'complete-time' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-range-picker [nzShowTime]="{ nzHideDisabledOptions: true }" nzFormat="yyyy-MM-dd HH:mm:ss"
              formControlName="completeTimeRanger" name="completeTimeRanger">
            </nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      

      <div nz-col [nzSpan]="8"  >
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="completeDate">
            {{ 'complete-date' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-date-picker formControlName="completeDate" name="completeDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    
    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="8" >
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="createdTimeRanger">
            {{ 'created-time' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-range-picker [nzShowTime]="{ nzHideDisabledOptions: true }" nzFormat="yyyy-MM-dd HH:mm:ss"
              formControlName="createdTimeRanger" name="createdTimeRanger">
            </nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      

      <div nz-col [nzSpan]="8"  >
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8" nzFor="createdDate">
            {{ 'created-date' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-date-picker formControlName="createdDate" name="createdDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      
      <div nz-col [nzSpan]="8" *ngIf="threePartyLogisticsFlag">
        <nz-form-item nzFlex>
          <nz-form-label for="client" [nzSpan]="6">
            {{ 'client' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="client">
              <nz-option *ngFor="let client of availableClients" [nzLabel]="client.name" [nzValue]="client"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
          {{ 'search' | i18n }}
        </button>
        <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
      </div>
    </div>
  </form>

  <!-- Table to Display the result  -->

  <div class="search-result-list">
    <div nz-row nzType="flex" nzJustify="start" style="padding-left: 25px;">
      <app-util-table-column-selection [myModel]="customColumns" (myModelChange)="columnChoosingChanged()"></app-util-table-column-selection>
    </div>
    
    <st #st [data]="listOfAllOrders"  [columns]="columns" [expand]="expand"  expandAccordion
    (change)="orderTableChanged($event)" [scroll]="{ x: '3355px' }">
      <!-- more details about the supplier -->
      <ng-template st-row="supplierColumn" let-item let-index="index">
        
        <nz-skeleton-element 
            *ngIf="item.supplierId && item.supplier == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element> 
        <a nz-tooltip [nzTooltipTitle]="supplierDetailsTemplate">{{ item.supplier?.name }}</a>
        
        <ng-template #supplierDetailsTemplate>
          <div>{{item.supplier.name}} - {{item.supplier.description}}</div>
          <address>  
            {{item.supplier?.addressLine1}} <br>
            {{item.supplier?.addressLine2}} <br>
            {{item.supplier?.addressCity}},  {{item.supplier?.addressState}} <br>
            {{item.supplier?.addressPostcode}} <br>
            </address>
        </ng-template>

      </ng-template>
      
      <ng-template st-row="carrierColumn" let-item let-index="index">
        
        <nz-skeleton-element 
            *ngIf="item.carrierId && item.carrier == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element> 
        <a nz-tooltip [nzTooltipTitle]="carrierDetailsTemplate">{{ item.carrier?.name }}</a>
        
        <ng-template #carrierDetailsTemplate>
          <div>{{item.carrier.name}} - {{item.carrier.description}}</div>
          <div *ngIf="item.carrier.contactorFirstname != null || item.carrier.contactorLastname != null">
            {{item.carrier.contactorFirstname}} - {{item.carrier.contactorLastname}}</div>
          <address *ngIf="item.carrier.addressLine1 != null || item.carrier.addressLine2 != null  || item.carrier.addressCity != null  || item.carrier.addressState != null">  
            {{item.carrier?.addressLine1}} <br>
            {{item.carrier?.addressLine2}} <br>
            {{item.carrier?.addressCity}},  {{item.carrier?.addressState}} <br>
            {{item.carrier?.addressPostcode}} <br>
            </address>
        </ng-template>

      </ng-template>
      
      <ng-template st-row="carrierServiceColumn" let-item let-index="index">
        
        <nz-skeleton-element 
            *ngIf="item.carrierServiceLevelId && item.carrierServiceLevel == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element> 
        <a>{{ item.carrierServiceLevel?.name }}</a>

      </ng-template>
      <!-- more details about the shipping to customer -->
      <ng-template st-row="shipToCustomerColumn" let-item let-index="index">
        
        <nz-skeleton-element 
            *ngIf="item.shipToCustomerId && item.shipToCustomer == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element> 
        <a nz-tooltip [nzTooltipTitle]="shipToCustomerDetailsTemplate">{{ item.shipToCustomer?.name }}</a>
        
        <ng-template #shipToCustomerDetailsTemplate>
          
          <address>  
            {{item.shipToCustomer?.addressLine1}} <br>
            {{item.shipToCustomer?.addressLine2}} <br>
            {{item.shipToCustomer?.addressCity}},  {{item.shipToCustomer?.addressState}} <br>
            {{item.shipToCustomer?.addressPostcode}} <br>
            </address>
        </ng-template>

      </ng-template>
      
      <ng-template st-row="shipToCustomeAddressColumn" let-item let-index="index">
           
          <address>  
            {{item.shipToContactorFirstname}} {{item.shipToContactorLastname}}<br>
            {{item.shipToAddressLine1}} <br>
            {{item.shipToAddressLine2}} <br>
            {{item.shipToAddressCity}},  {{item.shipToAddressState}} <br>
            {{item.shipToAddressPostcode}} <br>
            </address> 

      </ng-template>

      
      <ng-template st-row="billToCustomerColumn" let-item let-index="index">
        
        <nz-skeleton-element 
          *ngIf="item.billToCustomerId && item.billToCustomer == null"
          nzType="input"
          [nzActive]="true"
          [nzSize]="'small'"
          style="width:75px"
        ></nz-skeleton-element> 

        <a nz-tooltip [nzTooltipTitle]="billToCustomerDetailsTemplate">{{ item.billToCustomer?.name }}</a>
        <ng-template #billToCustomerDetailsTemplate>
          
          <address>  
            {{item.billToCustomer?.addressLine1}} <br>
            {{item.billToCustomer?.addressLine2}} <br>
            {{item.billToCustomer?.addressCity}},  {{item.billToCustomer?.addressState}} <br>
            {{item.billToCustomer?.addressPostcode}} <br>
            </address>
        </ng-template>

      </ng-template>
      
      <ng-template st-row="billToCustomerAddressColumn" let-item let-index="index">
           
        <address>  
          {{item.billToContactorFirstname}} {{item.billToContactorLastname}}<br>
          {{item.billToAddressLine1}} <br>
          {{item.billToAddressLine2}} <br>
          {{item.billToAddressCity}},  {{item.billToAddressState}} <br>
          {{item.billToAddressPostcode}} <br>
          </address> 

    </ng-template>
      
      <!-- more details about the order number -->
      <ng-template st-row="orderNumberColumn" let-order let-index="index">
        <a nz-tooltip [nzTooltipTitle]="orderNumberTemplate">{{ order.number }}</a>
        <ng-template #orderNumberTemplate>
          {{order.number}}
        </ng-template>

      </ng-template>

      <!--   order details  -->
      <ng-template #expand let-order let-index="index" >
        
        <nz-tabset [nzSelectedIndex]="tabSelectedIndex">
          <nz-tab nzTitle=" {{ 'order.line' | i18n }}">

            <st #stOrderLine [data]="order.orderLines"  [columns]="stOrderLineTableColumns"  
            [expand]="expand"  expandAccordion 
            [scroll]="{ x: '1315px' }">
             
            
             <!--   billable activity  -->
             <ng-template #expand let-orderLine   >
               
               <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" >
                 <nz-tab nzTitle="{{'order.line.billable-activity-type' | i18n}}">
                   <st #stOrderLineBillableActivityTable [data]="orderLine.orderLineBillableActivities" 
                     [columns]="orderLineBillableActivityTableColumns"  >
 
                     <ng-template st-row="activityTimeColumn" let-billableActivity let-index="index">
                       {{ billableActivity.activityTime | date:'short'}} 
   
                    </ng-template>
                     <ng-template st-row="actionColumn" let-billableActivity let-index="index">
                       <button nz-button nzDanger (click)="removeOrderLineBillableActivity(orderLine, billableActivity)">
                        {{'remove' | i18n}}
                       </button>
  
                    </ng-template>
                   </st>
                 </nz-tab>
               </nz-tabset>
             </ng-template>
 
             <ng-template st-row="itemColumn" let-orderLine  >
                <nz-skeleton-element 
                  *ngIf="orderLine.itemId && orderLine.item == null"
                  nzType="input"
                  [nzActive]="true"
                  [nzSize]="'small'"
                  style="width:75px"
                ></nz-skeleton-element> 
                {{ orderLine.item?.name }}
              </ng-template>

              <ng-template st-row="displayExpectedQuantityColumn" let-orderLine  >
                {{ orderLine.displayExpectedQuantity }}  
                   <nz-skeleton-element 
                      *ngIf="orderLine.displayUnitOfMeasureForExpectedQuantity == null"
                      nzType="input"
                      [nzActive]="true"
                      [nzSize]="'small'"
                      style="width:75px" ></nz-skeleton-element>  
                    
                      <a nz-dropdown [nzDropdownMenu]="unitOfMeasureList1" 
                             *ngIf="orderLine.displayUnitOfMeasureForExpectedQuantity != null">
                             {{orderLine.displayUnitOfMeasureForExpectedQuantity.name}}
                        <span nz-icon nzType="down"></span>
                      </a>
                     <nz-dropdown-menu #unitOfMeasureList1="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                          <li nz-menu-item *ngFor="let itemUnitOfMeasure of orderLine.item?.defaultItemPackageType?.itemUnitOfMeasures" 
                               (click)="changeDisplayItemUnitOfMeasureForExpectedQuantity(orderLine, itemUnitOfMeasure)">
                                 {{ itemUnitOfMeasure.unitOfMeasure?.name }}
                          </li> 
                        </ul>
                    </nz-dropdown-menu> 
              </ng-template>
              
              <ng-template st-row="displayExpectedQuantityColumn" let-orderLine  >
             
                  {{ orderLine.displayOpenQuantity }}  
                  <nz-skeleton-element 
                    *ngIf="orderLine.displayUnitOfMeasureForOpenQuantity == null"
                    nzType="input"
                    [nzActive]="true"
                    [nzSize]="'small'"
                    style="width:75px"
                  ></nz-skeleton-element>  
                  <a nz-dropdown [nzDropdownMenu]="unitOfMeasureList2" 
                    *ngIf="orderLine.displayUnitOfMeasureForOpenQuantity != null">
                    {{orderLine.displayUnitOfMeasureForOpenQuantity.name}}
                    <span nz-icon nzType="down"></span>
                  </a>
                  <nz-dropdown-menu #unitOfMeasureList2="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item *ngFor="let itemUnitOfMeasure of orderLine.item?.defaultItemPackageType?.itemUnitOfMeasures" 
                      (click)="changeDisplayItemUnitOfMeasureForOpenQuantity(orderLine, itemUnitOfMeasure)">
                        {{ itemUnitOfMeasure.unitOfMeasure?.name }}
                      </li> 
                    </ul>
                  </nz-dropdown-menu> 
              
              </ng-template>
              
              <ng-template st-row="inventoryStatusColumn" let-orderLine  >
              
                <nz-skeleton-element 
                  *ngIf="orderLine.inventoryStatusId && orderLine.inventoryStatus == null"
                  nzType="input"
                  [nzActive]="true"
                  [nzSize]="'small'"
                    style="width:75px"
                  ></nz-skeleton-element> 
                <span *ngIf="orderLine.inventoryStatus != null" >
                    {{  orderLine.inventoryStatus?.description}}
                </span>
              
              </ng-template>
              <ng-template st-row="allocationStrategyTypeColumn" let-orderLine  >
                <span *ngIf="orderLine.allocationStrategyType != null">
                  {{ 'ALLOCATION-STRATEGY-TYPE-' + orderLine.allocationStrategyType | i18n}}
                </span>
              </ng-template>
             <ng-template st-row="actionColumn" let-orderLine  >
                
                <button nz-button (click)="openAddOrderLineActivityModal(order, orderLine, tplBillableActivityModalTitle, 
                    tplBillableActivityModalContent, tplBillableActivityModalFooter)">
                  {{ 'billable-activity-type.add' | i18n }}
                </button>
              </ng-template>          
          </st> 
<!--
            <nz-table [nzScroll]="{ x: '100vw'}" #innerTable [nzData]="order.orderLines" nzSize="middle"
              [nzShowPagination]="false" #orderLineTable>
              <thead>
                <th>
                  {{ 'order.line.number' | i18n }}
                </th>
                <th>
                  {{ 'item' | i18n }}
                </th>
                <th>
                  {{ 'color' | i18n }}
                </th>
                <th>
                  {{ 'productSize' | i18n }}
                </th>
                <th>
                  {{ 'style' | i18n }}
                </th>
                <th>
                  {{ 'order.line.expectedQuantity' | i18n }}
                </th>
                <th>
                  {{ 'order.line.openQuantity' | i18n }}
                </th>
                <th>
                  {{ 'order.line.inprocessQuantity' | i18n }}
                </th>
                <th>
                  {{ 'production-plan.line.inprocessQuantity' | i18n }}
                </th>
                <th>
                  {{ 'production-plan.line.producedQuantity' | i18n }}
                </th>
                <th>
                  {{ 'order.line.shippedQuantity' | i18n }}
                </th>
                <th>
                  {{ 'inventory.status' | i18n }}
                </th>
                <th>
                  {{ 'order.line.allocationStrategyType' | i18n }}
                </th>
                <th>
                  {{'action' | i18n}}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let orderLine of orderLineTable.data">
                  <td>{{ orderLine.number }}</td>
                  
                  <td>
                    <nz-skeleton-element 
                      *ngIf="orderLine.itemId && orderLine.item == null"
                      nzType="input"
                      [nzActive]="true"
                      [nzSize]="'small'"
                      style="width:75px"
                    ></nz-skeleton-element> 
                    {{ orderLine.item?.name }}</td>
                    <td>{{ orderLine.color }}</td>
                    <td>{{ orderLine.productSize }}</td>
                    <td>{{ orderLine.style }}</td>
                  <td>
                    
                    {{ orderLine.displayExpectedQuantity }}  
                    <nz-skeleton-element 
                      *ngIf="orderLine.displayUnitOfMeasureForExpectedQuantity == null"
                      nzType="input"
                      [nzActive]="true"
                      [nzSize]="'small'"
                      style="width:75px"
                    ></nz-skeleton-element>  
                    <a nz-dropdown [nzDropdownMenu]="unitOfMeasureList1" 
                      *ngIf="orderLine.displayUnitOfMeasureForExpectedQuantity != null">
                      {{orderLine.displayUnitOfMeasureForExpectedQuantity.name}}
                      <span nz-icon nzType="down"></span>
                    </a>
                    <nz-dropdown-menu #unitOfMeasureList1="nzDropdownMenu">
                      <ul nz-menu nzSelectable>
                        <li nz-menu-item *ngFor="let itemUnitOfMeasure of orderLine.item?.defaultItemPackageType?.itemUnitOfMeasures" 
                        (click)="changeDisplayItemUnitOfMeasureForExpectedQuantity(orderLine, itemUnitOfMeasure)">
                          {{ itemUnitOfMeasure.unitOfMeasure?.name }}
                        </li> 
                      </ul>
                    </nz-dropdown-menu> 
                  </td>
                  <td>
                    
                    {{ orderLine.displayOpenQuantity }}  
                    <nz-skeleton-element 
                      *ngIf="orderLine.displayUnitOfMeasureForOpenQuantity == null"
                      nzType="input"
                      [nzActive]="true"
                      [nzSize]="'small'"
                      style="width:75px"
                    ></nz-skeleton-element>  
                    <a nz-dropdown [nzDropdownMenu]="unitOfMeasureList2" 
                      *ngIf="orderLine.displayUnitOfMeasureForOpenQuantity != null">
                      {{orderLine.displayUnitOfMeasureForOpenQuantity.name}}
                      <span nz-icon nzType="down"></span>
                    </a>
                    <nz-dropdown-menu #unitOfMeasureList2="nzDropdownMenu">
                      <ul nz-menu nzSelectable>
                        <li nz-menu-item *ngFor="let itemUnitOfMeasure of orderLine.item?.defaultItemPackageType?.itemUnitOfMeasures" 
                        (click)="changeDisplayItemUnitOfMeasureForOpenQuantity(orderLine, itemUnitOfMeasure)">
                          {{ itemUnitOfMeasure.unitOfMeasure?.name }}
                        </li> 
                      </ul>
                    </nz-dropdown-menu> 

                  </td>
                  <td>{{ orderLine.inprocessQuantity }}</td>
                  <td>{{ orderLine.productionPlanInprocessQuantity }}</td>
                  <td>{{ orderLine.productionPlanProducedQuantity }}</td>
                  <td>{{ orderLine.shippedQuantity }}</td>
                  <td>
                    
                    <nz-skeleton-element 
                    *ngIf="orderLine.inventoryStatusId && orderLine.inventoryStatus == null"
                    nzType="input"
                    [nzActive]="true"
                    [nzSize]="'small'"
                      style="width:75px"
                    ></nz-skeleton-element> 
                    <span *ngIf="orderLine.inventoryStatus != null" >
                      {{  orderLine.inventoryStatus?.description}}
                    </span>
                    </td>
                  <td><span *ngIf="orderLine.allocationStrategyType != null">
                    {{ 'ALLOCATION-STRATEGY-TYPE-' + orderLine.allocationStrategyType | i18n}}
                  </span></td>
                  <td> 
                    <button nz-button (click)="openAddOrderLineActivityModal(order, orderLine, tplBillableActivityModalTitle, 
                        tplBillableActivityModalContent, tplBillableActivityModalFooter)">
                    {{ 'billable-activity-type.add' | i18n }}
                    </button>
 
                  </td>
                </tr>
              </tbody>
            </nz-table>

          -->
          </nz-tab> 

          <nz-tab nzTitle=" {{ 'pick' | i18n }}">
            <nz-table [nzScroll]="{ x: 'true', y: 'true' }" nzSize="middle" [nzShowPagination]="true"
              [nzFooter]="pickTableFoot" [nzData]="mapOfPicks[order.id!]" #pickTable>
              <thead>
                
                <th   [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event, order.id!)" nzWidth="60px"></th>
                <th>
                  {{ 'pick.number' | i18n }}
                </th>
                <th>
                  {{ 'list-pick.number' | i18n }}
                </th>
                <th>
                  {{ 'cartonization.number' | i18n }}
                </th>
                <th>
                  {{ 'sourceLocation' | i18n }}
                </th>
                <th>
                  {{ 'destinationLocation' | i18n }}
                </th>
                <th>
                  {{ 'item' | i18n }}
                </th>
                <th>
                  {{ 'item.description' | i18n }}
                </th>
                <th>
                  {{ 'color' | i18n }}
                </th>
                <th>
                  {{ 'productSize' | i18n }}
                </th>
                <th>
                  {{ 'style' | i18n }}
                </th>
                <th>
                  {{ 'pick.quantity' | i18n }}
                </th>
                <th>
                  {{ 'pick.pickedQuantity' | i18n }}
                </th>
                <th>
                  {{ 'pick.allocated-lpn' | i18n }}
                </th>
                <th *ngIf="!displayOnly">
                  {{ 'action' | i18n }}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let pick of pickTable.data">
                  
                  <td [nzChecked]="setOfCheckedId.has(pick.id!)" [nzDisabled]="pick.quantity === pick.pickedQuantity"
                    (nzCheckedChange)="onItemChecked(pick.id!, order.id!, $event)"></td>
                  <td>{{ pick.number }}</td>
                  <td><a routerLink="/outbound/pick-list" routerLinkActive="active"
                      [queryParams]="{number : pick.pickListNumber}">{{ pick.pickListNumber }}</a></td>
                  <td><a routerLink="/outbound/cartonization" routerLinkActive="active"
                      [queryParams]="{number : pick.cartonizationNumber}">{{ pick.cartonizationNumber }}</a></td>
                  <td>{{ pick.sourceLocation.name }}</td>
                  <td>{{ pick.destinationLocation.name }}</td>
                  <td>{{ pick.item.name }}</td>
                  <td>{{ pick.item.description }}</td>
                  <td>{{ pick.color }}</td>
                  <td>{{ pick.productSize }}</td>
                  <td>{{ pick.style }}</td>
                  <td>{{ pick.quantity }}</td>
                  <td>{{ pick.pickedQuantity }}</td>
                  <td>{{ pick.lpn }}</td>
                  <td *ngIf="!displayOnly">
                    <button nz-button (click)="cancelPick(order, pick)"
                      [disabled]="pick.quantity === pick.pickedQuantity || order.status === orderStatusEnum.COMPLETE">
                      {{ 'cancel' | i18n }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>

            <ng-template #pickTableFoot>
              <div nz-row nzType="flex" nzJustify="start">
                <cwms-common-print-button [printingInProcess]="mapOfAllocationInProcessId[order.id!]"
                  [printButtonDisabled]="!isOrderReadyForComplete(order)" (print)="printPickSheets(order, $event)"
                  (preview)="previewReport(order)">
                </cwms-common-print-button>
                <button nz-button (click)="confirmPicks(order)"  *ngIf="!displayOnly"
                  [disabled]="(mapOfPicks[order.id!] && mapOfPicks[order.id!].length === 0) || order.status === orderStatusEnum.COMPLETE">
                  {{ 'confirm' | i18n }}
                </button>
                <button nz-button (click)="cancelSelectedPick(order)"  *ngIf="!displayOnly"
                      [disabled]="order.status === orderStatusEnum.COMPLETE">
                      {{ 'cancel' | i18n }}
                    </button>
              </div>
            </ng-template>
          </nz-tab>

          <nz-tab nzTitle=" {{ 'picked-inventory' | i18n }}">
            <nz-table [nzScroll]="{ x: 'true', y: 'true' }" nzSize="middle" [nzShowPagination]="true"
              [nzData]="mapOfPickedInventory[order.id!]" #pickedInventoryTable>
              <thead>
                
                <th>
                  {{ 'pick.number' | i18n }}
                </th>
                <th>
                  {{ 'location' | i18n }}
                </th>
                <th>
                  {{ 'lpn' | i18n }}
                </th>
                <th>
                  {{ 'item' | i18n }}
                </th>
                <th>
                  {{ 'item.description' | i18n }}
                </th>
                <th>
                  {{ 'item.package-type' | i18n }}
                </th>
                <th>
                  {{ 'quantity' | i18n }}
                </th>
                <th>
                  {{ 'inventory.status' | i18n }}
                </th>
                <th>
                  {{ 'color' | i18n }}
                </th>
                <th>
                  {{ 'productSize' | i18n }}
                </th>
                <th>
                  {{ 'style' | i18n }}
                </th>
                <th *ngIf="!displayOnly">
                  {{ 'action' | i18n }}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let inventory of pickedInventoryTable.data">
                  <td>{{ inventory.pick?.number }}</td>
                  <td>{{ inventory.location?.name }}</td>
                  <td>{{ inventory.lpn }}</td>
                  <td>{{ inventory.item?.name }}</td>
                  <td>{{ inventory.item?.description }}</td>
                  <td>{{ inventory.itemPackageType?.name }}</td>
                  <td>{{ inventory.quantity }}</td>
                  <td>{{ inventory.inventoryStatus?.name }}</td>
                  <td>{{ inventory.color }}</td>
                  <td>{{ inventory.productSize }}</td>
                  <td>{{ inventory.style }}</td>
                  <td *ngIf="!displayOnly">
                    <button nz-button (click)="openUnpickModal(order, inventory, tplUnpickModalTitle, tplUnpickModalContent)"
                      [disabled]="order.status === orderStatusEnum.COMPLETE">
                      {{ 'unpick' | i18n }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>

          <nz-tab nzTitle=" {{ 'short-allocation' | i18n }}">
            <nz-table [nzScroll]="{ x: 'true', y: 'true' }" [nzData]="mapOfShortAllocations[order.id!]" nzSize="middle"
              [nzShowPagination]="true" #shortAllocationTable>
              <thead>
                <th>
                  {{ 'item' | i18n }}
                </th>
                <th>
                  {{ 'item.description' | i18n }}
                </th>
                <th>
                  {{ 'short-allocation.quantity' | i18n }}
                </th>
                <th>
                  {{ 'short-allocation.openQuantity' | i18n }}
                </th>
                <th>
                  {{ 'short-allocation.inprocessQuantity' | i18n }}
                </th>
                <th>
                  {{ 'short-allocation.deliveredQuantity' | i18n }}
                </th>
                <th>
                  {{ 'short-allocation.status' | i18n }}
                </th>
                <th>
                  {{ 'short-allocation.allocationCount' | i18n }}
                </th>
                <th>
                  {{ 'short-allocation.lastAllocationDatetime' | i18n }}
                </th>
                <th *ngIf="!displayOnly">
                  {{ 'action' | i18n }}
                </th>
              </thead>
              <tbody >
                <tr *ngFor="let shortAllocation of shortAllocationTable.data">

                  <td>{{ shortAllocation.item.name }}</td>
                  <td>{{ shortAllocation.item.description }}</td>
                  <td>{{ shortAllocation.quantity }}</td>
                  <td>{{ shortAllocation.openQuantity }}</td>
                  <td><a routerLink="/outbound/pick" routerLinkActive="active"
                      [queryParams]="{shortAllocationId : shortAllocation.id}">
                      {{ shortAllocation.inprocessQuantity }}
                    </a></td>
                  <td>{{ shortAllocation.deliveredQuantity }}</td>
                  <td>{{ 'SHORT-ALLOCATION-STATUS-' +shortAllocation.status | i18n}}</td>
                  <td>{{ shortAllocation.allocationCount }}</td>

                  <td>
                    <span *ngIf="shortAllocation.lastAllocationDatetime">
                      {{ shortAllocation.lastAllocationDatetime | date:'short'}}
                    </span>
                  </td>
                  <td *ngIf="!displayOnly">
                    
                    <button nz-button nz-dropdown [nzDropdownMenu]="shortAllocationMenu" nzType="primary">
                      {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
                    <nz-dropdown-menu #shortAllocationMenu="nzDropdownMenu">
                      <ul nz-menu> 

                        <li nz-menu-item *ngIf="isShortAllocationAllocatable(shortAllocation) && order.status != orderStatusEnum.COMPLETE">
                          <a   (click)="allocateShortAllocation(order, shortAllocation)">{{ 'allocate' | i18n }}</a>
                        </li>
                        
                        <li nz-menu-item *ngIf="order.status != orderStatusEnum.COMPLETE">
                          <a  (click)="openCreateWorkOrderModel(shortAllocation, tplCreateWorkOrderModalTitle, tplCreateWorkOrderModalContent)">
                            {{ 'create-work-order' | i18n }}</a>
                        </li>
                        
                        
                        <li nz-menu-item *ngIf="order.status != orderStatusEnum.COMPLETE">
                          <a  (click)="cancelShortAllocation(order,shortAllocation)">{{ 'cancel' | i18n }}</a>
                        </li>
                      </ul>
                    </nz-dropdown-menu> 
 

                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          
          <nz-tab nzTitle="{{ 'order.billable-activity-type' | i18n }}"> 
            <st #stOrderBillableActivityTable 
                [data]="order.orderBillableActivities"  [columns]="orderBillableActivityTableColumns">
                 
              <ng-template st-row="activityTimeColumn" let-billableActivity let-index="index">
                {{ billableActivity.activityTime | date:'short'}} 

             </ng-template>
              <ng-template st-row="actionColumn" let-billableActivity let-index="index">
                 <button nz-button nzDanger (click)="removeOrderBillableActivity(order, billableActivity)">
                  {{'remove' | i18n}}
                 </button>

              </ng-template>
            </st>  
          </nz-tab> 

          <nz-tab nzTitle=" {{ 'order-document' | i18n }}">
            <nz-list nzBordered nzHeader="{{'files' | i18n}}" >
              <nz-list-item *ngFor="let orderDocument of order.orderDocuments">
                
                <ul nz-list-item-actions>
                  <nz-list-item-action><a (click)="removeOrderDocument(orderDocument)">{{'remove' | i18n}}</a></nz-list-item-action>
                </ul>
                <a [href]="getOrderDocumentFileUrl(orderDocument)" target="_blank" rel="noopener noreferrer" >
                    {{orderDocument.fileName}}</a>
              </nz-list-item>
            </nz-list>
          </nz-tab>
          
          <nz-tab nzTitle=" {{ 'parcel-package' | i18n }}">
            <nz-table [nzScroll]="{ x: 'true', y: 'true' }" [nzData]="mapOfParcelPackages[order.id!]" nzSize="middle"
              [nzShowPagination]="true" #parcelPackageTable>
              <thead>
                <th>
                  {{ 'trackingCode' | i18n }}
                </th>
                <th>
                  {{ 'status' | i18n }}
                </th>
                <th>
                  {{ 'shippedDate' | i18n }}
                </th>
                <th>
                  {{ 'size' | i18n }}
                </th>
                <th>
                  {{ 'weight' | i18n }}
                </th>
                <th>
                  {{ 'carrier' | i18n }}
                </th>
                <th>
                  {{ 'service' | i18n }}
                </th>
                <th>
                  {{ 'deliveryDays' | i18n }}
                </th>
                <th>
                  {{ 'rate' | i18n }}
                </th>
                <th>
                  {{ 'insurance' | i18n }}
                </th>
                <th>
                  {{ 'label' | i18n }}
                </th>
              </thead>
              <tbody >
                <tr *ngFor="let parcelPackage of parcelPackageTable.data">

                  <td><a [href]="parcelPackage.trackingUrl" target="_blank">{{ parcelPackage.trackingCode }}</a> </td> 
                  
                  <td>{{ parcelPackage.status }}</td>
                  <td>{{ parcelPackage.createdTime | date:'short'}} </td>
                  <td>{{ parcelPackage.length }} in x {{ parcelPackage.width }} in x {{ parcelPackage.height }} in</td>
                  <td>{{ parcelPackage.weight }} lb </td>
                  <td>{{ parcelPackage.carrier }}</td>
                  <td>{{ parcelPackage.service }}</td>
                  <td>{{ parcelPackage.deliveryDays }}</td>
                  <td>{{ parcelPackage.rate | currency: 'USD' }} </td>
                  <td>{{ parcelPackage.insurance | currency: 'USD' }}</td>
                  <td>
                    
                      <cwms-common-print-button style="padding-left: 20px;" (print)="printParcelLabel( $event, parcelPackage)"
                      (preview)="previewParcelLevel(parcelPackage)">
                      </cwms-common-print-button>

                    <!--
                      <a [href]="packages.labelUrl" target="_blank">{{ 'print-label' | i18n }}</a>

                    -->  
                    </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
      </ng-template>


      <!--   action colummn  -->  
      <ng-template st-row="actionColumn" let-order let-index="index"> 
        
        <nz-list>
          <nz-list-item>          
            <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary">
              {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu> 

                <li nz-menu-item>
                  <a routerLink="/outbound/order-maintenance" routerLinkActive="active"
                    [queryParams]="{id : order.id}">
                    {{ 'modify' | i18n }}</a> 
                </li>
                <li nz-menu-item *ngIf="isOrderAllocatable(order)">
                  <a  (click)="allocateOrder(order)">{{ 'allocate' | i18n }}</a>
                </li>
                <li nz-menu-item *ngIf="canReassignStageLocation(order)">
                  <a  (click)="openReassignStageLocationModel(order, tplOrderReassignShippingStageLocationModalTitle, tplOrderReassignShippingStageLocationModalContent)">
                    {{ 'order.assign-ship-stage-location' | i18n }}</a>
                </li>
                <li nz-menu-item *ngIf="isOrderReadyForComplete(order)">
                  <a  (click)="completeOrder(order)">{{ 'complete' | i18n }}</a>
                </li>
                <li nz-menu-item *ngIf="isOrderReadyForRemove(order)">
                  <a  (click)="removeOrder(order)">{{ 'remove' | i18n }}</a>
                </li>
                
                <li nz-menu-item *ngIf="isAlreadyCompleted(order)">
                  <a  (click)="retriggerOrderConfirmationIntegration(order)">{{ 'retrigger-order-confirm-integration' | i18n }}</a>
                </li>
                <li nz-menu-item >
                  <a routerLink="/outbound/order-document" routerLinkActive="active"
                    [queryParams]="{id : order.id}">
                    {{ 'upload-document' | i18n }}</a> 
                </li>
                <li nz-menu-item >
                  <a routerLink="/outbound/parcel-by-order" routerLinkActive="active"
                    [queryParams]="{id : order.id}">
                    {{ 'ship-parcel' | i18n }}</a> 
                </li>
                <li nz-menu-item>
                  <a (click)="openAddOrderActivityModal(order, tplBillableActivityModalTitle, 
                      tplBillableActivityModalContent, tplBillableActivityModalFooter)" >
                  {{ 'billable-activity-type.add' | i18n }}</a>
                </li> 
              </ul>
            </nz-dropdown-menu>
          </nz-list-item>
          <nz-list-item>
            {{ 'packing-slip' | i18n }}: 
            <cwms-common-print-button style='padding-left: 20px;'
              (print)="printPackingSlip($event, order)"
              (preview)="previewPackingSlip(order)">
            </cwms-common-print-button>
          </nz-list-item>
          
          <nz-list-item >
            {{ 'bill-of-lading' | i18n }}: 
            <cwms-common-print-button style='padding-left: 20px;'
              (print)="printBillOfLading($event, order)"
              (preview)="previewBillOfLading(order)">
            </cwms-common-print-button>
          </nz-list-item>
        </nz-list>
        
      </ng-template>
        
      <!--   label print colummn  --> 
      <!--


      <ng-template st-row="printColumnTitle" type="title" let-c>
        {{ 'print' | i18n }}
      </ng-template>
      <ng-template st-row="printColumn" let-item let-index="index">  
        <nz-list>
          <nz-list-item>
            {{ 'packing-slip' | i18n }}: 
            <cwms-common-print-button style='padding-left: 20px;'
              (print)="printPackingSlip($event, item)"
              (preview)="previewPackingSlip(item)">
            </cwms-common-print-button>
          </nz-list-item>
          
          <nz-list-item >
            {{ 'bill-of-lading' | i18n }}: 
            <cwms-common-print-button style='padding-left: 20px;'
              (print)="printBillOfLading($event, item)"
              (preview)="previewBillOfLading(item)">
            </cwms-common-print-button>
          </nz-list-item>
        </nz-list>
        

      </ng-template>
      -->
    </st>
    
  <div nz-row nzType="flex" nzJustify="start"  style="padding: 15px;" *ngIf="searchResult != ''">
    {{searchResult}}
  </div>
    <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly"> 
      <button nz-button nzType="primary" routerLink="/outbound/order-maintenance" routerLinkActive="active">
        {{ 'add' | i18n }}
      </button>
      <nz-divider nzType="vertical"></nz-divider> 
      <button  nz-button nzType="primary" routerLink="/util/file-upload/orders" routerLinkActive="active">
        {{ 'file-upload' | i18n }}
      </button> 
    </div>
  </div> 

</nz-spin>


<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
    {{searchResult}}
  </div>
</ng-template>



<!-- Modal for unpick -->
<ng-template #tplUnpickModalTitle>
  <span>{{ 'page.modal.unpick' | i18n}}</span>
</ng-template>

<ng-template #tplUnpickModalContent>
  <form nz-form [formGroup]="unpickForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lpn">
            {{ 'lpn' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="lpn" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemNumber">
            {{ 'item' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemNumber" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemDescription">
            {{ 'item.description' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemDescription" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'inventory.status' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="inventoryStatus" />

          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="itemPackageType">
            {{ 'item.package-type' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">

            <input nz-input formControlName="itemPackageType" />

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quantity">
            {{ 'quantity' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="quantity" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">


      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="locationName">
            {{ 'location' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="locationName" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="destinationLocation">
            {{ 'unpick.destination-location' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="destinationLocation" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox formControlName="immediateMove">
              <span>{{ 'unpick.immediately-putaway' | i18n}}</span>
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
  </form>
</ng-template>






<!-- Modal for select printer -->
<ng-template #tplPrinterModalTitle>
  <span>{{ 'page.modal.printer.title' | i18n}}</span>
</ng-template>
<ng-template #tplPrinterModalContent>
  <form nz-form [formGroup]="printerForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'printer' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select nz-input formControlName="printer" style="width: 250px">
              <nz-option *ngFor="let availablePrint of availablePrinters" [nzLabel]="availablePrint.name"
                [nzValue]="availablePrint.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="8" [nzXs]="8" nzFor="physicalCopyCount">
            {{ 'print.physical-copy-count' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">

            <input nz-input formControlName="physicalCopyCount" />

          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>




<!-- Modal for reassign ship stage location-->
<ng-template #tplOrderReassignShippingStageLocationModalTitle>
  <span>{{ 'order.assign-ship-stage-location' | i18n}}</span>
</ng-template>
<ng-template #tplOrderReassignShippingStageLocationModalContent>
  <form nz-form [formGroup]="orderReassignShippingStageLocationForm">
    
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="12">
            {{ 'shipment.stage.locationGroup' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback  >
            <input nz-input formControlName="currentStageLocationGroup" /> 

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="12">
            {{ 'shipment.stage.location' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback  >
            <input nz-input formControlName="currentStageLocation"> 
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="12">
            {{ 'shipment.stage.locationGroup' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback  >
              <nz-select (ngModelChange)="stageLocationGroupChange()" formControlName="stageLocationGroupId" >
                  <nz-option *ngFor="let loocationGroup of avaiableLocationGroups" [nzValue]="loocationGroup.id" [nzLabel]="loocationGroup.description!"></nz-option>
                </nz-select>

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="12">
            {{ 'shipment.stage.location' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback  >
              
                  <nz-select formControlName="stageLocationId" >
                      <nz-option *ngFor="let location of avaiableLocations" [nzValue]="location.id" [nzLabel]="location.name!"></nz-option>
                  </nz-select>

                
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>


<!-- Modal for create work order for short allocation-->
<ng-template #tplCreateWorkOrderModalTitle>
  <span>{{ 'create-work-order' | i18n}}</span>
</ng-template>
<ng-template #tplCreateWorkOrderModalContent>
  <form nz-form [formGroup]="createWorkOrderForm">
    
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">
            {{ 'item.name' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback  >
            <input nz-input formControlName="itemName" /> 

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="12">
            {{ 'short-allocation.quantity' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback  >
            <input nz-input formControlName="shortQuantity"> 
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">
            {{ 'bom' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback  >
              <nz-select   formControlName="bom" >
                  <nz-option *ngFor="let bom of availableBOM" [nzValue]="bom.id" [nzLabel]="bom.number!"></nz-option>
                </nz-select>

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="12">
            {{ 'work-order.number' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback  >
            <input  appFkey variable="work-order-number" nz-input formControlName="workOrderNumber" 
            (nextNumberAvailableEvent)="workOrderNumberChanged($event)"/> 

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">
            {{ 'quantity' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback  >
            <input nz-input formControlName="workOrderQuantity"> 
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    
    <div nz-col [nzSpan]="24" *ngIf="displayBom !== null">
      <div><strong>{{'bill-of-material' | i18n}}</strong></div>
      <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #BOMDetailTable
        [nzData]="displayBom!.billOfMaterialLines" nzSize="middle" [nzShowPagination]="false" nzBordered>
        <thead>
          <tr>
            <th>{{ 'item.name' | i18n}}</th>
            <th>{{ 'quantity' | i18n }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let billOfMaterialLine of BOMDetailTable.data">
            <td>{{ billOfMaterialLine.item?.name }}</td>
            <td>{{ billOfMaterialLine.expectedQuantity }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </form>
</ng-template>


<!-- Modal for add order / line activity  -->
<ng-template #tplBillableActivityModalTitle>
  <span>{{ 'billable-activity' | i18n}}</span>
</ng-template>
<ng-template #tplBillableActivityModalContent>
  
  <h2 nz-row [nzGutter]="24"  >
    <div nz-col [nzSpan]="12">
        {{'order' | i18n}} : {{billableActivityOrder?.number}}
    </div>
    <div nz-col [nzSpan]="12" *ngIf="billableActivityOrderLine">
        {{'order.line' | i18n}} : {{billableActivityOrderLine.number}} - {{billableActivityOrderLine.item?.name}}
    </div>
  </h2>
  <form nz-form [formGroup]="billableActivityForm">
    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7"  >
            {{ 'billable-activity-type' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="17" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}"> 
            <nz-select nz-input formControlName="billableActivityType" style="width: 250px" required>
              <nz-option *ngFor="let billableActivityType of billableActivityTypes"
                [nzLabel]="billableActivityType.description!" [nzValue]="billableActivityType.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div> 
      
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="7"  >
            {{ 'activityTime' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="17" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}"> 
            <nz-date-picker
              nzShowTime
              nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="activityTime" name="activityTime"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div> 
    </div> 
    <div nz-row [nzGutter]="24"> 
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24"  >
            {{ 'rate' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24"  >
            <nz-input-group nzSize="large">
              <nz-input-number   formControlName="rate" (ngModelChange)="recalculateTotalCharge()"  [nzFormatter]="formatterDollar"
              [nzParser]="parserDollar"
                [nzMin]="0" ></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div> 
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24"  >
            {{ 'amount' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" >
            <nz-input-group nzSize="large"> 
              <nz-input-number  formControlName="amount" (ngModelChange)="recalculateTotalCharge()"  [nzMin]="0" ></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div> 
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="8"  >
            {{ 'totalCharge' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="16"   nzErrorTip="{{ 'error.form.field.required' | i18n }}">
            <nz-input-group nzSize="large">
              <nz-input-number nz-input formControlName="totalCharge" [nzFormatter]="formatterDollar"
              [nzParser]="parserDollar" [nzMin]="0" ></nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div> 
    </div>
 
  </form>
</ng-template>

<ng-template #tplBillableActivityModalFooter>
  <button nz-button nzType="default" (click)="closeBillableActivityModal()" [nzLoading]="addActivityInProcess" >{{ 'cancel' |
    i18n}}</button>
  <button nz-button nzType="primary" (click)="confirmBillableActivity()" [nzLoading]="addActivityInProcess" >{{ 'confirm' |
    i18n}}</button>

</ng-template>