<page-header></page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="number" [nzSm]="3" [nzXs]="3">
          {{ 'order.number' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="number" id="number" formControlName="number" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'search' | translate }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | translate }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllOrders" [nzFooter]="tableFoot" #nestedTable
  (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <thead>
      <tr>
        <th rowspan="2" [nzSelections]="listOfSelection"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
        nzWidth="60px"></th>

        <th rowspan="2" nzWidth="40px"></th>
        
        <th
            *ngFor="let column of listOfColumns"
            [nzShowSort]="column.showSort"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"        
            [nzShowFilter]="column.showFilter"
            [rowspan]="column.rowspan"
            [colspan]="column.colspan"
          >
            {{ column.name | translate }}
          </th> 
          
 
        <th rowspan="2">
          {{ 'action' | translate }}
        </th>
      </tr>
      <tr>

        <th>
          {{ 'order.totalPendingAllocationQuantity' | translate }}</th>
        <th>
          {{ 'order.totalOpenPickQuantity' | translate }}</th>
        <th>
          {{ 'order.totalPickedQuantity' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>
          <td
            [nzChecked]="setOfCheckedId.has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, $event)"
          ></td>
          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          
          <td>{{ data.number }}</td>
          <td>{{ 'ORDER-STATUS-' + data.status | translate}}</td>
          <td>
            <div *ngIf="data.shipToCustomer != null">
              <a nz-tooltip [nzTooltipTitle]="shipToCustomerTooltipTpl">
                {{ data.shipToCustomer.name }}
              </a>
              <ng-template #shipToCustomerTooltipTpl>
                <div>{{ data.shipToCustomer.contactoFirstname }} {{ data.shipToCustomer.contactorLastname }}</div>
                <div>
                  {{ data.shipToCustomer.addressLine1 }}
                </div>
                <div *ngIf="data.shipToCustomer.addressLine2 != null">
                  {{ data.shipToCustomer.addressLine2 }}
                </div>
                <div>
                  {{ data.shipToCustomer.addressCity }}, {{ data.shipToCustomer.addressState }}
                  {{ data.shipToCustomer.addressPostcode }}
                </div>
              </ng-template>
            </div>
            <div *ngIf="data.shipToCustomer === null">
              <a nz-tooltip [nzTooltipTitle]="shipToAddressTooltipTpl">
                {{ data.shipTocontactor.firstname }} {{ data.shipTocontactor.lastname }}
              </a>
              <ng-template #shipToAddressTooltipTpl>
                <div>
                  {{ data.shipToAddressLine1 }}
                </div>
                <div *ngIf="data.shipToAddressLine2 != null">
                  {{ data.shipToAddressLine2 }}
                </div>
                <div>
                  {{ data.shipToAddressCity }}, {{ data.shipToAddressState }}
                  {{ data.shipToAddressPostcode }}
                </div>
              </ng-template>
            </div>
          </td>
          <td>
            <div *ngIf="data.billToCustomer != null">
              <a nz-tooltip [nzTooltipTitle]="billToCustomerTooltipTpl">
                {{ data.billToCustomer.name }}
              </a>
              <ng-template #billToCustomerTooltipTpl>
                <div>{{ data.billToCustomer.contactorFirstname }} {{ data.billToCustomer.contactorLastname }}</div>
                <div>
                  {{ data.billToCustomer.addressLine1 }}
                </div>
                <div *ngIf="data.billToCustomer.addressLine2 != null">
                  {{ data.billToCustomer.addressLine2 }}
                </div>
                <div>
                  {{ data.billToCustomer.addressCity }}, {{ data.billToCustomer.addressState }}
                  {{ data.billToCustomer.addressPostcode }}
                </div>
              </ng-template>
            </div>
            <div *ngIf="data.billToCustomer === null">
              <a nz-tooltip [nzTooltipTitle]="billToAddressTooltipTpl">
                {{ data.billTocontactor.firstname }} {{ data.billTocontactor.lastname }}
              </a>
              <ng-template #billToAddressTooltipTpl>
                <div>
                  {{ data.billToAddressLine1 }}
                </div>
                <div *ngIf="data.billToAddressLine2 != null">
                  {{ data.billToAddressLine2 }}
                </div>
                <div>
                  {{ data.billToAddressCity }}, {{ data.billToAddressState }}
                  {{ data.billToAddressPostcode }}
                </div>
              </ng-template>
            </div>
          </td>
          <td>{{ data.totalItemCount }}</td>
          <td>{{ data.totalExpectedQuantity }}</td>
          <td>{{ data.totalOpenQuantity }}</td>
          <td>{{ data.totalPendingAllocationQuantity }}</td>
          <td>{{ data.totalOpenPickQuantity }}</td>
          <td>{{ data.totalPickedQuantity }}</td>
          <td>{{ data.totalShippedQuantity }}</td>
          <td>
            <button nz-button nzType="primary" (click)="allocateOrder(data)"
              [nzLoading]="mapOfAllocationInProcessId[data.id]" [disabled]="!isOrderAllocatable(data)">
              {{ 'allocate' | translate }}
            </button>

            <nz-divider nzType="vertical"></nz-divider>

            <button nz-button nzType="primary" (click)="completeOrder(data)"
              [nzLoading]="mapOfAllocationInProcessId[data.id]" [disabled]="!isOrderReadyForComplete(data)">
              {{ 'complete' | translate }}
            </button>
            <!--

            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nz-dropdown [nzDropdownMenu]="shippingOrderTpl"
              [nzDisabled]="data.totalInprocessQuantity == 0">
              {{ 'shipping' | translate }}
              <i nz-icon nzType="down"></i>
            </button>
            <nz-dropdown-menu #shippingOrderTpl="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item [nzDisabled]="!isReadyForStaging(data)">
                  <a (click)="stageOrder(data)">{{ 'order.stage' | translate }}</a>
                </li>
                <li nz-menu-item [nzDisabled]="!isReadyForLoading(data)">
                  <a (click)="loadTrailer(data)">{{ 'order.load-trailer' | translate }}</a>
                </li>
                <li nz-menu-item [nzDisabled]="!isReadyForDispatching(data)">
                  <a (click)="dispatchTrailer(data)">{{
                    'order.dispatch-trailer' | translate
                  }}</a>
                </li>
              </ul>
            </nz-dropdown-menu>


            -->
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.id)" class="inner-table">
           
            <nz-tabset [nzSelectedIndex]="tabSelectedIndex">
              <nz-tab nzTitle=" {{ 'order.line' | translate }}">
                <nz-table #innerTable [nzData]="data.orderLines" nzSize="middle" [nzShowPagination]="false">
                  <thead>
                    <th>
                      {{ 'order.line.number' | translate }}
                    </th>
                    <th>
                      {{ 'item' | translate }}
                    </th>
                    <th>
                      {{ 'order.line.expectedQuantity' | translate }}
                    </th>
                    <th>
                      {{ 'order.line.openQuantity' | translate }}
                    </th>
                    <th>
                      {{ 'order.line.inprocessQuantity' | translate }}
                    </th>
                    <th>
                      {{ 'production-plan.line.inprocessQuantity' | translate }}
                    </th>
                    <th>
                      {{ 'production-plan.line.producedQuantity' | translate }}
                    </th>
                    <th>
                      {{ 'order.line.shippedQuantity' | translate }}
                    </th>
                    <th>
                      {{ 'inventory.status' | translate }}
                    </th>
                    <th>
                      {{ 'order.line.allocationStrategyType' | translate }}
                    </th>
                  </thead>
    <tbody>
      <tr *ngFor="let orderLine of data.orderLines">
        <td>{{ orderLine.number }}</td>
        <td>{{ orderLine.item.name }}</td>
        <td>{{ orderLine.expectedQuantity }}</td>
        <td>{{ orderLine.openQuantity }}</td>
        <td>{{ orderLine.inprocessQuantity }}</td>
        <td>{{ orderLine.productionPlanInprocessQuantity }}</td>
        <td>{{ orderLine.productionPlanProducedQuantity }}</td>
        <td>{{ orderLine.shippedQuantity }}</td>
        <td>{{ 'INVENTORY-STATUS-' + orderLine.inventoryStatus.name | translate}}</td>
        <td>{{ 'ALLOCATION-STRATEGY-TYPE-' + orderLine.allocationStrategyType | translate}}</td>
      </tr>
    </tbody>
  </nz-table>
  </nz-tab>

  <nz-tab nzTitle=" {{ 'pick' | translate }}">
    <nz-table nzSize="middle" [nzShowPagination]="false" [nzFooter]="pickTableFoot" [nzData]="mapOfPicks[data.id]">
      <thead>
        <th>
          {{ 'pick.number' | translate }}
        </th>
        <th>
          {{ 'list-pick.number' | translate }}
        </th>
        <th>
          {{ 'cartonization.number' | translate }}
        </th>
        <th>
          {{ 'sourceLocation' | translate }}
        </th>
        <th>
          {{ 'destinationLocation' | translate }}
        </th>
        <th>
          {{ 'item' | translate }}
        </th>
        <th>
          {{ 'item.description' | translate }}
        </th>
        <th>
          {{ 'pick.quantity' | translate }}
        </th>
        <th>
          {{ 'pick.pickedQuantity' | translate }}
        </th>
        <th>
          {{ 'pick.allocated-lpn' | translate }}
        </th>
        <th>
          {{ 'action' | translate }}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let pick of mapOfPicks[data.id]">
          <td>{{ pick.number }}</td>
          <td><a routerLink="/outbound/pick-list" routerLinkActive="active"
              [queryParams]="{number : pick.pickListNumber}">{{ pick.pickListNumber }}</a></td>
          <td><a routerLink="/outbound/cartonization" routerLinkActive="active"
              [queryParams]="{number : pick.cartonizationNumber}">{{ pick.cartonizationNumber }}</a></td>
          <td>{{ pick.sourceLocation?.name }}</td>
          <td>{{ pick.destinationLocation?.name }}</td>
          <td>{{ pick.item?.name }}</td>
          <td>{{ pick.item?.description }}</td>
          <td>{{ pick.quantity }}</td>
          <td>{{ pick.pickedQuantity }}</td>
          <td>{{ pick.lpn }}</td>
          <td>
            <button nz-button (click)="cancelPick(data, pick)"
              [disabled]="pick.quantity === pick.pickedQuantity || data.status === orderStatusEnum.COMPLETE">
              {{ 'cancel' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #pickTableFoot>
      <div nz-row nzType="flex" nzJustify="start">
        <button nz-button nzType="primary" (click)="printPickSheets(data)"
          [nzLoading]="mapOfPrintingInProcessId[data.id]" [disabled]="mapOfPicks[data.id]?.length === 0">
          {{ 'print' | translate }}
        </button>
        <button nz-button (click)="confirmPicks(data)"
          [disabled]="mapOfPicks[data.id]?.length === 0 || data.status === orderStatusEnum.COMPLETE">
          {{ 'confirm' | translate }}
        </button>
      </div>
    </ng-template>
  </nz-tab>

  <nz-tab nzTitle=" {{ 'picked-inventory' | translate }}">
    <nz-table nzSize="middle" [nzShowPagination]="false" [nzData]="mapOfPickedInventory[data.id]">
      <thead>
        <th>
          {{ 'pick.number' | translate }}
        </th>
        <th>
          {{ 'location' | translate }}
        </th>
        <th>
          {{ 'lpn' | translate }}
        </th>
        <th>
          {{ 'item' | translate }}
        </th>
        <th>
          {{ 'item.description' | translate }}
        </th>
        <th>
          {{ 'item.package-type' | translate }}
        </th>
        <th>
          {{ 'quantity' | translate }}
        </th>
        <th>
          {{ 'inventory.status' | translate }}
        </th>
        <th>
          {{ 'action' | translate }}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of mapOfPickedInventory[data.id]">
          <td>{{ inventory.pick?.number }}</td>
          <td>{{ inventory.location?.name }}</td>
          <td>{{ inventory.lpn }}</td>
          <td>{{ inventory.item?.name }}</td>
          <td>{{ inventory.item?.description }}</td>
          <td>{{ inventory.itemPackageType?.name }}</td>
          <td>{{ inventory.quantity }}</td>
          <td>{{ inventory.pickedQuantity }}</td>
          <td>
            <button nz-button (click)="openUnpickModal(data, inventory, tplUnpickModalTitle, tplUnpickModalContent)"
              [disabled]="data.status === orderStatusEnum.COMPLETE">
              {{ 'unpick' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>

  <nz-tab nzTitle=" {{ 'short-allocation' | translate }}">
    <nz-table [nzData]="mapOfShortAllocations[data.id]" nzSize="middle" [nzShowPagination]="false">
      <thead>
        <th>
          {{ 'item' | translate }}
        </th>
        <th>
          {{ 'item.description' | translate }}
        </th>
        <th>
          {{ 'short-allocation.quantity' | translate }}
        </th>
        <th>
          {{ 'short-allocation.openQuantity' | translate }}
        </th>
        <th>
          {{ 'short-allocation.inprocessQuantity' | translate }}
        </th>
        <th>
          {{ 'short-allocation.deliveredQuantity' | translate }}
        </th>
        <th>
          {{ 'short-allocation.status' | translate }}
        </th>
        <th>
          {{ 'short-allocation.allocationCount' | translate }}
        </th>
        <th>
          {{ 'short-allocation.lastAllocationDatetime' | translate }}
        </th>
        <th>
          {{ 'action' | translate }}
        </th>
      </thead>
      <tbody *ngFor="let shortAllocation of mapOfShortAllocations[data.id]">
        <tr *ngIf="shortAllocation.status !== shortAllocationStatus.CANCELLED">

          <td>{{ shortAllocation.item?.name }}</td>
          <td>{{ shortAllocation.item?.description }}</td>
          <td>{{ shortAllocation.quantity }}</td>
          <td>{{ shortAllocation.openQuantity }}</td>
          <td><a routerLink="/outbound/pick" routerLinkActive="active"
              [queryParams]="{shortAllocationId : shortAllocation.id}">
              {{ shortAllocation.inprocessQuantity }}
            </a></td>
          <td>{{ shortAllocation.deliveredQuantity }}</td>
          <td>{{ 'SHORT-ALLOCATION-STATUS-' +shortAllocation.status | translate}}</td>
          <td>{{ shortAllocation.allocationCount }}</td>

          <td>
            <span *ngIf="shortAllocation.lastAllocationDatetime">
              {{ shortAllocation.lastAllocationDatetime[1] }}/{{ shortAllocation.lastAllocationDatetime[2] }}/{{ shortAllocation.lastAllocationDatetime[0] }}
              {{ shortAllocation.lastAllocationDatetime[3] }}:{{ shortAllocation.lastAllocationDatetime[4] }}:{{ shortAllocation.lastAllocationDatetime[5] }}
            </span>
          </td>
          <td>
            <button nz-button (click)="cancelShortAllocation(data,shortAllocation)"
              [disabled]="shortAllocation.status !== shortAllocationStatus.PENDING || data.status === orderStatusEnum.COMPLETE">
              {{ 'cancel' | translate }}
            </button>

            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button (click)="allocateShortAllocation(data, shortAllocation)"
              [disabled]="!isShortAllocationAllocatable(shortAllocation) || data.status === orderStatusEnum.COMPLETE">
              {{ 'allocate' | translate }}
            </button>

          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  </nz-tabset>
   
  </tr>
  </ng-template>
  </tbody>
  </nz-table>

  <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;">
    <button nz-button nzType="danger" (click)="cancelSelectedOrders()">
      {{ 'cancel' | translate }}
    </button>
    <button nz-button nzType="primary" routerLink="/outbound/order-maintenance" routerLinkActive="active">
      {{ 'add' | translate }}
    </button>
  </div>
</div>

<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
    {{searchResult}}
  </div>
</ng-template>



<!-- Modal for unpick -->
<ng-template #tplUnpickModalTitle>
  <span>{{ 'page.modal.unpick' | translate}}</span>
</ng-template>

<ng-template #tplUnpickModalContent>
  <form nz-form [formGroup]="unpickForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lpn">
            {{ 'lpn' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="lpn" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemNumber">
            {{ 'item' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemNumber" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemDescription">
            {{ 'item.description' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemDescription" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'inventory.status' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="inventoryStatus" />

          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="itemPackageType">
            {{ 'item.package-type' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">

            <input nz-input formControlName="itemPackageType" />

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quantity">
            {{ 'quantity' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="quantity" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">


      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="locationName">
            {{ 'location' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="locationName" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="destinationLocation">
            {{ 'unpick.destination-location' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="destinationLocation" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox formControlName="immediateMove">
              <span>{{ 'unpick.immediately-putaway' | translate}}</span>
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
  </form>
</ng-template>
