<page-header></page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="number" [nzSm]="3" [nzXs]="3">
          {{ 'description.field.label.order.number' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="number" id="number" formControlName="number" />
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'description.field.button.search' | translate }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'description.field.button.clear' | translate }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">

  <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllTrailers" [nzFooter]="tableFoot" #rowSelectionTable>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>

        <th nzShowSort nzSortKey="id">{{ 'description.field.table.header.id' | translate }}</th>
        <th nzShowSort nzSortKey="number">
          {{ 'description.field.label.trailer.number' | translate }}
        </th>
        <th nzShowSort nzSortKey="status">
          {{ 'description.field.label.trailer.status' | translate }}
        </th>
        <th nzShowSort nzSortKey="carrier">
          {{ 'description.field.label.carrier' | translate }}
        </th>
        <th nzShowSort nzSortKey="carrierServiceLevel">
          {{ 'description.field.label.carrier.serviceLevel' | translate }}
        </th>
        <th>
          {{ 'description.field.label.trailer.driverFirstName' | translate }}
        </th>
        <th>
          {{ 'description.field.label.trailer.driverLastName' | translate }}
        </th>
        <th>
          {{ 'description.field.label.trailer.licensePlateNumber' | translate }}
        </th>
        <th>
          {{ 'description.field.label.trailer.size' | translate }}
        </th>
        <th>
          {{ 'description.field.label.trailer.type' | translate }}
        </th>
        <th>
          {{ 'description.field.label.trailer.location' | translate }}
        </th>
        <th>
          {{ 'description.field.label.action' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>


        <td>{{ data.id }}</td>
        <td>{{ data.number }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.carrier?.name }}</td>
        <td>{{ data.carrierServiceLevel?.name }}</td>

        <td>{{ data.driverFirstName }}</td>
        <td>{{ data.driverLastName }}</td>
        <td>{{ data.driverPhone }}</td>
        <td>{{ data.licensePlateNumber }}</td>
        <td>{{ data.size }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.location?.name }}</td>
        <td>

          <button nz-button (click)="checkInTrailer(data)">
            {{ 'description.field.button.trailer.checkin' | translate }}
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary" (click)="dispatchTrailer(data)">
            {{ 'description.field.button.trailer.dispatch' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <button nz-button nzType="danger" (click)="cancelSelectedTrailers()">
      {{ 'description.field.button.cancel' | translate }}
    </button>
  </div>
</ng-template>
