<page-header title="{{'stop' |  i18n}}" ></page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <!-- Form to query the result  -->
    <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item nzFlex>
            <nz-form-label for="number" [nzSpan]="8">
              {{ 'number' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
              <input nz-input name="number" id="number" formControlName="number" />
            </nz-form-control>
          </nz-form-item>
        </div>
         
         
      </div>  
      
      <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
          <button nz-button [nzType]="'primary'" (click)="search()">
            {{ 'search' | i18n }}
          </button>
          <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
        </div>
      </div>
    </form>
  
    <!-- Table to Display the result  -->
  
    <div class="search-result-list"> 
      
      <st #st [data]="listOfAllStops" [columns]="columns"   
      [expand]="expand"   expandAccordion (change)="stopTableChanged($event)">
      
        <!--   shipment details  -->
        <ng-template #expand let-item let-index="index" >
          
          <nz-tabset  > 
            <nz-tab nzTitle=" {{ 'shipment' | i18n }}"  >
              <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #innerTable [nzData]="item.shipments" nzSize="middle"
                [nzShowPagination]="false" #shipmentTable>
                <thead>
                  <th>
                    {{ 'shipment.number' | i18n }}
                  </th>
                  <th>
                    {{ 'shipment.status' | i18n }}
                  </th>
                  <th>
                    {{ 'carrier' | i18n }}
                  </th>
                  <th>
                    {{ 'carrier.serviceLevel' | i18n }}
                  </th>
                  <th>
                    {{ 'shipment.totalLineCount' | i18n }}
                  </th>
                  <th>
                    {{ 'shipment.totalItemCount' | i18n }}
                  </th>
                  <th>
                    {{ 'shipment.totalQuantity' | i18n }}
                  </th>
                  <th>
                    {{ 'shipment.totalOpenQuantity' | i18n }}
                  </th>
                  <th>
                    {{ 'shipment.totalInprocessQuantity' | i18n }}
                  </th>
                  <th>
                    {{ 'shipment.totalLoadedQuantity' | i18n }}
                  </th>
                  <th>
                    {{ 'shipment.totalShippedQuantity' | i18n }}
                  </th>
                   
                </thead>
                <tbody>
                  <tr *ngFor="let shipment of shipmentTable.data">
                      
                        <td>
                            <a routerLink="/outbound/shipment" routerLinkActive="active"
                              [queryParams]="{number : shipment.number }">
                            {{ shipment.number }} </a></td>
                        <td>{{ 'SHIPMENT-STATUS-' + shipment.status | i18n }}</td>
                        <td>{{ shipment.carrier?.name }}</td>
                        <td>{{ shipment.carrierServiceLevel?.name }}</td>
                        <td>{{ shipment.totalLineCount }}</td>
                        <td>{{ shipment.totalItemCount }}</td>
                        <td>{{ shipment.totalQuantity }}</td>
                        <td>{{ shipment.totalOpenQuantity }}</td>
                        <td>{{ shipment.totalInprocessQuantity }}</td>
                        <td>{{ shipment.totalLoadedQuantity }}</td>
                        <td>{{ shipment.totalShippedQuantity }}</td>
           
                  </tr>
                </tbody>
              </nz-table>
            </nz-tab> 
          </nz-tabset>
        </ng-template>
  
  
        <!--   action colummn  -->  
        <ng-template st-row="actionColumn" let-item let-index="index"> 
          
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary">
            {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu> 
  
              <li nz-menu-item *ngIf="isStopReadForAllocate(item)">
                <a  (click)="allocateStop(item)">{{ 'allocate' | i18n }}</a>
              </li> 
              <li nz-menu-item *ngIf="isStopReadForComplete(item)">
                <a  (click)="completeStop(item)">{{ 'complete' | i18n }}</a>
              </li> 
            </ul>
          </nz-dropdown-menu>
        </ng-template>
           
      </st>
      
      @if(searchResult != '') {

        <div nz-row nzType="flex" nzJustify="start">
          {{searchResult}}
        </div>
      }
    </div> 
  </nz-spin>
   
  