<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/auth/user" routerLinkActive="active">{{
    'description.field.link.return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'description.field.breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.auth' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/auth/user" routerLinkActive="active">{{
        'description.field.breadcrumb.user' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>


<nz-card [nzActions]="[cardFoot]">

  <div nz-row style="padding: 10px" *ngIf="newUser">
    <div nz-col nzSpan="12" nzOffset="6">
      <nz-steps [nzCurrent]="1" [nzSize]="'default'" (nzIndexChange)="onStepsIndexChange($event)">
        <nz-step nzTitle="{{ 'description.steps.basic-info.title' | translate }}"
          nzDescription="{{ 'description.steps.role.basic-info.description' | translate }}">
        </nz-step>
        <nz-step nzTitle="{{ 'description.steps.role.assign-roles.title' | translate }}"
          nzDescription="{{ 'description.steps.role.assign-roles.description' | translate }}">
        </nz-step>

        <nz-step nzTitle="{{ 'description.steps.confirm.title' | translate }}"
          nzDescription="{{ 'description.steps.confirm.description' | translate }}">
        </nz-step>
      </nz-steps>
    </div>
  </div>

  <div nz-row style="padding: 10px">
    <div nz-col nzSpan="12" nzOffset="6">

      <nz-transfer [nzDataSource]="roleList" nzShowSearch [nzFilterOption]="transferListFilterOption"
        (nzSearchChange)="transferListSearch($event)" (nzSelectChange)="transferListSelect($event)"
        (nzChange)="transferListChange($event)" [nzListStyle]="{ 'width.px': 350, 'height.px': 500 }"
        [nzTitles]="[ unassignedRoleText, assignedRoleText]">
      </nz-transfer>
    </div>
  </div>
</nz-card>

<ng-template #cardFoot>
  <div nz-row nzType="flex" nzJustify="center" *ngIf="!newUser">
    <button nz-button nzType="primary" (click)="assignRole()" [nzLoading]="processingRole">
      {{ 'description.field.button.confirm' | translate }}
    </button>
  </div>
  <div nz-row nzType="flex" nzJustify="center" *ngIf="newUser">
    <button nz-button nzType="primary" (click)="goToNextPage()">
      {{ 'description.steps.next' | translate }} :
      {{ 'description.steps.confirm.title' | translate }}
    </button>
  </div>
</ng-template>
