<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a (click)="return()" routerLinkActive="active">{{
    'return' | i18n
    }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.auth' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/auth/role" routerLinkActive="active">{{
        'breadcrumb.role' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>


<nz-card [nzActions]="[cardFoot]" [nzTitle]="cardTitle">

  <div nz-row style="padding: 10px" *ngIf="newRole">
    <div nz-col nzSpan="20" nzOffset="2">
      <nz-steps [nzCurrent]="2" [nzSize]="'default'" (nzIndexChange)="onStepsIndexChange($event)">
        <nz-step nzTitle="{{ 'steps.basic-info.title' | i18n }}"
          nzDescription="{{ 'steps.role.basic-info.description' | i18n }}">
        </nz-step>
        <nz-step nzTitle="{{ 'steps.role.assign-users.title' | i18n }}"
          nzDescription="{{ 'steps.role.assign-users.description' | i18n }}">
        </nz-step>
        <nz-step nzTitle="{{ 'steps.role.assign-menus.title' | i18n }}"
          nzDescription="{{ 'steps.role.assign-menus.description' | i18n }}" [nzDisabled]="true">
        </nz-step>
        <nz-step nzTitle="{{ 'steps.role.assign-clients.title' | i18n }}"
          nzDescription="{{ 'steps.role.assign-clients.description' | i18n }}">
        </nz-step>
        <nz-step nzTitle="{{ 'steps.confirm.title' | i18n }}" nzDescription="{{ 'steps.confirm.description' | i18n }}"
          [nzDisabled]="true">
        </nz-step>
      </nz-steps>
    </div>
  </div>

  <nz-card nzTitle="{{ 'web' | i18n}}">
    <div nz-row style="padding: 10px">
      <div nz-col nzSpan="12" nzOffset="6">
        <nz-transfer [nzDataSource]="webMenuList" nzShowSearch [nzFilterOption]="transferListFilterOption"
          (nzSearchChange)="transferListSearch($event)" (nzSelectChange)="transferListSelect($event)"
          (nzChange)="transferListChange($event)" [nzListStyle]="{ 'width.px': 350, 'height.px': 400 }"
          [nzTitles]="[ unassignedMenuText, assignedMenuText]" [nzRender]="render">

          
          <ng-template #render let-menu> 
            {{ menu.title }} 
            <nz-switch *ngIf="menu.direction == 'right'" style="padding-left: 10px"
            [(ngModel)]="menu.displayOnly" nzCheckedChildren="{{'displayOnly'|i18n}}" nzUnCheckedChildren="{{'displayOnly'|i18n}}"></nz-switch>
      
          </ng-template>

        </nz-transfer>
      </div>
    </div>
  </nz-card>
  <nz-card nzTitle="{{ 'mobile' | i18n}}">
      <div nz-row style="padding: 10px">
        <div nz-col nzSpan="12" nzOffset="6">
          <nz-transfer [nzDataSource]="mobileMenuList" nzShowSearch [nzFilterOption]="transferListFilterOption"
            (nzSearchChange)="transferListSearch($event)" (nzSelectChange)="transferListSelect($event)"
            (nzChange)="transferListChange($event)" [nzListStyle]="{ 'width.px': 350, 'height.px': 400 }"
            [nzTitles]="[ unassignedMenuText, assignedMenuText]">
          </nz-transfer>
        </div>
      </div>
  </nz-card>
  
</nz-card>


<ng-template #cardTitle>
  <h4>{{ 'role.name' | i18n}} : {{ currentRole?.name}}</h4>
</ng-template>
<ng-template #cardFoot>
  <div nz-row nzType="flex" nzJustify="center" *ngIf="!newRole">
    <button nz-button nzType="primary" (click)="assignMenu()" [nzLoading]="processingMenu">
      {{ 'confirm' | i18n }}
    </button>
  </div>
  <div nz-row nzType="flex" nzJustify="center" *ngIf="newRole">
    <button nz-button nzType="primary" (click)="goToNextPage()">
      {{ 'steps.next' | i18n }} :
      {{ 'steps.confirm.title' | i18n }}
    </button>
  </div>
</ng-template>