<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/inventory/count/cycle-count" routerLinkActive="active">{{
    'description.field.link.return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'description.field.breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.inventory' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/inventory/count/cycle-count" routerLinkActive="active">{{
        'description.field.breadcrumb.cycle-count' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-card [nzActions]="[cardFoot]">
  <form nz-form [formGroup]="requestForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="batchId">
            {{ 'cycle-count.batchId' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <input appFkey variable="cycle-count-batch-id" nz-input formControlName="batchId" id="batchId"
              name="batchId" required (blur)="batchIdOnBlur($event.target.value)" />
          </nz-form-control>

        </nz-form-item>
      </div>
      <!--
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <label nz-checkbox formControlName="autoGenerateId" (ngModelChange)="generateBatchId($event)">
            {{ 'number.auto' | translate }}</label>
        </nz-form-item>
      </div>
    -->
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="requestType">
            {{ 'cycle-count.request-type' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <nz-select #requestTypeSelect formControlName="requestType" name="requestType"
              (ngModelChange)="requestTypeChange($event)">
              <nz-option *ngFor="let type of availableRequestType | keyvalue" nzValue="{{type.key}}"
                nzLabel="{{'CYCLE-COUNT-REQUEST-TYPE-' + type.value | translate}}">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24" *ngIf='requestTypeSelect.value'>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="startValue" [ngSwitch]="requestTypeSelect.value">
            <span *ngSwitchCase="'BY_LOCATION_RANGE'">
              {{ 'cycle-count-request.start-location' | translate }}</span>
            <span *ngSwitchCase="'BY_ITEM_RANGE'">
              {{ 'cycle-count-request.start-item' | translate }}</span>
            <span *ngSwitchCase="'BY_AISLE_RANGE'">
              {{ 'cycle-count-request.start-aisle' | translate }}</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <input nz-input formControlName="startValue" id="startValue" name="startValue" required />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="endValue" [ngSwitch]="requestTypeSelect.value">
            <span *ngSwitchCase="'BY_LOCATION_RANGE'">
              {{ 'cycle-count-request.end-location' | translate }}</span>
            <span *ngSwitchCase="'BY_ITEM_RANGE'">
              {{ 'cycle-count-request.end-item' | translate }}</span>
            <span *ngSwitchCase="'BY_AISLE_RANGE'">
              {{ 'cycle-count-request.end-aisle' | translate }}</span>

          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <input nz-input formControlName="endValue" id="endValue" name="endValue" required />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8"
        *ngIf='requestTypeSelect.value === "BY_LOCATION_RANGE" || requestTypeSelect.value === "BY_AISLE_RANGE"'>
        <nz-form-item nzFlex>
          <label nz-checkbox formControlName="includeEmptyLocation">
            {{ 'cycle-count-request.include-empty-location' | translate }}</label>
        </nz-form-item>
      </div>
    </div>

  </form>

</nz-card>

<ng-template #cardFoot>
  <div nz-row nzType="flex" nzJustify="left" style='padding-left: 20px;'>
    <button nz-button nzType="primary" (click)="generateCountRequest()" [disabled]="!requestForm.valid">
      {{ 'confirm' | translate }}
    </button>
  </div>
</ng-template>

<nz-tabset>
  <nz-tab nzTitle="{{ 'cycle-count-request.open' | translate}}">
    <!-- Table to Display the result  -->
    <div>
      <nz-table nzShowPagination [nzData]="listOfAllOpenCycleCountRequests"
        (nzCurrentPageDataChange)="openCycleCountCurrentPageDataChange($event)" [nzFooter]="openCycleCountTableFoot"
        #openCycleCountTable>
        <thead (nzSortChange)="sortOpenCycleCountRequestTable($event)" nzSingleSort>
          <tr>
            <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="openCycleCountTableAllChecked"
              [nzIndeterminate]="openCycleCountTableIndeterminate"
              (nzCheckedChange)="openCycleCountTableCheckAll($event)"></th>
            <th nzShowSort nzSortKey="id">id</th>
            <th nzShowSort nzSortKey="batchId">
              {{ 'cycle-count.batchId' | translate }}
            </th>
            <th nzShowSort nzSortKey="location">
              {{'location' | translate}}</th>
            <th>{{ 'action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of openCycleCountTable.data">
            <td nzShowCheckbox [(nzChecked)]="openCycleCountTableMapOfCheckedId[data.id]"
              (nzCheckedChange)="openCycleCountTableRefreshStatus()"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.batchId }}</td>
            <td>{{ data.location?.name }}</td>
            <td>
              <button nz-button
                (click)="openCountResultModal(data, tplCycleCountRequestConfirmModalTitle, tplCycleCountRequestConfirmModalContent)"
                nzType="primary">{{ 'cycle-count.complete' | translate }}</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #openCycleCountTableFoot>
      <div nz-row nzType="flex" nzJustify="left" style='padding-left: 10px;'>
        <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="confirmSelectionTpl">
          {{ 'confirm' | translate }}<i nz-icon nzType="down"></i>
        </button>
        <button nz-button nz-dropdown [nzDropdownMenu]="printSelectionTpl" [nzLoading]="printingCycleCountRequest">
          {{ 'print' | translate }}<i nz-icon nzType="down"></i>
        </button>
        <button nz-button nzType="danger" (click)="cancelSelectedCycleCounts()">
          {{ 'cancel' | translate }}
        </button>
        <nz-dropdown-menu #printSelectionTpl="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="printSelectedCycleCounts()">{{ 'printSelected' | translate }}</a>
            </li>
            <li nz-menu-item>
              <a (click)="printAllCycleCounts()">{{ 'printAll' | translate }}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
        <nz-dropdown-menu #confirmSelectionTpl="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="confirmSelectedCycleCounts()">{{ 'confirmSelected' | translate }}</a>
            </li>
            <li nz-menu-item>
              <a (click)="confirmAllCycleCounts()">{{ 'confirmAll' | translate }}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </ng-template>

  </nz-tab>

  <nz-tab nzTitle="{{ 'cycle-count-request.finished' | translate}}">

    <!-- Table to Display the result  -->
    <div class="search-result-list">
      <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllCycleCountResults"
        (nzCurrentPageDataChange)="cycleCountResultPageDataChange($event)" #cycleCountResultTable>
        <thead (nzSortChange)="sortCycleCountResultTable($event)" nzSingleSort>
          <tr>
            <th nzShowSort nzSortKey="id">id</th>
            <th nzShowSort nzSortKey="batchId">
              {{ 'cycle-count.batchId' | translate }}
            </th>
            <th nzShowSort nzSortKey="location">
              {{'location' | translate}}</th>
            <th>
              {{'item' | translate}}</th>
            <th>
              {{'item.description' | translate}}</th>
            <th>
              {{'quantity' | translate}}</th>
            <th>
              {{'count-quantity' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of cycleCountResultTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.batchId }}</td>
            <td>{{ data.location?.name }}</td>
            <td>{{ data.item?.name }}</td>
            <td>{{ data.item?.description }}</td>
            <td>{{ data.quantity }}</td>
            <td>{{ data.countQuantity }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </nz-tab>

  <nz-tab nzTitle="{{ 'cycle-count-request.cancelled' | translate}}">

    <!-- Table to Display the result  -->
    <div class="search-result-list">
      <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllCancelledCycleCountRequests"
        (nzCurrentPageDataChange)="cancelledCycleCountCurrentPageDataChange($event)"
        [nzFooter]="cancelledCycleCountTableFoot" #cancelledCycleCountTable>
        <thead (nzSortChange)="sortCancelledCycleCountRequestTable($event)" nzSingleSort>
          <tr>
            <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="cancelledCycleCountTableAllChecked"
              [nzIndeterminate]="cancelledCycleCountTableIndeterminate"
              (nzCheckedChange)="cancelledCycleCountTableCheckAll($event)"></th>
            <th nzShowSort nzSortKey="id">id</th>
            <th nzShowSort nzSortKey="batchId">
              {{ 'cycle-count.batchId' | translate }}
            </th>
            <th nzShowSort nzSortKey="location">
              {{'location' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of cancelledCycleCountTable.data">
            <td nzShowCheckbox [(nzChecked)]="cancelledCycleCountTableMapOfCheckedId[data.id]"
              (nzCheckedChange)="cancelledCycleCountTableRefreshStatus()"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.batchId }}</td>
            <td>{{ data.location?.name }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #cancelledCycleCountTableFoot>
      <div nz-row nzType="flex" nzJustify="left" style='padding-left: 10px;'>
        <button nz-button nzType="primary" (click)="reopenCancelledCycleCountRequest()">
          {{ 'cycle-count-request.reopen' | translate }}
        </button>
      </div>
    </ng-template>
  </nz-tab>

  <nz-tab nzTitle="{{ 'audit-count-request' | translate}}">

    <!-- Table to Display the result  -->
    <div class="search-result-list">
      <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllOpenAuditCountRequests"
        (nzCurrentPageDataChange)="openAuditCountCurrentPageDataChange($event)" [nzFooter]="openAuditCountTableFoot"
        #openAuditCountTable>
        <thead (nzSortChange)="sortOpenAuditCountRequestTable($event)" nzSingleSort>
          <tr>
            <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="openAuditCountTableAllChecked"
              [nzIndeterminate]="openAuditCountTableIndeterminate"
              (nzCheckedChange)="openAuditCountTableCheckAll($event)"></th>
            <th nzShowSort nzSortKey="id">id</th>
            <th nzShowSort nzSortKey="batchId">
              {{ 'cycle-count.batchId' | translate }}
            </th>
            <th nzShowSort nzSortKey="location">
              {{'location' | translate}}</th>
            <th>{{ 'action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of openAuditCountTable.data">
            <td nzShowCheckbox [(nzChecked)]="openAuditCountTableMapOfCheckedId[data.id]"
              (nzCheckedChange)="openAuditCountTableRefreshStatus()"></td>
            <td>{{ data.id }}</td>
            <td>{{ data.batchId }}</td>
            <td>{{ data.location?.name }}</td>
            <td>
              <a nz-button nzType="primary" routerLink="/inventory/count/audit-count-result" routerLinkActive="active"
                [queryParams]="{batchId : data.batchId, locationId: data.location?.id}">
                {{ 'cycle-count.complete' | translate }}</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #openAuditCountTableFoot>
      <div nz-row nzType="flex" nzJustify="left" style='padding-left: 10px;'>
        <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="confirmSelectedAuditCountTpl">
          {{ 'confirm' | translate }}<i nz-icon nzType="down"></i>
        </button>
        <button nz-button nz-dropdown [nzDropdownMenu]="printSelectedAuditCountTpl">
          {{ 'print' | translate }}<i nz-icon nzType="down"></i>
        </button>

        <nz-dropdown-menu #printSelectedAuditCountTpl="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="printSelectedAuditCounts()">{{ 'printSelected' | translate }}</a>
            </li>
            <li nz-menu-item>
              <a (click)="printAllAuditCounts()">{{ 'printAll' | translate }}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
        <nz-dropdown-menu #confirmSelectedAuditCountTpl="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="confirmSelectedAuditCounts()">{{ 'confirmSelected' | translate }}</a>
            </li>
            <li nz-menu-item>
              <a (click)="confirmAllAuditCounts()">{{ 'confirmAll' | translate }}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </ng-template>


  </nz-tab>

  <nz-tab nzTitle="{{ 'audit-count-result' | translate}}">

    <!-- Table to Display the result  -->
    <div class="search-result-list">
      <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllAuditCountResults"
        (nzCurrentPageDataChange)="auditCountResultsCurrentPageDataChange($event)" #auditCountResultsTable>
        <thead (nzSortChange)="sortAuditCountResultsTable($event)" nzSingleSort>
          <tr>
            <th nzShowSort nzSortKey="id">id</th>
            <th nzShowSort nzSortKey="batchId">
              {{ 'cycle-count.batchId' | translate }}
            </th>
            <th nzShowSort nzSortKey="location">
              {{'location' | translate}}</th>
            <th>
              {{'lpn' | translate}}</th>
            <th>
              {{'item' | translate}}</th>
            <th>
              {{'item.description' | translate}}</th>
            <th>
              {{'quantity' | translate}}</th>
            <th>
              {{'count-quantity' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of auditCountResultsTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.batchId }}</td>
            <td>{{ data.location?.name }}</td>
            <td>{{ data.inventory?.lpn }}</td>
            <td>{{ data.inventory?.item.name }}</td>
            <td>{{ data.inventory?.item.description }}</td>
            <td>{{ data.quantity }}</td>
            <td>{{ data.countQuantity }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>


  </nz-tab>

</nz-tabset>




<!-- Modal for confirm cycle count result -->
<ng-template #tplCycleCountRequestConfirmModalTitle>
  <span>{{ 'page.modal.cycle-count.confirm.title' | translate}}</span>
</ng-template>
<ng-template #tplCycleCountRequestConfirmModalContent>
  <form>
    <nz-table [nzData]="inventoriesToBeCount" #inventoriesTable nzShowPagination="false">
      <thead>
        <tr>
          <th>{{ 'location' | translate}}</th>
          <th>{{ 'item' | translate}}</th>
          <th>{{ 'item.description' | translate}}</th>
          <th>{{ 'quantity' | translate}}</th>
          <th>{{ 'count-quantity' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of inventoriesTable.data; let i = index">
          <td>{{ data.location?.name }}</td>
          <td>
            <input *ngIf="data.item != null" type="text" [ngModel]="data.item?.name"
              (blur)="countResultItemNameBlur($event.target.value, data)" name="itemName-{{i}}">
          </td>
          <td>{{ data.item?.description }}</td>
          <td>{{ data.quantity }}</td>
          <td><input type="text" [(ngModel)]="data.countQuantity" name='result-{{i}}'></td>
          <td>
            <button *ngIf="data.item !== null" nz-button nzType="primary" (click)="removeCountedInventory(i)">
              <i nz-icon nzType="close" nzTheme="outline"></i>
            </button>
            <button *ngIf="i === inventoriesTable.data.length - 1" nz-button nzType="primary"
              (click)="addCountedInventory(data)">
              <i nz-icon nzType="plus" nzTheme="outline"></i></button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </form>

</ng-template>
