<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/common/customer" routerLinkActive="active">{{
      'link.return' | translate
    }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.common' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/common/customer" routerLinkActive="active">{{
          'breadcrumb.customer' | translate
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>


<div nz-row style="padding: 50px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="2" [nzSize]="'default'" (nzIndexChange)="onStepIndexChange($event)">
      <nz-step nzTitle="{{ 'steps.basic-info.title' | translate }}"
        nzDescription="{{ 'steps.customer-maintenance.basic-info.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.customer-maintenance.address.title' | translate }}"
        nzDescription="{{ 'steps.customer-maintenance.address.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.confirm.title' | translate }}"
        nzDescription="{{ 'steps.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>


<ng-container>
  <nz-card nzTitle="{{ currentCustomer?.name }}" [nzActions]="[actionSave]">
    <nz-descriptions nzBordered>

      <nz-descriptions-item nzTitle="{{'name' | translate}}">{{currentCustomer?.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'description' | translate}}" nzSpan="2">
        {{currentCustomer?.description}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'contactor.firstname' | translate}}">
        {{currentCustomer?.contactorFirstname}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'contactor.lastname' | translate}}" nzSpan="2">
        {{currentCustomer?.contactorLastname}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'country' | translate }}">
        {{ currentCustomer?.addressCountry }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'state' | translate }}">
        {{ currentCustomer?.addressState }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'county' | translate }}">
        {{ currentCustomer?.addressCounty }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'city' | translate }}">
        {{ currentCustomer?.addressCity }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'postcode' | translate }}" nzSpan="2">
        {{ currentCustomer?.addressPostcode }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'address.line1' | translate }}" nzSpan="2">
        {{ currentCustomer?.addressLine1 }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'address.line2' | translate }}">
        {{ currentCustomer?.addressLine2 }}
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</ng-container>


<ng-template #actionSave>
  <button nz-button nzType="primary" (click)="save()">{{ 'confirm' | translate}}</button>
</ng-template>
