<page-header [title]="'page.mould.header.title' | i18n"> </page-header>

<nz-spin [nzSpinning]="isSpinning"></nz-spin>
<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="name" [nzSm]="3" [nzXs]="3">
          {{ 'name' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" id="name" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="description" [nzSm]="3" [nzXs]="3">
          {{ 'description' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="description" id="description" formControlName="description" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #rowSelectionTable nzShowSizeChanger nzShowPagination
    [nzData]="listOfAllMoulds" [nzFooter]="tableFoot">
    <thead>
      <tr>

        <th *ngFor="let column of listOfColumns" [nzShowSort]="column.showSort" [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn"
          [nzShowFilter]="column.showFilter">
          {{ column.name | i18n }}
        </th>


        <th *ngIf="!displayOnly">
          {{ 'action' | i18n }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">

        <td>{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.cavity }}</td>
        <td *ngIf="!displayOnly">
          <a routerLink="/work-order/mould/maintenance" [queryParams]="{id: data.id!}" routerLinkActive="active"> {{
            'modify' | i18n }}</a>

          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzDanger (click)="removeMould(data)">
            {{'delete' | i18n}}
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div nz-row nzJustify="start" style="padding: 15px;" nzAlign="middle" *ngIf="!displayOnly">

    <a nz-button routerLink="/work-order/mould/maintenance" routerLinkActive="active">{{ 'new' | i18n }}</a>
    <nz-divider nzType="vertical"></nz-divider>
  </div>
</div>

<ng-template #tableFoot>
  @if(searchResult != '') {

    <div nz-row nzType="flex" nzJustify="start">
      {{searchResult}}
    </div>
  }
</ng-template>