<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/warehouse-layout/warehouse" routerLinkActive="active">{{
    'return' | i18n
    }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.warehouse-layout' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/warehouse-layout/warehouse" routerLinkActive="active">{{
        'breadcrumb.warehouse' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
<div nz-row style="padding: 50px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="1" [nzSize]="'default'" (nzIndexChange)="onStepIndexChange()">
      <nz-step nzTitle="{{ 'steps.warehouse-maintenance.basic-info.title' | i18n }}"
        nzDescription="{{ 'steps.warehouse-maintenance.basic-info.description' | i18n }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.warehouse-maintenance.confirm.title' | i18n }}"
        nzDescription="{{ 'steps.warehouse-maintenance.confirm.description' | i18n }}">
      </nz-step>
    </nz-steps>
  </div>
</div>


<ng-container>
  <nz-card nzTitle="{{ (currentWarehouse.id ? ('#' + currentWarehouse.id + '-') : '' ) + currentWarehouse.name }}"
    [nzActions]="[actionSave]">
    <nz-descriptions nzTitle="{{'warehouse' | i18n}}" nzBordered>

      <nz-descriptions-item nzTitle="id">{{currentWarehouse.id}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'name' | i18n}}">{{currentWarehouse.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'size' | i18n}}">{{currentWarehouse.size}}
      </nz-descriptions-item>
      
      <nz-descriptions-item nzTitle="{{ 'contactor' | i18n }}">
        {{ currentWarehouse.contactorFirstname }}   {{ currentWarehouse.contactorLastname }} 
      </nz-descriptions-item> 
      <nz-descriptions-item nzTitle="{{ 'country' | i18n }}">
        {{ currentWarehouse.addressCountry }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'state' | i18n }}">
        {{ currentWarehouse.addressState }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'county' | i18n }}">
        {{ currentWarehouse.addressCounty }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'city' | i18n }}">
        {{ currentWarehouse.addressCity }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'address.line1' | i18n }}">
        {{ currentWarehouse.addressLine1 }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'address.line2' | i18n }}">
        {{ currentWarehouse.addressLine2 }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'postcode' | i18n }}">
        {{ currentWarehouse.addressPostcode }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{ 'phone' | i18n }}">
        {{ currentWarehouse.addressPhone }}
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</ng-container>


<ng-template #actionSave>
  <button nz-button nzType="primary" (click)="saveWarehouse()">{{ 'confirm' | i18n}}</button>
</ng-template>
</nz-spin>