<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/inventory/inventory" routerLinkActive="active">{{
    'description.field.link.return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'description.field.breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.inventory' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/inventory/inventory" routerLinkActive="active">{{
        'description.field.breadcrumb.inventory' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<ng-container>
  <nz-card [nzActions]="[actionConfirm]" *ngFor="let inventory of currentInventories ">
    <nz-descriptions nzBordered>
      <nz-descriptions-item nzTitle="{{'description.field.label.lpn' | translate}}">
        {{inventory.lpn}}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="{{'description.field.label.location' | translate}}" nzSpan="2">
        {{inventory.location}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'description.field.label.item' | translate}}">
        {{inventory.item.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'description.field.label.item.description' | translate}}" nzSpan="2">
        {{inventory.item.description}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'description.field.label.item.package-type' | translate}}" nzSpan="2">
        <nz-card nzTitle="{{inventory.itemPackageType.code}}">
          <nz-table #itemPackageTypeDetailTable [nzData]="inventory.itemPackageType.itemUnitOfMeasures" nzSize="middle"
            [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th>{{ 'description.field.label.unitOfMeasure' | translate}}</th>
                <th>{{ 'description.field.label.quantity' | translate }}</th>
                <th>{{ 'description.field.label.weight' | translate }}</th>
                <th>{{ 'description.field.label.length' | translate }}</th>
                <th>{{ 'description.field.label.width' | translate }}</th>
                <th>{{ 'description.field.label.height' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemUnitOfMeasure of itemPackageTypeDetailTable.data">
                <td>{{ itemUnitOfMeasure.unitOfMeasure.name }}</td>
                <td>{{ itemUnitOfMeasure.quantity }}</td>
                <td>{{ itemUnitOfMeasure.weight }}</td>
                <td>{{ itemUnitOfMeasure.length }}</td>
                <td>{{ itemUnitOfMeasure.width }}</td>
                <td>{{ itemUnitOfMeasure.height }}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-card>

      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'description.field.label.inventory.status' | translate}}">
        {{inventory.inventoryStatus.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'description.field.label.quantity' | translate}}">
        {{  getInventoryOrignalQuantity(inventory.id) }} => {{inventory.quantity}}
      </nz-descriptions-item>
    </nz-descriptions>

    <ng-template #actionConfirm>
      <button nz-button nzType="primary" (click)="confirmInventoryAdjust(inventory)">
        {{ 'description.steps.confirm.title' | translate }}</button>
    </ng-template>
  </nz-card>
</ng-container>
