<page-header> </page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label for="client" [nzSm]="3" [nzXs]="3">
          {{ 'inventory-quantity-change-type' | translate }}
        </nz-form-label>
        <nz-select nzMode="tags" formControlName="inventoryQuantityChangeType">
          <nz-option *ngFor="let inventoryQuantityChangeType of inventoryQuantityChangeTypes | keyvalue"
            [nzLabel]="inventoryQuantityChangeType.value" [nzValue]="inventoryQuantityChangeType.key"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label for="status" [nzSm]="3" [nzXs]="3">
          {{ 'inventory-adjustment-request.status' | translate }}
        </nz-form-label>
        <nz-select nzMode="tags" formControlName="status">
          <nz-option *ngFor="let inventoryAdjustmentRequestStatus of inventoryAdjustmentRequestStatuses  | keyvalue"
            [nzLabel]="inventoryAdjustmentRequestStatus.value" [nzValue]="inventoryAdjustmentRequestStatus.key">
          </nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="itemName">
          {{ 'item' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="itemName" id="itemName" formControlName="itemName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="location">
          {{ 'location' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="location" id="location" formControlName="location" />
        </nz-form-control>
      </nz-form-item>
    </div>


  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'search' | translate }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | translate }}</button>
      <a class="collapse" (click)="toggleCollapse()">
        {{ 'collapse' | translate }}

        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table #rowSelectionTable nzShowSizeChanger nzShowPagination [nzData]="listOfAllInventoryAdjustmentRequests"
    [nzFooter]="tableFoot">
    <thead>
      <tr>
        <th
            *ngFor="let column of listOfColumns"
            [nzShowSort]="column.showSort"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"        
            [nzShowFilter]="column.showFilter"
          >
            {{ column.name | translate }}
          </th>  
 
        <th>{{ 'action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data"> 
        <td>{{ data.inventoryId }}</td>
        <td><a routerLink="/inventory/inventory" routerLinkActive="active"
            [queryParams]="{lpn : data.lpn, refresh: true}">
            {{ data.lpn }}</a></td>
        <td>
          <a nz-tooltip nzTooltipTitle="{{ data.item.description }}">{{ data.item.name }}</a>
        </td>
        <td>
          <a nz-popover nzPopoverTitle="{{ 'itemPackageTypeDetails' | translate}}"
            [nzPopoverContent]="itemPackageTypeDetails">{{ data.itemPackageType.name }}</a>
        </td>
        <td>{{ data.location.name }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.newQuantity }}</td>
        <td>
          <a nz-tooltip
            nzTooltipTitle="{{ 'INVENTORY-STATUS-' + data.inventoryStatus.name | translate }}">{{ 'INVENTORY-STATUS-' + data.inventoryStatus.name | translate}}</a>
        </td>
        <td> {{ 'INVENTORY-QUANTITY-CHANGE-TYPE-' + data.inventoryQuantityChangeType | translate}} </td>
        <td> {{ 'INVENTORY-ADJUSTMENT-REQUEST-' + data.status | translate}} </td>
        <td> {{ data.requestedByUsername }} </td>
        <td> {{ data.requestedByDateTime[1] }}/{{ data.requestedByDateTime[2] }}/{{ data.requestedByDateTime[0] }}
          {{ data.requestedByDateTime[3] }}:{{ data.requestedByDateTime[4] }}:{{ data.requestedByDateTime[5] }}
        </td>
        <td> <span *ngIf="data.processedByDateTime">
            {{ data.processedByDateTime[1] }}/{{ data.processedByDateTime[2] }}/{{ data.processedByDateTime[0] }}
            {{ data.processedByDateTime[3] }}:{{ data.processedByDateTime[4] }}:{{ data.processedByDateTime[5] }}
          </span>
        </td>
        <td> {{ data.processedByUsername }} </td>
        <td> {{ data.documentNumber }} </td>
        <td> {{ data.comment }} </td>
        <td>
          <span *ngIf="data.status === inventoryAdjustmentRequestStatuses.PENDING">

            <button nz-button
              (click)="openRequestProcessModel(data, tplRequestProcessModalTitle, tplRequestProcessModalContent, tplRequestProcessModalFooter)">{{ 'process' | translate }}</button>


          </span>
        </td>
        <ng-template #itemPackageTypeDetails>
          <nz-table #itemPackageTypeDetailTable [nzData]="data.itemPackageType.itemUnitOfMeasures" nzSize="middle"
            [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th>{{ 'unitOfMeasure' | translate}}</th>
                <th>{{ 'quantity' | translate }}</th>
                <th>{{ 'weight' | translate }}</th>
                <th>{{ 'length' | translate }}</th>
                <th>{{ 'width' | translate }}</th>
                <th>{{ 'height' | translate }}</th>
              </tr>
            </thead>
    <tbody>
      <tr *ngFor="let itemUnitOfMeasure of itemPackageTypeDetailTable.data">
        <td>{{ itemUnitOfMeasure.unitOfMeasure.name }}</td>
        <td>{{ itemUnitOfMeasure.quantity }}</td>
        <td>{{ itemUnitOfMeasure.weight }}</td>
        <td>{{ itemUnitOfMeasure.length }}</td>
        <td>{{ itemUnitOfMeasure.width }}</td>
        <td>{{ itemUnitOfMeasure.height }}</td>
      </tr>
    </tbody>
  </nz-table>
  </ng-template>
  </tr>
  </tbody>
  </nz-table>
</div>


<ng-template #tableFoot>

  <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
    {{searchResult}}
  </div>
</ng-template>


<!-- Modal for inventory remove warning -->
<ng-template #tplRequestProcessModalTitle>
  <span>{{ 'page.modal.inventory-adjustment-request-process.header.title' | translate}}</span>
</ng-template>
<ng-template #tplRequestProcessModalContent>
  <form nz-form [formGroup]="inventoryAdjustmentRequestProcessForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lpn">
            {{ 'lpn' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="lpn" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemNumber">
            {{ 'item' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemNumber" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="itemDescription">
            {{ 'item.description' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="itemDescription" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            {{ 'inventory.status' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="inventoryStatus" />

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="locationName">
            {{ 'location' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.required' | translate }}">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="locationName" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="documentNumber">
            {{ 'document-number' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="documentNumber" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="comment">
            {{ 'inventory-adjustment-request.comment' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group nzSize="large">
              <input nz-input formControlName="comment" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <div nz-row [nzGutter]="24">


      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-radio-group formControlName="approved" nzName="approved">
            <label nz-radio nzValue="true" (click)="readyForProcessingRequest = true">{{ 'approve' | translate}}</label>
            <label nz-radio nzValue="false" (click)="readyForProcessingRequest = true">{{ 'deny' | translate}}</label>
          </nz-radio-group>
        </nz-form-item>
      </div>

    </div>
  </form>
</ng-template>
<ng-template #tplRequestProcessModalFooter>
  <button nz-button nzType="default" (click)="closeRequestProcessModal()"
    [nzLoading]="requestInProcess">{{ 'cancel' | translate}}</button>
  <button nz-button nzType="primary" (click)="confirmRequest()" [disabled]="readyForProcessingRequest === false"
    [nzLoading]="requestInProcess">{{ 'confirm' | translate}}</button>

</ng-template>