<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/common/customer" routerLinkActive="active">{{
    'return' | i18n
    }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.common' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/common/customer" routerLinkActive="active">{{
        'breadcrumb.customer' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<div nz-row style="padding: 50px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="0" [nzSize]="'default'">
      <nz-step nzTitle="{{ 'steps.basic-info.title' | i18n }}"
        nzDescription="{{ 'steps.customer-maintenance.basic-info.description' | i18n }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.customer-maintenance.address.title' | i18n }}"
        nzDescription="{{ 'steps.customer-maintenance.address.description' | i18n }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.confirm.title' | i18n }}" nzDescription="{{ 'steps.confirm.description' | i18n }}">
      </nz-step>
    </nz-steps>
  </div>
</div>

<nz-card [nzActions]="[cardFoot]"> 
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">
            {{ 'name' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzErrorTip="{{ 'error.form.field.required' | i18n }}">
            <input nz-input [(ngModel)]="currentCustomer!.name" id="name" name="name" required />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">
            {{ 'description' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.clientDescription.required' | i18n }}">
            <input nz-input [(ngModel)]="currentCustomer!.description" id="description" name="description" required />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">
            {{ 'listPickEnabledFlag' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            <label nz-checkbox [(ngModel)]="currentCustomer!.listPickEnabledFlag"></label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstname">
            {{ 'contactor.firstname' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.contactor.firstname.required' | i18n }}">
            <input nz-input [(ngModel)]="currentCustomer!.contactorFirstname" id="firstname" name="firstname"
              required />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastname">
            {{ 'contactor.lastname' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback
            nzErrorTip="{{ 'error.form.field.contactor.lastname.required' | i18n }}">
            <input nz-input [(ngModel)]="currentCustomer!.contactorLastname" id="lastname" name="lastname" required />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> 
    
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="3">
        <nz-form-item>
          <nz-form-label [nzSpan]="23">
            {{ 'customer.isTarget' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="1">
            <label nz-checkbox [(ngModel)]="currentCustomer!.customerIsTarget" [nzDisabled]="isWalmart"
                (ngModelChange)="isTargetSelectedChange($event)"></label>
          </nz-form-control>
        </nz-form-item>
      </div>
      
      <div nz-col [nzSpan]="3">
        <nz-form-item>
          <nz-form-label [nzSpan]="23">
            {{ 'customer.isWalmart' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="1">
            <label nz-checkbox [(ngModel)]="currentCustomer!.customerIsWalmart" [nzDisabled]="isTarget"
            (ngModelChange)="isWalmartSelectedChange($event)"></label>
          </nz-form-control>
        </nz-form-item>
      </div> 
      
      <div nz-col [nzSpan]="5">
        <nz-form-item>
          <nz-form-label [nzSpan]="23" nzLabelAlign="right">
            {{ 'allowPrintShippingCartonLabel' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="1">
            <label nz-checkbox [(ngModel)]="currentCustomer!.allowPrintShippingCartonLabel" ></label>
          </nz-form-control>
        </nz-form-item>
      </div> 
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="23">
            {{ 'allowPrintShippingCartonLabelWithPalletLabel' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="1">
            <label nz-checkbox [(ngModel)]="currentCustomer!.allowPrintShippingCartonLabelWithPalletLabel" ></label>
          </nz-form-control>
        </nz-form-item>
      </div> 
      <div nz-col [nzSpan]="7">
        <nz-form-item>
          <nz-form-label [nzSpan]="23">
            {{ 'allowPrintShippingCartonLabelWithPalletLabelWhenShort' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="1">
            <label nz-checkbox [(ngModel)]="currentCustomer!.allowPrintShippingCartonLabelWithPalletLabelWhenShort"  ></label>
          </nz-form-control>
        </nz-form-item>
      </div> 
    </div> 
    
    <div nz-row [nzGutter]="24"> 
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="12" >
            {{ 'maxPalletSize' | i18n }} (in)
          </nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback >
            <nz-input-number [(ngModel)]="currentCustomer!.maxPalletSize" [nzMin]="0"  ></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="12"  >
            {{ 'maxPalletHeight' | i18n }} (in)
          </nz-form-label>
          <nz-form-control [nzSpan]="12"  nzHasFeedback >
            <nz-input-number [(ngModel)]="currentCustomer!.maxPalletHeight" [nzMin]="0" ></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> 
</nz-card>

<ng-template #cardFoot>
  <div nz-row nzType="flex" nzJustify="center">
    <button nz-button nzType="primary" (click)="goToAddressPage()">
      {{ 'steps.next' | i18n }} :
      {{ 'steps.customer-maintenance.address.title' | i18n }}
    </button>
  </div>
</ng-template>