<page-header></page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <nz-card>        
        <div nz-row [nzGutter]="24"> 
          <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label [nzSpan]="3">
                {{ 'threePartyLogisticsFlag' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="21">
                    <label nz-checkbox [(ngModel)]="currentWarehouseConfiguration.threePartyLogisticsFlag"></label>

                </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label [nzSpan]="12">
                {{ 'listPickEnabledFlag' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <label nz-checkbox [(ngModel)]="currentWarehouseConfiguration.listPickEnabledFlag"></label>

                </nz-form-control>
            </nz-form-item>
          </div>
          
          <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label [nzSpan]="18">
                {{ 'newLPNPrintLabelAtReceivingFlag' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="6">
                    <label nz-checkbox [(ngModel)]="currentWarehouseConfiguration.newLPNPrintLabelAtReceivingFlag"></label>

                </nz-form-control>
            </nz-form-item>
          </div>
          
          <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label [nzSpan]="18">
                {{ 'newLPNPrintLabelAtProducingFlag' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="6">
                    <label nz-checkbox [(ngModel)]="currentWarehouseConfiguration.newLPNPrintLabelAtProducingFlag"></label>

                </nz-form-control>
            </nz-form-item>
          </div>
        </div>  
        
        <div nz-row [nzGutter]="24"> 
          
          <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label [nzSpan]="18">
                {{ 'newLPNPrintLabelAtAdjustmentFlag' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="6">
                    <label nz-checkbox [(ngModel)]="currentWarehouseConfiguration.newLPNPrintLabelAtAdjustmentFlag"></label>

                </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="18">
                {{ 'reuseLPNAfterRemovedFlag' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="6">
                    <label nz-checkbox [(ngModel)]="currentWarehouseConfiguration.reuseLPNAfterRemovedFlag"></label>

                </nz-form-control>
            </nz-form-item>
          </div>
          
          <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label [nzSpan]="18">
                {{ 'reuseLPNAfterShippedFlag' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="6">
                    <label nz-checkbox [(ngModel)]="currentWarehouseConfiguration.reuseLPNAfterShippedFlag"></label>

                </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="24"> 
          <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">
                {{ 'printing-strategy' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="18">


                  <nz-select [(ngModel)]="currentWarehouseConfiguration.printingStrategy" nzAllowClear>
                    <nz-option *ngFor="let printingStrategy of printingStrategyList | keys" [nzValue]="printingStrategy.key"
                      nzLabel="{{ 'PRINTING-STRATEGY-' + printingStrategy.key | i18n }}"></nz-option>
                  </nz-select>

                </nz-form-control>
            </nz-form-item>
          </div>

        </div> 
    </nz-card>

    <div nz-row nzJustify="start" style="padding: 15px;" nzAlign="middle">
        <button nz-button nzType="primary" (click)="confirm()" >
            <span> {{ 'confirm' | i18n }}</span>
          </button>
    </div>

</nz-spin>