<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/outbound/cartionization-configuration" routerLinkActive="active">{{ 'return' | translate }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.outbound' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/outbound/cartionization-configuration" routerLinkActive="active">{{
        'breadcrumb.cartionization-configuration' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<div nz-row style="padding: 50px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="1" [nzSize]="'default'" [nzCurrent]="1">
      <nz-step nzTitle="{{ 'steps.cartionization-configuration-maintenance.basic-info.title' | translate }}"
        nzDescription="{{ 'steps.cartionization-configuration-maintenance.basic-info.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'steps.cartionization-configuration-maintenance.confirm.title' | translate }}"
        nzDescription="{{ 'steps.cartionization-configuration-maintenance.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>


<ng-container>
  <nz-card [nzActions]="[actionSave]">
    <nz-descriptions nzBordered>

      <nz-descriptions-item nzTitle="{{'sequence' | translate}}">
        {{currentCartonizationConfiguration.sequence}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'client' | translate}}">
        {{currentCartonizationConfiguration.client}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'pick.type' | translate}}">
        {{'PICK-TYPE-' + currentCartonizationConfiguration.pickType | translate}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'cartonization.group-key' | translate}}">
        {{currentCartonizationConfiguration.groupRules}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'enabled' | translate}}">
        {{currentCartonizationConfiguration.enabled}}
      </nz-descriptions-item>

    </nz-descriptions>
  </nz-card>
</ng-container>


<ng-template #actionSave>
  <button nz-button nzType="primary" (click)="save()">{{ 'confirm' | translate}}</button>
</ng-template>
