
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">


<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">


    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="integrationDateTimeRanger">
          {{ 'integration.date-time' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-range-picker [nzShowTime]="{ nzHideDisabledOptions: true }" nzFormat="yyyy-MM-dd HH:mm:ss"
            formControlName="integrationDateTimeRanger" name="integrationDateTimeRanger">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="integrationDate">
          {{ 'integration.date' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-date-picker formControlName="integrationDate" name="integrationDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="status">
          {{ 'integration.status' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          
          <nz-select  nzMode="multiple" formControlName="statusList" name="statusList">
            <nz-option
              *ngFor="let status of integrationStatusListKeys"
              [nzValue]="status"
              nzLabel="{{ 'INTEGRATION-STATUS-' + status | i18n}}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="id">
          {{ 'id' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="6">
          
          <input nz-input name="id" id="id" formControlName="id"> 
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
      <a class="collapse" (click)="toggleCollapse()">
        {{ 'collapse' | i18n }}

        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table 
  [nzScroll]="{ x: '100vw' }"  #nestedTable nzShowSizeChanger nzShowPagination [nzData]="listOfAllIntegrationItemData"
    [nzFooter]="tableFoot">
    <thead >
      <tr>
        <th nzWidth="40px"></th>

        <th
            *ngFor="let column of listOfColumns"
            [nzShowSort]="column.showSort"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"        
            [nzShowFilter]="column.showFilter"
          >
            {{ column.name | i18n }}
          </th> 

       
          <th nzEllipsis>{{ 'integration.errorMessage' | i18n }}</th>
          <th nzRight>{{ 'action' | i18n }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>
          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          <td>{{ data.id }}</td>

          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.clientId }}</td>
          <td>{{ data.clientName }}</td>
          <td>{{ data.itemFamily.name }}</td>
          <td>{{ data.unitCost }}</td>
          <td>{{ data.warehouseId }}</td>
          <td>{{ data.warehouseName }}</td>

          <td>{{ 'INTEGRATION-STATUS-' + data.status | i18n}}</td>
          
          <td>
            {{data.createdTime | date:'short'}} 
          </td>
          <td>
            {{data.lastModifiedTime | date:'short'}} 
          </td>
          <td nzEllipsis>
            <a>
              <span nz-tooltip nzTooltipTitle="{{ data.errorMessage }}">{{ data.errorMessage }}</span>
            </a>
          </td>
          <td nzRight>
            <button nz-button (click)="resendIntegration(data.id!)">{{ 'resend' | i18n }}</button>
          </td>
        </tr>
        <tr  [nzExpand]="expandSet.has(data.id)" *ngIf="data.itemPackageTypes!.length > 0">
          
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
              <nz-tab *ngFor="let itemPackageType of data.itemPackageTypes" [nzTitle]="itemPackageType.name">
                <nz-table 
                [nzScroll]="{ x: 'true', y: 'true' }" #innerTable [nzData]="itemPackageType.itemUnitOfMeasures" nzSize="middle"
                  [nzShowPagination]="false">
                  <thead>
                    <tr>

                      <th nzShowSort nzSortKey="id">id</th>
                      <th>
                        {{ 'item-id' | i18n }}
                      </th>
                      <th>
                        {{ 'item-name' | i18n }}
                      </th>
                      <th>
                        {{ 'item-package-type-id' | i18n }}
                      </th>
                      <th>
                        {{ 'item-package-type-name' | i18n }}
                      </th>

                      <th>
                        {{'item-unit-of-measure.id' | i18n}}</th>
                      <th nzShowSort nzSortKey="name">
                        {{'item-unit-of-measure.name' | i18n}}</th>

                      <th>
                        {{ 'quantity' | i18n }}
                      </th>
                      <th>
                        {{ 'weight' | i18n }}
                      </th>
                      <th>
                        {{ 'length' | i18n }}
                      </th>
                      <th>
                        {{ 'width' | i18n }}
                      </th>
                      <th>
                        {{ 'height' | i18n }}
                      </th>

                      <th>
                        {{ 'warehouse-id' | i18n }}
                      </th>
                      <th>
                        {{ 'warehouse-name' | i18n }}
                      </th>
                    </tr>
                  </thead>
    <tbody>
      <tr *ngFor="let data of innerTable.data">
        <td>{{ data.id }}</td>

        <td>{{ data.itemId }}</td>
        <td>{{ data.itemName }}</td>


        <td>{{ data.itemPackageTypeId }}</td>
        <td>{{ data.itemPackageTypeName }}</td>

        <td>{{ data.unitOfMeasureId }}</td>
        <td>{{ data.unitOfMeasureName }}</td>

        <td>{{ data.quantity }}</td>
        <td>{{ data.weight }}</td>

        <td>{{ data.length }}</td>
        <td>{{ data.width }}</td>
        <td>{{ data.height }}</td>

        <td>{{ data.warehouseId }}</td>
        <td>{{ data.warehouseName }}</td>
      </tr>
    </tbody>
  </nz-table>
  </nz-tab>
  </nz-tabset>

 
  </tr>
  </ng-template>

  </tbody>
  </nz-table>
</div>


<ng-template #tableFoot>
  @if(searchResult != '') {

    <div nz-row nzType="flex" nzJustify="start">
      {{searchResult}}
    </div>
  }
</ng-template>

</nz-spin>