<page-header [title]="'menu.main.qc.qc-rule' | i18n"> </page-header>

<nz-spin [nzSpinning]="isSpinning">
<!-- Form to query the result  -->
<!--
  
-->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24"> 
    
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label for="name" [nzSpan]="6">
          {{ 'name' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
            
            <nz-input-group    >
                <input nz-input name="name" id="name" formControlName="name" />
              </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
    </div>
  </div>
</form>

<div class="search-result-list">
  
      <!--
    <div nz-row nzType="flex" nzJustify="start" style="padding-left: 25px;">
      <app-util-table-column-selection [tableColumnsConfiguration]="customColumns" (myModelChange)="columnChoosingChanged()"></app-util-table-column-selection>
    </div>
  -->
    
    <st #st [data]="listOfAllQCRules"  [columns]="columns" [expand]="expand"   expandAccordion>
      
      <!--   qc rule details  -->
      <ng-template #expand let-item let-index="index" >
        
        <nz-tabset  >
          <nz-tab nzTitle=" {{ 'qc-rule.item' | i18n }}">
            <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #innerTable [nzData]="item.qcRuleItems" nzSize="middle"
              [nzShowPagination]="true" #qcRuleItemTable>
              <thead>
                <th>
                  {{ 'qcRule.checkPoint' | i18n }}
                </th>
                <th>
                  {{ 'qcRule.qcRuleItemType' | i18n }}
                </th>
                <th>
                  {{ 'qcRule.qcRuleItemComparator' | i18n }}
                </th>
                <th>
                  {{ 'qcRule.expectedValue' | i18n }}
                </th> 
                <th>
                  {{ 'enabled' | i18n }}
                </th> 
                
              </thead>
              <tbody>
                <tr *ngFor="let qcRuleItem of qcRuleItemTable.data">
                  <td>{{ qcRuleItem.checkPoint }}</td>
                  <td>{{ 'QC-RULE-ITEM-TYPE-' + qcRuleItem.qcRuleItemType | i18n }}</td>
                  <td>{{ 'QC-RULE-ITEM-COMPARATOR-' + qcRuleItem.qcRuleItemComparator  | i18n}}</td>
                  <td>{{ qcRuleItem.expectedValue }}</td>
                  <td>{{ qcRuleItem.enabled }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
      </ng-template>
      <!--   action colummn  --> 
      <ng-template st-row="actionColumnTitle" type="title" let-c>
        {{ 'action' | i18n }}
      </ng-template>
      <ng-template st-row="actionColumn" let-item let-index="index"> 
        
        <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="primary">
          {{ 'action' | i18n }} <i nz-icon nzType="down"></i></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu> 

            <li nz-menu-item >
              <a  (click)="modifyQCRule(item)">{{ 'modify' | i18n }}</a>
            </li>
            <li nz-menu-item>
              <a  (click)="removeQCRule(item)">{{ 'remove' | i18n }}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </ng-template>
    </st>
    <div nz-row nzType="flex" nzJustify="start"  style="padding: 15px;" *ngIf="searchResult != ''">
      {{searchResult}}
    </div>
    
    <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly"> 
        <button nz-button nzType="primary" routerLink="/qc/qc-rule/maintenance" routerLinkActive="active">
          {{ 'add' | i18n }}
        </button>
    </div>
</div>
</nz-spin>