<page-header title="{{'data-transfer' |  i18n}}" > </page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
  <!-- Form to query the result  -->
  <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form"> 

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" nzFor="companyCode">
            {{ 'company.name' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
              
            <nz-select nz-input formControlName="companyCode" style="width: 250px">
                <nz-option *ngFor="let company of validCompanies" [nzLabel]="company.name"
                [nzValue]="company.code">
                </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" nzFor="number">
            {{ 'number' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input name="number" id="number" formControlName="number">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()"  >
          {{ 'search' | i18n }}
        </button>
        <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
      </div>
    </div>
  </form> 
 
 
  
  <div class="search-result-list"> 
    
      <!--
    <div nz-row nzType="flex" nzJustify="start" style="padding-left: 25px;">
      <app-util-table-column-selection [tableColumnsConfiguration]="customColumns" (myModelChange)="columnChoosingChanged()"></app-util-table-column-selection>
    </div>
  -->
    
    <st #st [data]="dataTransferRequests" [columns]="columns" [footer]="tableFoot"   [expand]="expand"   expandAccordion
    >
    
    
      <!-- more details about the company -->
      <ng-template st-row="companyCode" let-item let-index="index">
        <nz-skeleton-element 
            *ngIf="item.company && item.company == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element> 
          {{ item.company?.code}}

      </ng-template>
      
      <ng-template st-row="companyName" let-item let-index="index">
        <nz-skeleton-element 
            *ngIf="item.company && item.company == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element> 
          {{ item.company?.name}}

      </ng-template>
      
      <!-- zip file download url -->
      <ng-template st-row="zipFileUrl" let-item let-index="index">
        
                      
          <a [href]="item.zipFileUrl" target="_blank" rel="noopener noreferrer" *ngIf="item.status === dataTransferRequestStatus.COMPLETE">
              
            {{ item.number + ".zip" }}
          </a>

      </ng-template>

      <!--   data transfer request details  -->
      <ng-template #expand let-item let-index="index" >
        <nz-tabset  >
               
            <nz-tab nzTitle=" {{ 'data-transfer-request-detail' | i18n }}">
                <nz-table [nzScroll]="{ x: 'true', y: 'true' }" #innerTable [nzData]="item.dataTransferRequestDetails" nzSize="middle"
                [nzShowPagination]="false" #dataTransferRequestDetailsTable>
                <thead>
                    <th>
                    {{ 'sequence' | i18n }}
                    </th>
                    <th>
                    {{ 'description' | i18n }}
                    </th>
                    <th>
                    {{ 'data-transfer-request-detail.tablesName' | i18n }}
                    </th>
                    <th>
                    {{ 'status' | i18n }}
                    </th>
                    <th>
                    {{ 'csv-file' | i18n }}
                    </th>
                    
                    
                </thead>
                <tbody>
                    <tr *ngFor="let dataTransferRequestDetail of dataTransferRequestDetailsTable.data">
                    <td>{{ dataTransferRequestDetail.sequence }}</td>
                    
                    <td>{{ dataTransferRequestDetail.description }}</td>
                    <td>{{ dataTransferRequestDetail.tablesName }}</td> 
                    <td>{{ dataTransferRequestDetail.status }}</td>
                    <td>
                      
                      <a [href]="dataTransferRequestDetail.fileUrl" target="_blank" rel="noopener noreferrer"
                      *ngIf="dataTransferRequestDetail.status === dataTransferRequestStatus.COMPLETE"
                      >
            
                        {{ dataTransferRequestDetail.tablesName + ".csv" }}
                      </a>
                      
                    </td>
                    
                    </tr>
                </tbody>
                </nz-table>
            </nz-tab>  
        </nz-tabset>
      </ng-template> 
    </st>
  
  </div>
 
</nz-spin>
<ng-template #tableFoot>

  <div nz-row nzType="flex" nzJustify="start" *ngIf="searchResult != ''">
    {{searchResult}}
  </div>
  
  <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly">
    
    <button nz-button nzType="primary" (click)="openDataExportRequestModal(tplDataExportRequestModalTitle, tplDataExportRequestModalContent )">
      {{ 'Export' | i18n }}
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    
    <button nz-button nzType="primary" (click)="openDataImportRequestModal(tplDataExportRequestModalTitle, tplDataExportRequestModalContent )">
        {{ 'Import' | i18n }}
      </button>
  </div>
</ng-template>


<!-- Modal for export data-->
<ng-template #tplDataExportRequestModalTitle>
    <span>{{ 'Export' | i18n}}</span>
  </ng-template>
  <ng-template #tplDataExportRequestModalContent>
    <form nz-form [formGroup]="dataExportRequestForm">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label [nzSpan]="8" nzFor="number">
              {{ 'number' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-input-group nzSize="large">
                <input nz-input formControlName="number" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label [nzSpan]="8" nzFor="description">
              {{ 'description' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-input-group nzSize="large">
                <input nz-input formControlName="description" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label [nzSpan]="8" nzFor="companyCode">
              {{ 'company.code' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-input-group nzSize="large">
                  
                <nz-select nz-input formControlName="companyCode" style="width: 250px">
                    <nz-option *ngFor="let company of validCompanies" [nzLabel]="company.name"
                    [nzValue]="company.code">
                    </nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      
    </form>
  </ng-template>



 