<page-header></page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="name" [nzSm]="3" [nzXs]="3">
          {{ 'description.field.label.role.name' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" id="name" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'description.field.button.search' | translate }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'description.field.button.clear' | translate }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table #rowSelectionTable nzShowSizeChanger nzShowPagination [nzData]="listOfAllRoles" [nzFooter]="tableFoot">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th nzShowSort nzSortKey="id">{{ 'description.field.table.header.id' | translate }}</th>
        <th nzShowSort nzSortKey="name">
          {{ 'description.field.label.name' | translate }}
        </th>
        <th nzShowSort nzSortKey="description">
          {{ 'description.field.label.description' | translate }}
        </th>
        <th nzShowSort nzSortKey="enabled">
          {{ 'description.field.label.enabled' | translate }}
        </th>

        <th>{{ 'description.field.label.action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data.id }}</td>
        <td>
          {{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.enabled }}</td>
        <td>
          <a nz-button routerLink="/auth/role-menu" routerLinkActive="active"
            [queryParams]="{roleId : data.id}">{{ 'description.field.label.assign-menu' | translate }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-button routerLink="/auth/role-user" routerLinkActive="active"
            [queryParams]="{roleId : data.id}">{{ 'description.field.label.assign-user' | translate }}</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <a nz-button routerLink="/auth/role/maintenance"
      routerLinkActive="active">{{ 'description.field.label.new' | translate }}</a>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="danger" (click)="removeRoles()">
      {{ 'description.field.button.delete' | translate }}
    </button>
  </div>
</ng-template>
