<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/work-order/work-order" routerLinkActive="active"
    [queryParams]="{ number: workOrderProduceTransaction?.workOrder?.number }">{{ 'return' | translate }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/work-order" routerLinkActive="active">{{
        'breadcrumb.work-order' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<!-- Show the work order information -->
<nz-card nzTitle="{{ 'work-order' | translate}}" [nzExtra]="toggleWorkOrderInformation"
  *ngIf="workOrderProduceTransaction !== undefined">

  <nz-descriptions nzBordered [hidden]="isWorkOrderCollapse">
    <nz-descriptions-item nzTitle="{{ 'work-order.number' | translate}}">
      {{ workOrderProduceTransaction.workOrder.number}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'item-name' | translate}}">
      {{ workOrderProduceTransaction.workOrder.item?.name}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'item.description' | translate}}">
      {{ workOrderProduceTransaction.workOrder.item?.description}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'work-order.expected-quantity' | translate}}">
      {{ workOrderProduceTransaction.workOrder?.expectedQuantity}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{ 'work-order.produced-quantity' | translate}}">
      {{ workOrderProduceTransaction.workOrder?.producedQuantity}}</nz-descriptions-item>
  </nz-descriptions>
</nz-card>
<ng-template #toggleWorkOrderInformation>
  <a class="collapse" (click)="toggleCollapse()">
    {{ 'collapse' | translate }}

    <i nz-icon [nzType]="isWorkOrderCollapse ? 'down' : 'up'"></i>
  </a>
</ng-template>

<!-- Show the produced inventory information -->

<nz-card nzTitle="{{ 'work-order.producing-inventory' | translate}}" *ngIf="workOrderProduceTransaction !== undefined">
  <div class="search-result-list">
    <nz-table [nzData]="workOrderProduceTransaction?.workOrderProducedInventories" nzShowPagination="false"
      #inventoryTable>
      <thead>
        <tr>
          <th>{{ 'lpn' | translate }}</th>
          <th>{{ 'item' | translate }}</th>
          <th>{{ 'item.description' | translate }}</th>
          <th>{{ 'item.package-type' | translate }}</th>
          <th>{{ 'location' | translate }}</th>
          <th>{{ 'inventory.status' | translate }}</th>
          <th>{{ 'work-order.expected-quantity' | translate }}</th>
          <th>{{ 'work-order.produced-quantity' | translate }}</th>
          <th>{{ 'quantity' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of inventoryTable.data; let i = index">
          <td>
            {{inventory?.lpn}}
          </td>
          <td>
            {{ workOrderProduceTransaction.workOrder.item?.name }}
          </td>
          <td>
            {{ workOrderProduceTransaction.workOrder.item?.description }}
          </td>
          <td>
            {{ inventory.itemPackageType?.name }}
          </td>
          <td>{{ workOrderProduceTransaction.workOrder.productionLine?.outboundStageLocation?.name }}</td>
          <td>
            {{inventory.inventoryStatus?.name}}
          </td>
          <td>{{ workOrderProduceTransaction.workOrder?.expectedQuantity }}</td>
          <td>{{ workOrderProduceTransaction.workOrder?.producedQuantity }}</td>
          <td> {{ inventory.quantity }} </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
<div nz-row nzType="flex" nzJustify="start">
  <button nz-button nzType="primary" (click)="saveWorkOrderProduceResults()" [nzLoading]="savingInProcess">
    {{ 'confirm' | translate }}
  </button>
</div>
<!-- Show consumed quantities -->

<nz-card nzTitle="{{ 'work-order.consuming-inventory' | translate}}" *ngIf="workOrderProduceTransaction !== undefined"
  [nzExtra]="consumeByUOM">
  <div class="search-result-list">
    <nz-table [nzData]="workOrderProduceTransaction.workOrderLineConsumeTransactions" nzShowPagination="false"
      #workOrderLineTable>
      <thead>
        <tr>
          <th>{{ 'work-order.line.number' | translate }}</th>
          <th>{{ 'item' | translate }}</th>
          <th>{{ 'item.description' | translate }}</th>
          <th>{{ 'work-order.line.expectedQuantity' | translate }}</th>
          <th>{{ 'work-order.line.inprocessQuantity' | translate }}</th>
          <th>{{ 'work-order.line.consumedQuantity' | translate }}</th>
          <th>{{ 'work-order.line.consumingQuantity' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workOrderLineConsumeTransaction of workOrderLineTable.data; let i = index">
          <td>{{ workOrderLineConsumeTransaction?.workOrderLine?.number }}</td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.item?.name }}
          </td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.item?.description }}
          </td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.expectedQuantity }}
          </td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.inprocessQuantity }}
          </td>
          <td>
            {{ workOrderLineConsumeTransaction?.workOrderLine?.consumedQuantity }}
          </td>
          <td>
            {{workOrderLineConsumeTransaction.consumedQuantity }}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>

<ng-template #consumeByUOM>
  <span *ngIf="workOrderProduceTransaction.consumeByBomQuantity === true">

    <a nz-popover nzPopoverTitle="BOM"
      [nzPopoverContent]="bomDetails">{{ workOrderProduceTransaction.matchedBillOfMaterial?.number }}</a>

  </span>
</ng-template>

<ng-template #bomDetails>
  <nz-table #bomDetailTable [nzData]="workOrderProduceTransaction.matchedBillOfMaterial.billOfMaterialLines"
    nzSize="middle" [nzShowPagination]="false" nzBordered>
    <thead>
      <th>
        {{ 'bill-of-material.line.number' | translate }}</th>
      <th>
        {{ 'item' | translate }}</th>
      <th>
        {{ 'item.description' | translate }}</th>
      <th>
        {{ 'bill-of-material.line.expectedQuantity' | translate }}</th>
      <th>
        {{ 'inventory.status' | translate }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let billOfMaterialLine of bomDetailTable.data">
        <td>{{ billOfMaterialLine.number }}</td>
        <td>{{ billOfMaterialLine.item?.name }}</td>
        <td>{{ billOfMaterialLine.item?.description }}</td>
        <td>{{ billOfMaterialLine.expectedQuantity }}</td>
        <td>{{ billOfMaterialLine.inventoryStatus?.name }}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-template>
