<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>


<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
  <ng-template #returnLink>
    <a (click)="return()" routerLinkActive="active">{{
      'return' | i18n
      }}</a>
  </ng-template>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a routerLink="/receipt" routerLinkActive="active">{{
          'receipt' | i18n
          }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
 
  
  <nz-card nzTitle="{{ 'receipt' | i18n}}" *ngIf="currentReceipt">
    <nz-card nzType="inner" nzTitle="{{'standardPalletSize' | i18n}}" >
      <nz-input-number  [nzMin]="0" [(ngModel)]="standardPalletSize"  [nzStep]="0.05"></nz-input-number> Cubic Meter
    </nz-card>
    <nz-card nzType="inner" nzTitle="{{'receipt-line' | i18n}}" >
        <st #receiptLineTable [data]="currentReceipt.receiptLines" [columns]="receiptLineTableColumns" 
        [scroll]="{ x: '1315px' }"  >
       
            <!--   typeColumn colummn  -->  
            <ng-template st-row="lableCountColumn" let-receiptLine let-index="index"> 
                <nz-input-number  [ngModel]="lpnLableCountMap.get(receiptLine.id)" 
                      (ngModelChange)="lpnLabelCountChanged(receiptLine.id, $event)" [nzMin]="1"  [nzStep]="1">
                </nz-input-number>
          </ng-template> 
          

          <ng-template st-row="expectedQuantityColumn" let-receiptLine let-index="index"> 
 
            {{ receiptLine.displayExpectedQuantity }}  
            <nz-skeleton-element 
              *ngIf="receiptLine.displayUnitOfMeasureForExpectedQuantity == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element>  
            <a nz-dropdown [nzDropdownMenu]="unitOfMeasureList" 
              *ngIf="receiptLine.displayUnitOfMeasureForExpectedQuantity != null">
              {{receiptLine.displayUnitOfMeasureForExpectedQuantity.name}}
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #unitOfMeasureList="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <!--<li nz-menu-item *ngFor="let itemUnitOfMeasure of receiptLine.item?.defaultItemPackageType?.itemUnitOfMeasures" 
                (click)="changeDisplayItemUnitOfMeasureForExpectedQuantity(receiptLine, itemUnitOfMeasure)">
                -->
                <li nz-menu-item *ngFor="let itemUnitOfMeasure of receiptLineItemPackageTypes.get(receiptLine.id!)?.itemUnitOfMeasures" 
                (click)="changeDisplayItemUnitOfMeasureForExpectedQuantity(receiptLine, itemUnitOfMeasure)">
                  {{ itemUnitOfMeasure.unitOfMeasure?.name }}
                </li> 
              </ul>
            </nz-dropdown-menu> 

          </ng-template>

          <ng-template st-row="cubicMeterColumn" let-receiptLine let-index="index"> 
            {{ receiptLine.cubicMeter | number: '1.0-2'}} 
         </ng-template>
         
          <ng-template st-row="receivedQuantityColumn" let-receiptLine let-index="index"> 

            {{ receiptLine.displayReceivedQuantity }}  
            <nz-skeleton-element 
              *ngIf="receiptLine.displayUnitOfMeasureForReceivedQuantity == null"
            nzType="input"
            [nzActive]="true"
            [nzSize]="'small'"
            style="width:75px"
          ></nz-skeleton-element>  
            <a nz-dropdown [nzDropdownMenu]="unitOfMeasureList" 
              *ngIf="receiptLine.displayUnitOfMeasureForReceivedQuantity != null">
              {{receiptLine.displayUnitOfMeasureForReceivedQuantity.name}}
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #unitOfMeasureList="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item *ngFor="let itemUnitOfMeasure of receiptLine.item?.defaultItemPackageType?.itemUnitOfMeasures" 
                (click)="changeDisplayItemUnitOfMeasureForReceivedQuantity(receiptLine, itemUnitOfMeasure)">
                  {{ itemUnitOfMeasure.unitOfMeasure?.name }}
                </li> 
              </ul>
            </nz-dropdown-menu> 

          </ng-template>

          <ng-template st-row="itemNameColumn" let-receiptLine let-index="index"> 

            <nz-skeleton-element 
                *ngIf="receiptLine.itemId && receiptLine.item == null"
                nzType="input"
                [nzActive]="true"
                [nzSize]="'small'"
                style="width:75px"
              ></nz-skeleton-element> 
             {{ receiptLine.item?.name }} 

          </ng-template>
          <ng-template st-row="itemDescriptionColumn" let-receiptLine let-index="index">
            
            <nz-skeleton-element 
                *ngIf="receiptLine.itemId && receiptLine.item == null"
                nzType="input"
                [nzActive]="true"
                [nzSize]="'small'"
                style="width:75px"
              ></nz-skeleton-element> 
             {{ receiptLine.item?.description }} 

          </ng-template>
      </st>
    </nz-card> 

  </nz-card>

  <div nz-row style="padding-top: 20px;">
    
    <cwms-common-print-button style='padding-left: 20px; '
      [defaultPhysicalCopyCount]=2
      (print)="printLPNLabels($event)"
      (preview)="previewLPNs($event)">
    </cwms-common-print-button>
  </div>
  </nz-spin>