<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a (click)="returnToPreviousPage()">{{
    'description.field.link.return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'description.field.breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.outbound' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/outbound/pick" routerLinkActive="active">{{
        'description.field.breadcrumb.pick' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<!-- Display Work Order Informaiton -->
<nz-card *ngIf="type === 'workOrder'">
  <nz-descriptions nzTitle="{{'description.field.label.work-order' | translate}}" nzBordered>
    <nz-descriptions-item nzTitle="{{'description.field.label.work-order.number' | translate}}">{{workOrder?.number}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'description.field.label.status' | translate}}">{{workOrder?.status}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'description.field.label.production-line' | translate}}">
      {{workOrder?.productionLine?.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'description.field.label.item' | translate}}">{{workOrder?.item?.name}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'description.field.label.item.description' | translate}}">
      {{workOrder?.item?.description}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'description.field.label.work-order.expected-quantity' | translate}}">
      {{workOrder?.expectedQuantity}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'description.field.label.work-order.produced-quantity' | translate}}">
      {{workOrder?.producedQuantity}}</nz-descriptions-item>
  </nz-descriptions>
</nz-card>


<!-- Display Work Order Informaiton -->
<nz-card *ngIf="type === 'order'">
  <nz-descriptions nzTitle="{{'description.field.label.order' | translate}}" nzBordered>
    <nz-descriptions-item nzTitle="{{'description.field.label.order.number' | translate}}">
      {{order?.number}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'description.field.label.order.shipToCustomer' | translate}}">
      {{ order?.shipToCustomer?.name}}
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="{{'description.field.label.order.shipToCustomer.name' | translate}}">
      <span *ngIf="order?.shipToCustomer !== null">
        {{ order?.shipToCustomer.contactorFirstname }} {{ order?.shipToCustomer.contactorLastname }}
      </span>
      <span *ngIf="order?.shipToCustomer === null">
        {{ order?.shipToContactorFirstname }} {{ order?.shipToContactorLastname }}
      </span>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'description.field.label.order.shipToCustomer.address' | translate}}">
      <div *ngIf="order?.shipToCustomer !== null">
        <span>
          {{ order?.shipToCustomer.addressLine1 }}
        </span>
        <span *ngIf="order?.shipToCustomer.addressLine2 != null">
          , {{ order?.shipToCustomer.addressLine2 }}
        </span>
        <div>
          {{ order?.shipToCustomer.addressCity }}, {{ order?.shipToCustomer.addressState }}
          {{ order?.shipToCustomer.addressPostcode }}
        </div>
      </div>
      <div *ngIf="order?.shipToCustomer === null">
        <span>
          {{ order?.shipToAddressLine1 }}
        </span>
        <span *ngIf="order?.shipToAddressLine2 != null">
          , {{ order?.shipToAddressLine2 }}
        </span>
        <div>
          {{ order?.shipToAddressCity }}, {{ order?.shipToAddressState }}
          {{ order?.shipToAddressPostcode }}
        </div>
      </div>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>


<!-- Table to Display the result  -->
<div class="search-result-list">

  <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllPicks" [nzFooter]="tableFoot" #pickTable>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>


        <th nzShowSort nzSortKey="number">
          {{ 'description.field.label.pick.number' | translate }}</th>
        <th nzShowSort nzSortKey="sourceLocation">
          {{ 'description.field.label.sourceLocation' | translate }}</th>
        <th nzShowSort nzSortKey="destinationLocation">
          {{ 'description.field.label.destinationLocation' | translate }}</th>
        <th nzShowSort nzSortKey="item">
          {{ 'description.field.label.item' | translate }}</th>
        <th>
          {{ 'description.field.label.item.description' | translate }}</th>
        <th nzShowSort nzSortKey="quantity">
          {{ 'description.field.label.pick.quantity' | translate }}</th>
        <th nzShowSort nzSortKey="pickedQuantity">
          {{ 'description.field.label.pick.pickedQuantity' | translate }}</th>
        <th>
          {{ 'description.field.label.pick.confirmQuantity' | translate }}</th>

        <th>
          {{ 'description.field.label.action' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of pickTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"
          [nzDisabled]="mapOfConfirmedQuantity[data.number] === 0"></td>

        <td>{{ data.number }}</td>
        <td>{{ data.sourceLocation?.name }}</td>
        <td>{{ data.destinationLocation?.name }}</td>
        <td>{{ data.item?.name }}</td>
        <td>{{ data.item?.description }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.pickedQuantity }}</td>
        <td>
          <input nz-input [(ngModel)]="mapOfConfirmedQuantity[data.number]"
            [disabled]="mapOfConfirmedQuantity[data.number] === 0" style="width: 250px;" /></td>
        <td>
          <button nz-button nzType="primary" (click)="confirmPick(data)"
            [disabled]="mapOfConfirmedQuantity[data.number] === 0">
            {{ 'description.field.button.confirm' | translate }}
          </button></td>
      </tr>

    </tbody>
  </nz-table>
</div>

<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <button nz-button nzType="danger" (click)="cancelSelectedPicks()">
      {{ 'description.field.button.delete' | translate }}
    </button>
    <button nz-button nzType="primary" (click)="confirmPicks()">
      {{ 'description.field.button.confirm' | translate }}
    </button>
  </div>
</ng-template>
