
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">



<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="integrationDateTimeRanger">
          {{ 'integration.date-time' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-range-picker [nzShowTime]="{ nzHideDisabledOptions: true }" nzFormat="yyyy-MM-dd HH:mm:ss"
            formControlName="integrationDateTimeRanger" name="integrationDateTimeRanger">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="integrationDate">
          {{ 'integration.date' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-date-picker formControlName="integrationDate" name="integrationDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="status">
          {{ 'integration.status' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          
          <nz-select  nzMode="multiple" formControlName="statusList" name="statusList">
            <nz-option
              *ngFor="let status of integrationStatusListKeys"
              [nzValue]="status"
              nzLabel="{{ 'INTEGRATION-STATUS-' + status | i18n}}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    
    <div nz-col [nzSpan]="12" [hidden]="isCollapse">
      <nz-form-item nzFlex>
        <nz-form-label [nzSpan]="6" nzFor="id">
          {{ 'id' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="6">
          
          <input nz-input name="id" id="id" formControlName="id"> 
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()" [nzLoading]="searching">
        {{ 'search' | i18n }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
      <a class="collapse" (click)="toggleCollapse()">
        {{ 'collapse' | i18n }}

        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
      </a>
    </div>
  </div>
</form>


<!-- Table to Display the result  -->
<div class="search-result-list">
  <nz-table 
  [nzScroll]="{ x: '100vw' }"  nzShowSizeChanger nzShowPagination [nzData]="listOfAllIntegrationOrders" #nestedTable
    [nzFooter]="tableFoot">
    <thead  >
      <tr><th nzWidth="40px"></th>
        <th
            *ngFor="let column of listOfColumns"
            [nzShowSort]="column.showSort"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"        
            [nzShowFilter]="column.showFilter"
          >
            {{ column.name | i18n }}
          </th> 
 
          <th nzEllipsis>{{ 'integration.errorMessage' | i18n }}</th>
          <th nzRight>{{ 'action' | i18n }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>

          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          <td>{{ data.id }}</td>
          <td>{{ data.number }}</td>
          <td>{{ data.warehouseId }}</td>
          <td>{{ data.warehouseName }}</td>
          <td>   
                <div>
                  {{ data.shipToAddressLine1 }}
                </div>
                <div *ngIf="data.shipToAddressLine2 != null">
                  {{ data.shipToAddressLine2 }}
                </div>
                <div>
                  {{ data.shipToAddressCity }}, {{ data.shipToAddressState }}
                  {{ data.shipToAddressPostcode }}
                </div> 
          </td>
          <td>  
                <div>
                  {{ data.billToAddressLine1 }}
                </div>
                <div *ngIf="data.billToAddressLine2 != null">
                  {{ data.billToAddressLine2 }}
                </div>
                <div>
                  {{ data.billToAddressCity }}, {{ data.billToAddressState }}
                  {{ data.billToAddressPostcode }}
                </div> 
          </td>
          <td>{{ 'INTEGRATION-STATUS-' + data.status | i18n}}</td>
          
          <td>
            {{data.createdTime | date:'short'}} 
          </td>
          <td>
            {{data.lastModifiedTime  | date:'short'}} 
          </td>
          <td nzEllipsis>
            <a>
              <span nz-tooltip nzTooltipTitle="{{ data.errorMessage }}">{{ data.errorMessage }}</span>
            </a>
          </td>
          <td nzRight>
            <button nz-button (click)="resendIntegration(data.id!)">{{ 'resend' | i18n }}</button>
          </td>

        </tr>
        <tr  [nzExpand]="expandSet.has(data.id)" class="inner-table">
          
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
              <nz-tab nzTitle=" {{ 'order.line' | i18n }}">
                <nz-table 
                [nzScroll]="{ x: 'true', y: 'true' }" #innerTable [nzData]="data.orderLines" nzSize="middle" [nzShowPagination]="false">

                  <thead>
                    <th>
                      {{ 'order.line.number' | i18n }}
                    </th>
                    <th>
                      {{ 'item.id' | i18n }}
                    </th>
                    <th>
                      {{ 'item.name' | i18n }}
                    </th>
                    <th>
                      {{ 'inventory-status.id' | i18n }}
                    </th>
                    <th>
                      {{ 'inventory-status.name' | i18n }}
                    </th>
                    <th>
                      {{ 'carrier.id' | i18n }}
                    </th>
                    <th>
                      {{ 'carrier.name' | i18n }}
                    </th>
                    <th>
                      {{ 'carrier.service-level.id' | i18n }}
                    </th>
                    <th>
                      {{ 'carrier.service-level.name' | i18n }}
                    </th>
                    <th>
                      {{ 'order.line.expectedQuantity' | i18n }}
                    </th>
                  </thead>
    <tbody>
      <tr *ngFor="let orderLine of data.orderLines">
        <td>{{ orderLine.number }}</td>
        <td>{{ orderLine.itemId }}</td>
        <td>{{ orderLine.itemName }}</td>
        <td>{{ orderLine.inventoryStatusId }}</td>
        <td>{{ orderLine.inventoryStatusName }}</td>
        <td>{{ orderLine.carrierId }}</td>
        <td>{{ orderLine.carrierName }}</td>
        <td>{{ orderLine.carrierServiceLevelId }}</td>
        <td>{{ orderLine.carrierServiceLevelName }}</td>
        <td>{{ orderLine.expectedQuantity }}</td> 
      </tr>
    </tbody>
  </nz-table>
  </nz-tab>


  </nz-tabset>
   
  </tr>
  </ng-template>
  </tbody>
  </nz-table>
</div>

<ng-template #tableFoot>
  @if(searchResult != '') {

    <div nz-row nzType="flex" nzJustify="start">
      {{searchResult}}
    </div>
  }
</ng-template>

</nz-spin>