<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/inventory/item-family" routerLinkActive="active">{{
    'description.field.link.return' | translate
  }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'description.field.breadcrumb.home' | translate }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.main' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'description.field.breadcrumb.inventory' | translate }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/inventory/item-family" routerLinkActive="active">{{
        'description.field.breadcrumb.item-family' | translate
      }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<div nz-row style="padding: 50px">
  <div nz-col nzSpan="12" nzOffset="6">
    <nz-steps [nzCurrent]="1" [nzSize]="'default'" (nzIndexChange)="onStepIndexChange($event)">
      <nz-step nzTitle="{{ 'description.steps.basic-info.title' | translate }}"
        nzDescription="{{ 'description.steps.item-family-maintenance.basic-info.description' | translate }}">
      </nz-step>
      <nz-step nzTitle="{{ 'description.steps.confirm.title' | translate }}"
        nzDescription="{{ 'description.steps.confirm.description' | translate }}">
      </nz-step>
    </nz-steps>
  </div>
</div>


<ng-container>
  <nz-card nzTitle="{{ currentItemFamily.name }}" [nzActions]="[actionSave]">
    <nz-descriptions nzBordered>

      <nz-descriptions-item nzTitle="{{'item-family.name' | translate}}">
        {{currentItemFamily.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="{{'item-family.description' | translate}}" nzSpan="2">
        {{currentItemFamily.description}}
      </nz-descriptions-item>

    </nz-descriptions>
  </nz-card>
</ng-container>


<ng-template #actionSave>
  <button nz-button nzType="primary"
    (click)="saveItemFamily()">{{ 'confirm' | translate}}</button>
</ng-template>
