<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>
<ng-template #returnLink>
  <a routerLink="/work-order/work-order" routerLinkActive="active">{{ 'return' | i18n }}</a>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/work-order/work-order" routerLinkActive="active">{{
        'work-order' | i18n
        }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">

<nz-steps nzType="navigation" [nzCurrent]="stepIndex">
  <nz-step nzTitle="{{ 'work-order' | i18n }}"> </nz-step>
  <nz-step nzTitle="{{ 'sequencing' | i18n }}"> </nz-step> 
  <nz-step nzTitle="{{ 'steps.confirm' | i18n }}"> </nz-step>
</nz-steps>

<!-- Step 1: choose work order to group together 
  -->
<div class="small-card" *ngIf="stepIndex === 0">

    <nz-transfer
      [nzDataSource]="workOrderNumberCandidates" 
      nzShowSearch
      [nzFilterOption]="filterOption"
      (nzSearchChange)="search($event)"
      (nzSelectChange)="select($event)"
      (nzChange)="change($event)"
    ></nz-transfer>
</div>
  
<!-- Step 2: sequence work order 
  -->
<div class="small-card" *ngIf="stepIndex === 0">

</div>

  
<!-- Step 3: confirm result
  -->
<div class="small-card" *ngIf="stepIndex === 0">

</div>

<div class="steps-action">
    <button nz-button nzType="default" (click)="previousStep()" *ngIf="stepIndex > 0">
      <span>{{ 'steps.previous' | i18n }}</span>
    </button>
    <nz-divider nzType="vertical" *ngIf="stepIndex < 4"></nz-divider>
    <button nz-button nzType="default" (click)="nextStep()" *ngIf="stepIndex < 4">
      <span>{{ 'steps.next' | i18n }}</span>
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="confirm()" *ngIf="stepIndex === 4">
      <span> {{ 'confirm' | i18n }}</span>
    </button>
  </div>
  </nz-spin>