<page-header></page-header>

<!-- Form to query the result  -->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item nzFlex>
        <nz-form-label for="number" [nzSm]="3" [nzXs]="3">
          {{ 'description.field.label.wave.number' | translate }}
        </nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="number" id="number" formControlName="number" />
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">
        {{ 'description.field.button.search' | translate }}
      </button>
      <button nz-button (click)="resetForm()">{{ 'description.field.button.clear' | translate }}</button>
    </div>
  </div>
</form>

<!-- Table to Display the result  -->
<div class="search-result-list">

  <nz-table nzShowSizeChanger nzShowPagination [nzData]="listOfAllWaves" [nzFooter]="tableFoot" #nestedTable>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="62px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>

        <th nzShowExpand></th>
        <th nzShowSort nzSortKey="id">{{ 'description.field.table.header.id' | translate }}</th>
        <th nzShowSort nzSortKey="number">
          {{ 'description.field.label.wave.number' | translate }}
        </th>
        <th nzShowSort nzSortKey="totalOrderCount">
          {{ 'description.field.label.wave.totalOrderCount' | translate }}
        </th>
        <th nzShowSort nzSortKey="totalItemCount">
          {{ 'description.field.label.wave.totalItemCount' | translate }}
        </th>
        <th nzShowSort nzSortKey="totalQuantity">
          {{ 'description.field.label.wave.totalQuantity' | translate }}
        </th>

        <th nzShowSort nzSortKey="totalPickedQuantity">
          {{ 'description.field.label.wave.totalPickedQuantity' | translate }}
        </th>

        <th nzShowSort nzSortKey="totalStagedQuantity">
          {{ 'description.field.label.wave.totalStagedQuantity' | translate }}
        </th>
        <th nzShowSort nzSortKey="totalShippedQuantity">
          {{ 'description.field.label.wave.totalShippedQuantity' | translate }}
        </th>
        <th>
          {{ 'description.field.label.action' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>

          <td nzShowExpand [(nzExpand)]="mapOfExpandedId[data.id]"></td>
          <td>{{ data.id }}</td>
          <td>{{ data.number }}</td>
          <td>{{ data.totalOrderCount }}</td>
          <td>{{ data.totalItemCount }}</td>
          <td>{{ data.totalQuantity }}</td>
          <td>{{ data.totalPickedQuantity }}</td>
          <td>{{ data.totalStagedQuantity }}</td>
          <td>{{ data.totalShippedQuantity }}</td>
          <td>
            <button nz-button nzType="primary" (click)="allocateWave(data)">
              {{ 'description.field.button.wave.allocate' | translate }}
            </button></td>
        </tr>
        <tr [nzExpand]="mapOfExpandedId[data.id]">
          <td colspan="2"></td>
          <td colspan="8">
            <nz-tabset>
              <nz-tab nzTitle="{{ 'description.field.label.shipment' | translate }}">

                <nz-table #innerTable [nzData]="data.shipmentLines" nzSize="middle" [nzShowPagination]="false"
                  nzBordered class="inner-table">

                  <thead>
                    <th>
                      {{ 'description.field.label.shipment.number' | translate }}</th>
                    <th>
                      {{ 'description.field.label.shipment.line.number' | translate }}</th>
                    <th>
                      {{ 'description.field.label.order.number' | translate }}</th>
                    <th>
                      {{ 'description.field.label.order.line.number' | translate }}</th>
                    <th>
                      {{ 'description.field.label.item' | translate }}</th>
                    <th>
                      {{ 'description.field.label.shipment.line.quantity' | translate }}</th>
                    <th>
                      {{ 'description.field.label.shipment.line.shippedQuantity' | translate }}</th>
                  </thead>
    <tbody>
      <tr *ngFor="let shipmentLine of data.shipmentLines">
        <td>{{ shipmentLine.shipmentNumber }}</td>
        <td>{{ shipmentLine.number }}</td>
        <td>{{ shipmentLine.orderNumber }}</td>
        <td>{{ shipmentLine.orderLine?.number }}</td>
        <td>{{ shipmentLine.orderLine?.item?.name }}</td>
        <td>{{ shipmentLine.quantity }}</td>
        <td>{{ shipmentLine.shippedQuantity }}</td>
      </tr>

    </tbody>
  </nz-table>
  </nz-tab>
  <nz-tab nzTitle="{{ 'description.field.label.pick' | translate }}">

    <nz-table #innerTable [nzData]="data.picks" nzSize="middle" [nzShowPagination]="false" nzBordered
      class="inner-table">

      <thead>
        <th>
          {{ 'description.field.label.pick.number' | translate }}</th>
        <th>
          {{ 'description.field.label.order.number' | translate }}</th>
        <th>
          {{ 'description.field.label.sourceLocation' | translate }}</th>
        <th>
          {{ 'description.field.label.destinationLocation' | translate }}</th>
        <th>
          {{ 'description.field.label.item' | translate }}</th>
        <th>
          {{ 'description.field.label.item.description' | translate }}</th>
        <th>
          {{ 'description.field.label.pick.quantity' | translate }}</th>
        <th>
          {{ 'description.field.label.pick.pickedQuantity' | translate }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let pick of data.picks">
          <td>{{ pick.number }}</td>
          <td>{{ pick.orderNumber }}</td>
          <td>{{ pick.sourceLocation?.name }}</td>
          <td>{{ pick.destinationLocation?.name }}</td>
          <td>{{ pick.item?.name }}</td>
          <td>{{ pick.item?.description }}</td>
          <td>{{ pick.quantity }}</td>
          <td>{{ pick.pickedQuantity }}</td>
        </tr>

      </tbody>
    </nz-table>
  </nz-tab> 
  <nz-tab nzTitle="{{ 'description.field.label.short-allocation' | translate }}">
    
      <nz-table #innerTable [nzData]="data.shortAllocations" nzSize="middle" [nzShowPagination]="false" nzBordered
        class="inner-table">

        <thead>
          <th>
            {{ 'description.field.label.order.number' | translate }}</th>

          <th>
            {{ 'description.field.label.item' | translate }}</th>
          <th>
            {{ 'description.field.label.item.description' | translate }}</th>
          <th>
            {{ 'description.field.label.short-allocation.quantity' | translate }}</th>

        </thead>
        <tbody>
          <tr *ngFor="let shortAllocation of data.shortAllocations">
            <td>{{ shortAllocation.orderNumber }}</td>
            <td>{{ shortAllocation.item?.name }}</td>
            <td>{{ shortAllocation.item?.description }}</td>
            <td>{{ shortAllocation.quantity }}</td>
          </tr>

        </tbody>
      </nz-table> 
  </nz-tab> 
  </nz-tabset>
  </td>
  </tr>
  </ng-template>
  </tbody>
  </nz-table>
</div>

<ng-template #tableFoot>
  <div nz-row nzType="flex" nzJustify="start">
    <button nz-button nzType="danger" (click)="removeSelectedWaves()">
      {{ 'description.field.button.delete' | translate }}
    </button>
    <button nz-button nzType="primary" routerLink="/outbound/wave-maintenance" routerLinkActive="active">
      {{ 'description.field.button.add' | translate }}
    </button>
  </div>
</ng-template>
