<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="returnLink"> </page-header>

<ng-template #returnLink>
    <a routerLink="/inventory/item-sampling" routerLinkActive="active"
      [queryParams]="{ number: currentItemSampling.number }">{{ 'return' | i18n }}</a>
</ng-template>

<ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/" routerLinkActive="active">{{ 'breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a>{{ 'breadcrumb.main' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a routerLink="/inventory/item-sampling" routerLinkActive="active">{{
          'item-sampling' | i18n
          }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>{{ pageTitle }}</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">

    <nz-steps nzType="navigation" [nzCurrent]="stepIndex">
        <nz-step nzTitle="{{ 'steps.basic-info.title' | i18n }}"> </nz-step>
        
        <nz-step nzTitle="{{ 'steps.confirm' | i18n }}"> </nz-step>
    </nz-steps>

    <!-- Let the user input the order information -->
    <nz-card class="small-card" *ngIf="stepIndex === 0 && currentItemSampling !== undefined" 
    style="margin-top: 20px;"   >
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-label [nzSpan]="6">
                  {{ 'number' | i18n }}
                </nz-form-label>
                <nz-form-control [nzSpan]="18" nzHasFeedback [nzErrorTip]="sampleNumberErrorTpl" [nzValidateStatus]="sampleNumberValidateStatus"
                >
                  <input  appFkey variable="item-sampling-number"  type="text" nz-input [(ngModel)]="currentItemSampling!.number" required 
                    (blur)="sampleNumberChange($event)" [disabled]="!newSample"/>
                  <ng-template #sampleNumberErrorTpl let-control>  
                      <ng-container *ngIf="sampleNumberValidateStatus === 'required'">{{ 'error.form.field.required' | i18n }}</ng-container>
                      <ng-container *ngIf="sampleNumberValidateStatus === 'numberExists'">Sample number already exists</ng-container>
                    
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
        
            <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6">
                    {{ 'description' | i18n }}
                  </nz-form-label>
                  <nz-form-control [nzSpan]="18" >                    
                    <input   type="text" nz-input [(ngModel)]="currentItemSampling!.description"/>        
                  </nz-form-control>
                </nz-form-item>
              </div>

              
            <div nz-col [nzSpan]="8">
              <nz-form-item nzFlex>
                  <nz-form-label [nzSm]="6" [nzXs]="6" nzFor="itemName">
                      {{ 'item' | i18n }}
                  </nz-form-label>
              <nz-form-control [nzSpan]="14">
                  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                      <input nz-input  type="text"  [ngModel]="currentItemSampling!.item?.name" 
                      
                         (blur)="itemNameBlur($event)"  [disabled]="!newSample"/>
                  </nz-input-group>
                  <ng-template #suffixIconButton>
                      <app-inventory-item-query-popup (recordSelected)="processItemQueryResult($event)">
                      </app-inventory-item-query-popup>
                  </ng-template>
              </nz-form-control>
              </nz-form-item>
          </div>
          
        </div> 
        
        <div nz-row [nzGutter]="24"> 
          <div class="clearfix">
              <nz-upload
              [nzAction]="imageFileUploadUrl"
              [nzHeaders]="{ authorization: 'authorization-text' }"
              nzListType="picture-card"
              [nzAccept]="acceptUploadedFileTypes"
               (nzChange)="handleUploadChange($event)"
              [nzFileList]="fileList"
              [nzShowButton]="fileList.length < 8"
              [nzPreview]="handlePreview"
              [nzDisabled]="imageFileUploadUrl == ''"
            >
              <div>
                <i nz-icon nzType="plus"></i>
                <div style="margin-top: 8px">
                  {{ 'file-upload' | i18n }}</div>
              </div>
            </nz-upload>
            <nz-modal
              [nzVisible]="previewVisible"
              [nzContent]="modalContent"
              [nzFooter]="null"
              (nzOnCancel)="previewVisible = false"
            >
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
              </ng-template>
            </nz-modal>
          </div>

        </div>
    </nz-card>
 
    <!-- Let the user confirm the result -->
    <nz-card class="small-card" *ngIf="stepIndex === 1" style="margin-top: 20px;">

        <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="{{ 'number' | i18n}}"> 
                {{currentItemSampling!.number }}
            </nz-descriptions-item> 
            <nz-descriptions-item nzTitle="{{ 'description' | i18n}}"> 
                {{currentItemSampling!.description }}
            </nz-descriptions-item> 
            <nz-descriptions-item nzTitle="{{ 'item' | i18n}}"> 
                {{currentItemSampling!.item!.name }}
            </nz-descriptions-item> 
            <nz-descriptions-item nzTitle="{{ 'Images' | i18n}}"> 
                {{currentItemSampling.imageUrls}}
            </nz-descriptions-item> 
        </nz-descriptions>
        
        
    </nz-card>



    <div class="steps-action" style="padding-top: 15px;">
        <button nz-button nzType="default" (click)="previousStep()" *ngIf="stepIndex > 0">
            <span>{{ 'steps.previous' | i18n }}</span>
        </button>
        <nz-divider nzType="vertical" *ngIf="stepIndex < 1"></nz-divider>
        <button nz-button nzType="default" (click)="nextStep()" *ngIf="stepIndex < 1">
            <span>{{ 'steps.next' | i18n }}</span>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="confirm()" *ngIf="stepIndex === 1">
            <span> {{ 'confirm' | i18n }}</span>
        </button>
    </div>

</nz-spin>