<page-header> </page-header>

<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
  <!-- Form to query the result  -->
  <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form"> 

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" nzFor="companyName">
            {{ 'company.name' | i18n }}
          </nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input name="companyName" id="companyName" formControlName="companyName">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()"  >
          {{ 'search' | i18n }}
        </button>
        <button nz-button (click)="resetForm()">{{ 'clear' | i18n }}</button>
      </div>
    </div>
  </form> 
 
 
  
  <div class="search-result-list"> 
    
    <st #st [data]="dataInitialRequests" [columns]="columns" [footer]="tableFoot">
    </st>
  
  </div>
 
</nz-spin>
<ng-template #tableFoot>

  @if(searchResult != '') {

    <div nz-row nzType="flex" nzJustify="start">
      {{searchResult}}
    </div>
  }
  <div nz-row nzType="flex" nzJustify="start" style="padding: 15px;" *ngIf="!displayOnly">
    
    <button nz-button nzType="primary" (click)="openRequestDataInitialModal(tplDataInitialRequestModalTitle, tplDataInitialRequestModalContent )">
      {{ 'add' | i18n }}
    </button>
  </div>
</ng-template>


<!-- Modal for inventory movement-->
<ng-template #tplDataInitialRequestModalTitle>
    <span>{{ 'page.modal.delete.header.title' | i18n}}</span>
  </ng-template>
  <ng-template #tplDataInitialRequestModalContent>
    <form nz-form [formGroup]="dataInitialRequestForm">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label [nzSpan]="8" nzFor="companyName">
              {{ 'company.name' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-input-group nzSize="large">
                <input nz-input formControlName="companyName" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label [nzSpan]="8" nzFor="warehouseName">
              {{ 'warehouse.name' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-input-group nzSize="large">
                <input nz-input formControlName="warehouseName" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item nzFlex>
            <nz-form-label [nzSpan]="8" nzFor="adminUsername">
              {{ 'data-initial-request.admin-username' | i18n }}
            </nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-input-group nzSize="large">
                <input nz-input formControlName="adminUsername" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      
    </form>
  </ng-template>



 